.cart_title_bold {
    font-size: 20px;
    line-height: inherit;
    color: #004963;
    font-weight: 600;
    letter-spacing: 0.25px;
}

.cartdaysUL li {
    font-size: 15px;
}

.cart_new_design p {
    font-size: 13px;
}

.cart_new_design p,
.cartdaysUL li {
    line-height: inherit;
    color: #004963;
    font-weight: normal;
    letter-spacing: 0.25px;
}

.cartdaysUL li {
    text-transform: capitalize;
}

.cartdaysUL li.active,
.cart_participant p {
    color: #ff4c46;
    font-weight: 500;
}

.cart_content_main {
    gap: 15px;
    grid-gap: 15px;
}

.cart_content_main,
.CartTraveldate,
.Cartadchinfact,
.cart_participant,
.cart_cancelhistory,
.cart_participant a {
    display: flex;
    align-items: flex-start;
}

.CartTraveldate,
.Cartadchinfact,
.cart_participant,
.cart_cancelhistory,
.cart_participant a {
    gap: 7px;
    grid-gap: 7px;
}

.cart_new_design .iconsTraveldate {
    width: auto;
    max-width: 11.5px;
}

.cart_new_design .cart_historyimg {
    width: auto;
    max-width: 17px;
}

.cart_new_design .cart_imges img {
    border-radius: 10px;
}

.cart_new_design .cart_imges {
    display: flex;
    flex: 1;
}

.cartcontents_headings {
    display: flex;
    flex-direction: column;
    flex: 6;
}

.cart_new_design .card_box {
    position: relative;
}

.cart_new_design .remove_cart {
    position: absolute;
    top: 0px;
    left: auto;
    right: 0;
    font-size: 14px;
    line-height: 24px;
    color: #004963;
    font-weight: 500;
}

.cart_new_design .remove_cart a {
    transition: 0.5s all ease-in-out;
    display: flex;
    align-items: center;
    gap: 2px;
    grid-gap: 2px;
}

.cart_cancelhistory {
    margin-top: 20px;
}

.cart_contentprices {
    flex-direction: column;
}

.cart_contentprices,
.cart_contents_img {
    display: flex;
    align-items: center;
}

.contentprices_title {
    color: #ff4c46;
    font-size: 20px;
    font-weight: 600;
}

.cart_contents_img {
    border-bottom: 1px solid #004963;
    padding: 25px 0 15px;
}

.cartdaysUL li {
    position: relative;
    padding-right: 20px;
}

.cartdaysUL li:not(:last-child)::after {
    position: absolute;
    content: '';
    background: transparent;
    appearance: none;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0;
    top: 5px;
    left: auto;
    right: 0px;
    bottom: auto;
    background-position: center;
    background-image: url(../../../img/cart-right-arrow.png);
    width: 17px;
    height: 14px;
}

.cart_new_design {
    margin-bottom: 15px;
}

.cart_right_border {
    border: 1px solid #004963;
    border-radius: 5px;
    padding: 12px;
}

.cart_dflex_right p,
.cart_right_payschedule .payscheduleTitle,
.cartFormCoupon .cart_disTitle,
.faq_cart_title {
    font-size: 14px;
    font-weight: 600;
    line-height: inherit;
    color: #004963;
    letter-spacing: 0.25px;
}

.cart_dflex_right {
    display: flex;
    justify-content: space-between;
}

.cart_dflex_right .cart_dflex_right_price {
    font-weight: 500;
    font-size: 16px;
}

.cart_dflex_right .grand_total_price {
    color: #ff4c46;
}

.taxfeesInclude {
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    color: #004963;
    letter-spacing: 0.25px;
    text-align: right;
    margin-bottom: 5px;
}

.cart_right_paynow {
    background: #e0ffdf;
    padding: 10px;
    color: #004963;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.25px;
    font-weight: 600;
    margin-bottom: 15px;
}

.cart_right_paynow span {
    color: #ff4c46;
    font-size: 21px;
}

.cart_right_buttons a {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    font-weight: 500;
    transition: 0.5s all ease-in-out;
    padding: 3px 15px;
    border-radius: 10px;
    border: 1px solid #004963;
    display: inline-flex;
    justify-content: center;
    flex: 1;
}

.cart_right_buttons .button1 {
    background: #004963;
    color: #FFF;
}

.cart_right_buttons .button2 {
    color: #004963;
}

.cart_right_buttons {
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
    grid-gap: 10px;
}

.cart_right_buttons a:hover {
    background: var(--anchorHoverBg);
    color: var(--text-color);
    border-color: var(--anchorHoverBg);
}

.cart_right_border .checkoutUL ul {
    gap: 22px;
    grid-gap: 22px;
}

.cart_right_border .checkoutUL {
    margin-bottom: 10px;
    border-bottom: 1px solid #004963;
    padding-bottom: 15px;
}

.paysche_cols {
    display: flex;
    justify-content: space-between;
}

.paysche_cols .date_schedule {
    font-size: 14px;
    line-height: 34px;
    letter-spacing: 0.25px;
    color: #004963;
}

.payscheduleTitle {
    padding-bottom: 5px;
}

.paysche_cols .date_schedule_price {
    background: #e4e4e4;
    border-radius: 10px;
    width: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.cart_right_payschedule .payscheDatePrice {
    gap: 10px;
    grid-gap: 10px;
    display: flex;
    flex-direction: column;
}

.cart_right_border:not(:last-child) {
    margin-bottom: 10px;
}

.cartFormCoupon .cart_disTitle {
    padding-bottom: 10px;
}

.cart_right_border .cartDisCoupon {
    margin-bottom: 0;
}

.cartDisCoupon .cartFormCoupon .form-row {
    gap: 5px;
    grid-gap: 5px;
}

.cartDisCoupon .cartFormCoupon .moreTourBtn button {
    font-size: 13.5px;
    padding: 7px 30px;
}

.cartDisCoupon .inputGroup input {
    padding-top: 7px;
    padding-bottom: 7px;
}

.cartpageSec .form-control.is-invalid,
.cartpageSec .was-validated .form-control:invalid {
    border-color: #ff4c46;
    background-image: none;
}

.cartpageSec .invalid-feedback {
    color: #ff4c46;
}

.FAQCart_Section .faq_cart_title {
    padding-bottom: 8px;
}

.FAQCart_Section .accordion-button {
    font-size: 13px;
    font-weight: 500;
    line-height: inherit;
    color: #004963;
    letter-spacing: 0.25px;
    background-color: transparent;
    padding-left: 0;
    padding-right: 12px;
    border-top: 1px solid rgb(0 73 99 / 54%);
    box-shadow: none;
    padding-top: 7px;
    padding-bottom: 7px;
}

.FAQCart_Section .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.FAQCart_Section .accordion-button::after {
    width: 10px;
    height: 10px;
    background-size: 100%;
    top: 12px;
    position: absolute;
    left: auto;
    right: 0;
}

.FAQCart_Section .accordion-item {
    border: 0px;
}

.FAQCart_Section .accordion-body {
    padding: 0;
}

.FAQCart_Section .para {
    font-size: 12px;
    color: #004963;
    line-height: 18px;
    text-align: left;
    padding-bottom: 8px;
}

.FAQCart_Section .accordion-button::after,
.FAQCart_Section .accordion-button:not(.collapsed)::after {
    background-image: url('../../../img/cart-faq-arrow.png');
}

.FAQCart_Section .accordion-item:last-child .accordion-button {
    border-bottom: 1px solid rgb(0 73 99 / 54%);
}

.FAQCart_Section .accordion-button:not(.collapsed)::after {
    top: 7px;
}

.cartpageSec .moreTourBtn a,
.cartpageSec .moreTourBtn button {
    font-size: 13px;
    padding: 10px 45px;
}

.cart_new_design .cart_contents_img {
    gap: 5px;
    grid-gap: 5px;
}

.CartTraveldate,
.Cartadchinfact,
.cart_participant a {
    align-items: baseline;
}

.cart_new_design img {
    vertical-align: inherit;
}

.FAQCart_Section .accordion-item:last-child .accordion-body .para {
    padding-top: 8px;
    padding-bottom: 0;
}

.cartpageSec .spotTitle {
    margin-bottom: 0;
}

.FAQCart_Section .accordion-item:last-child .accordion-button.collapsed {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


.payfull_hightlight {
    display: block;
    width: 100%;
    color: #ff4c46;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.25px;
}

.cart_payfull_buttons {
    flex-direction: column;
    gap: 5px;
    grid-gap: 5px;
}

.cartDisCoupon .invalid-feedback {
    font-size: 11px;
}

.payment_total_amount {
    display: flex;
    align-items: baseline;
    gap: 5px;
    grid-gap: 5px;
}

.cart_new_design .cart_contentprices {
    align-items: end;
}

.cart_new_design tbody,
.cart_new_design td,
.cart_new_design tfoot,
.cart_new_design th,
.cart_new_design thead,
tr {
    font-size: 13px;
    line-height: inherit;
    color: rgb(0, 73, 99);
    font-weight: normal;
    letter-spacing: 0.25px;
    text-transform: capitalize;
    border: 0;
    text-align: right;
    padding: 5px 7px 5px 0;
}

.cart_new_design thead th {
    font-weight: 600;
}

.cart_content_main {
    border-right: 1px dashed rgb(0 73 99 / 61%);
    padding-right: 5px;
}

.hotelsTabView .tab {
    display: none;
}

.hotelsTabView .tab-active {
    display: block;
}

.border_top_payschedule {
    margin-bottom: 0px;
    border-top: 1px solid #004963;
    padding-top: 10px;
}

.paymentPageSec .checkoutAccTitle {
    background: #f6f6f6;
    border-radius: 5px 5px 0 0;
    font-size: 17px;
}

.payment_section {
    border: 1px solid #004963;
    border-radius: 5px;
}

.paymentPageSec .lead_passenger_form {
    padding: 15px;
}

.paymentPageSec .checkoutAccTitle {
    padding: 10px 15px;
}

.paymentPageSec .commonInnerblock {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    grid-gap: 10px;
}

.paymentPageSec .inputGroup {
    flex: 1;
}

.paymentPageSec .form-floating {
    position: relative;
    width: 100%;
}

.paymentPageSec .form-control:focus,
.paymentPageSec .form-select:focus {
    box-shadow: none;
    border-color: #004963;
    outline: none;
}

.paymentPageSec .form-select {
    cursor: pointer;
}

.paymentPageSec .form-select,
.paymentPageSec input,
.paymentPageSec textarea,
.payment_accordian_section.checkoutAccordian .form-control {
    border: 1px solid rgb(0 73 99 / 47%);
    font-size: 13px;
    font-weight: 500;
    height: 45px;
    border-radius: 10px;
    color: #004963;
}

.paymentPageSec input::placeholder,
.payment_accordian_section.checkoutAccordian input::placeholder,
.paymentPageSec .fullwidthInnerblock .sentMesg-email,
.paymentPageSec .lead_passenger_form label {
    color: #004963;
    font-size: 13px;
    font-weight: 400;
}

.paymentPageSec .commonInnerblock:not(:last-child) {
    margin-bottom: 20px;
}

.paymentPageSec .fullwidthInnerblock .sentMesg-email {
    margin-bottom: 22px;
    margin-top: -7px;
}

.paymentPageSec .mobileBox {
    gap: 8px;
    grid-gap: 8px;
}

.paymentPageSec .mobileBox input:first-child {
    width: 50px;
    padding: 0 5px;
    text-align: center;
}

.paymentPageSec textarea.form-control {
    height: 100px;
}

.paymentPageSec .payment_accordian_section .accordion-item {
    margin-top: 30px;
    border: 1px solid #004963;
    border-radius: 5px;
}

.paymentPageSec .payment_accordian_section .accordion-item:first-of-type .accordion-button,
.paymentPageSec .payment_accordian_section.checkoutAccordian .accordion-button:not(.collapsed),
.paymentPageSec .payment_accordian_section .accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 5px;
}

.paymentPageSec .payment_accordian_section.checkoutAccordian .accordion-button {
    padding: 0px 10px 0px 0;
    background-color: #f6f6f6;
}

.paymentPageSec .payment_accordian_section.checkoutAccordian .accordion-button:not(.collapsed)::after,
.paymentPageSec .payment_accordian_section.checkoutAccordian .accordion-button::after {
    width: 16px;
    height: 16px;
    background-size: 100%;
    top: 4px;
}

.paymentPageSec .payment_accordian_section.checkoutAccordian .accordion-button:not(.collapsed)::after {
    top: -4px;
}

.paymentPageSec .payment_accordian_section.checkoutAccordian .accordion-body-inner {
    padding: 10px;
}

.paymentPageSec .title_paymentd-flex {
    display: flex;
    justify-content: space-between;
    color: #004963;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 20px;
}

.paymentPageSec .repeat_block_ss:not(:first-child) .title_paymentd-flex {
    border-top: 1px solid #aac2cb;
    padding-top: 15px;
}

.paymentPageSec .repeat_block_ss:not(:first-child) {
    margin-top: 10px;
}

.paymentPageSec .hotelRoomsAccbody .accCustomSelect {
    width: 175px;
}

.paymentPageSec .imp-notes {
    color: #ff4c46;
    font-weight: 500;
    font-size: 13px;
    padding-left: 12px;
    padding-bottom: 5px;
}

.paymentPageSec .checkoutAccordian .accordion-body {
    padding: 0px 0px 0px;
    font-weight: 600;
    font-size: 13.5px;
}

.paymentPageSec .hotelsTabView ul {
    margin-bottom: 15px;
}

.paymentPageSec .hotelsTabView ul li a {
    color: #004963;
}

.paymentPageSec .hotelsTabView ul li:not(:last-child) a {
    border-right: 1px solid #004963;
    padding: 0px 10px;
    transition: all 0.5s ease-in-out;
}

.paymentPageSec .hotelsTabView ul li:first-child a {
    padding-left: 0px;
}

.paymentPageSec .hotelsTabView ul li:last-child a {
    padding-left: 10px;
}

.paymentPageSec .hotelsTabView .active-a,
.paymentPageSec .hotelsTabView a:hover {
    color: #ff4c46;
}

.paymentPageSec .hotelsTabView .commonInnerblock:not(:last-child),
.paymentPageSec .hotelRoomsAccbody .commonInnerblock:not(:last-child) {
    margin-bottom: 10px;
}

.paycardsTabView ul {
    display: flex;
    gap: 15px;
    grid-gap: 15px;
}

.paycardsTabView ul li,
.paycardsTabView ul li a {
    flex: 1;
}

.paycardsTabView.hotelsTabView ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0 73 99 / 54%);
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 13.5px;
    transition: all 0.5s ease-in-out;
}

.paycardsTabView.hotelsTabView ul li a:hover,
.paycardsTabView.hotelsTabView ul li a.tab-a.active-a {
    border-color: #ff4c46;
    color: #004963;
}

.paycardsTabView label {
    font-weight: 400;
    font-size: 12.5px;
    color: #004963;
    text-transform: uppercase;
    letter-spacing: 0.10px;
    padding-bottom: 5px;
}

.paycardsTabView .inputGroup:not(:last-child) {
    margin-bottom: 20px;
}

.paycardsTabView.hotelsTabView input::placeholder {
    font-weight: 400;
}

.paycardsTabView .expire_cvcode_main {
    gap: 100px;
    grid-gap: 100px;
}

.paycardsTabView .Expiry_date_input {
    gap: 10px;
    grid-gap: 10px;
}

.paymentPageSec .paycardsTabView .imp-notes {
    padding-top: 10px;
}

.paycardsTabView .partPaynt_rtblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

.paycardsTabView .priceTitle,
.paycardsTabView .priceBig,
.paycardsTabView .smallTitle {
    line-height: inherit;
    font-weight: 600;
    letter-spacing: 0.25px;
    color: #004963;
}

.paycardsTabView .priceTitle {
    font-size: 14px;
}

.paycardsTabView .priceBig {
    font-size: 35px;
    color: #ff4c46;
    padding: 3px 0;
}

.paycardsTabView .smallTitle {
    font-size: 11px;
    font-weight: normal;
}

.paymentPageSec .credit-debit-card-row {
    display: flex;
    align-items: flex-end;
}

.paymentPageSec .moreTourBtn button {
    background: #004963;
    border-radius: 10px;
    color: #FFF;
    font-size: 20px;
    line-height: inherit;
    font-weight: 500;
    padding: 15px 30px;
    transition: 0.5s all ease-in-out;
    letter-spacing: 0.20px;
    outline: none;
    box-shadow: none;
    border: 0;
    width: 100%;
    margin-top: 30px;
}

.paymentPageSec .moreTourBtn a:hover button {
    background: var(--anchorHoverBg);
    color: var(--text-color);
    border-color: var(--anchorHoverBg);
}

.paymentPageSec .lead_passenger_form .accCustomSelect {
    flex: 1;
}

.paymentPageSec .payment_accordian_section.checkoutAccordian .accordion-button.collapsed .checkoutAccTitle {
    background: transparent;
}

.paynow_reserve_button:hover {
    color: #004963;
}

.cart_new_design .d-flex-img-title {
    display: flex;
    gap: 10px;
    grid-gap: 10px;
}

.cart_new_design .cart_content_main {
    flex-direction: column;
}

.cart_new_design .table-responsive {
    width: 100%;
}

.cart_contents_img_new {
    flex-direction: column;
    align-items: flex-start;
}

.cart_content_main.cart_content_main_new {
    flex-direction: inherit;
    width: 100%;
    border: 0;
    padding: 0;
}

.cart_new_design .flex-direction-row-cols {
    flex-direction: row;
    width: 100%;
    padding: 0;
    border: 0;
    gap: 10px;
    grid-gap: 10px;
}

.cart_new_design .flex-direction-row-cols .cart_contentprices,
.cart_new_design .flex-direction-row-cols .cartcontents_headings {
    flex: 1;
}

.cart_new_design .flex-direction-row-cols .cartcontents_headings {
    border-right: 1px dashed rgb(0 73 99 / 61%);
    padding-right: 5px;
}

.room_para {
    display: flex;
    align-items: flex-start;
}

.room_para p:first-child {
    min-width: 60px;
}

.booking_cart_page .cart_new_design .d-flex-img-title {
    display: grid;
    grid-template-columns: 109px 1fr;
}

.booking_cart_page .cart_new_design .remove_cart a {
    display: grid;
    grid-template-columns: auto auto;
}

.booking_cart_page .cart_new_design .cart_contents_img {
    display: grid;
}

.booking_cart_page .CartTraveldate,
.booking_cart_page .Cartadchinfact,
.booking_cart_page .cart_participant,
.booking_cart_page .cart_cancelhistory,
.booking_cart_page .cart_participant a {
    display: grid;
    grid-template-columns: 12px auto;
    justify-content: flex-start;
}

.booking_cart_page .cart_new_design .flex-direction-row-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.booking_cart_page .cart_right_border .checkoutUL ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.booking_cart_page .cartDisCoupon .cartFormCoupon .form-row {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: flex-start;
}

.booking_cart_page .cartDisCoupon .cartFormCoupon .moreTourBtn button {
    height: 45px;
}

.booking_cart_page .cartDisCoupon .inputGroup input {
    border-radius: 4px;
}

.booking_cart_page .cart_new_design .remove_cart a i.fa.fa-times-circle.fa-sm {
    margin-top: 2px;
}

.checkout_page .paymentPageSec .commonInnerblock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.checkout_page .commonInnerblock.full-width-cols {
    grid-template-columns: 1fr;
}

.checkout_page .paymentPageSec .mobileBox {
    display: grid !important;
    grid-template-columns: auto 1fr;
    justify-content: flex-start;
}

@media screen and (max-width:1199px) {
    .cart_right_buttons,
    .CartTraveldate,
    .Cartadchinfact,
    .cart_participant,
    .cart_cancelhistory,
    .cart_participant a {
        gap: 5px;
        grid-gap: 5px;
    }

    .cart_right_buttons a {
        padding: 3px 7px;
    }

    .FAQCart_Section .para,
    .taxfeesInclude {
        font-size: 11px;
    }

    .FAQCart_Section .accordion-button,
    .cart_new_design p,
    .cartdaysUL li,
    .cart_right_buttons a {
        font-size: 12px;
    }

    .cartDisCoupon .cartFormCoupon .moreTourBtn button {
        font-size: 12.5px;
    }

    .cart_dflex_right p,
    .cart_right_payschedule .payscheduleTitle,
    .cartFormCoupon .cart_disTitle,
    .faq_cart_title,
    .paysche_cols .date_schedule,
    .cart_title_bold,
    .cart_new_design .remove_cart {
        font-size: 15px;
    }

    .cartdaysUL li:not(:last-child)::after {
        top: 3px;
    }

    .cart_right_paynow {
        font-size: 14px;
    }

    .cart_dflex_right .cart_dflex_right_price {
        font-size: 15px;
    }

    .contentprices_title {
        font-size: 19px;
    }

    .cart_right_paynow span {
        font-size: 20px;
    }

    .cart_new_design .cart_contents_img {
        gap: 10px;
        grid-gap: 10px;
        flex-direction: column;
    }

    .cart_new_design .iconsTraveldate {
        max-width: 10.5px;
    }

    .cart_content_main {
        flex: 9;
    }

    .cart_new_design .remove_cart {
        top: 11px;
    }

    .cart_new_design .cart_historyimg {
        max-width: 13px;
    }

    .payfull_hightlight {
        font-size: 12px;
    }

    .paymentPageSec .checkoutAccTitle {
        font-size: 14px;
    }

    .paymentPageSec .form-select,
    .paymentPageSec input,
    .paymentPageSec textarea,
    .payment_accordian_section.checkoutAccordian .form-control,
    .paymentPageSec input::placeholder,
    .payment_accordian_section.checkoutAccordian input::placeholder,
    .paymentPageSec .fullwidthInnerblock .sentMesg-email,
    .paymentPageSec .lead_passenger_form label {
        font-size: 12px;
    }

    .paymentPageSec .title_paymentd-flex {
        font-size: 13px;
        margin-bottom: 15px;
    }

    .paymentPageSec .form-select,
    .paymentPageSec input,
    .paymentPageSec textarea,
    .payment_accordian_section.checkoutAccordian .form-control {
        height: 40px;
    }

    .paymentPageSec .commonInnerblock:not(:last-child),
    .paymentPageSec .fullwidthInnerblock .sentMesg-email {
        margin-bottom: 15px;
    }

    .paymentPageSec .commonInnerblock,
    .paymentPageSec .mobileBox {
        gap: 7px;
        grid-gap: 7px;
    }

    .paymentPageSec .imp-notes {
        font-size: 10.5px;
    }

    .paymentPageSec .checkoutAccordian .accordion-body,
    .paycardsTabView.hotelsTabView ul li a {
        font-size: 12.5px;
    }

    .paycardsTabView ul {
        gap: 10px;
        grid-gap: 10px;
    }

    .paycardsTabView label,
    .paycardsTabView .priceTitle {
        font-size: 12px;
    }

    .paycardsTabView .expire_cvcode_main {
        gap: 60px;
        grid-gap: 60px;
    }

    .paycardsTabView .priceBig {
        font-size: 30px;
        padding: 0px 0;
    }

    .paycardsTabView .smallTitle {
        font-size: 8.5px;
    }

    .paymentPageSec .moreTourBtn button {
        font-size: 16px;
        margin-top: 27px;
    }

    .cart_content_main {
        border-right: 0px;
        padding-right: 0;
        border-bottom: 1px dashed rgb(0 73 99 / 61%);
        padding-bottom: 15px;
    }

    .cart_new_design .cart_contentprices {
        flex: auto;
        padding: 0;
    }

    .cart_content_main {
        flex: auto;
    }

    .cart_new_design tbody,
    .cart_new_design td,
    .cart_new_design tfoot,
    .cart_new_design th,
    .cart_new_design thead,
    tr {
        text-align: left;
        padding: 5px 0px 5px 0px;
    }

    .cart_new_design .cart_contents_img {
        align-items: flex-start;
    }

    .cart_new_design .cart_contentprices,
    .cart_content_main {
        width: 100%;
    }

    .cart_new_design tbody,
    .cart_new_design td,
    .cart_new_design tfoot,
    .cart_new_design th,
    .cart_new_design thead,
    tr {
        text-align: center;
    }

    .cart_new_design tbody,
    .cart_new_design td,
    .cart_new_design tfoot,
    .cart_new_design th,
    .cart_new_design thead,
    tr {
        font-size: 12px;
    }

    .booking_cart_page .para,
    .booking_cart_page .card_para,
    .checkout_page .para,
    .checkout_page .card_para {
        font-size: 12px !important;
    }

    .checkout_page .form-control {
        line-height: 40px;
        height: 40px;
    }

}

@media screen and (max-width:991px) {
    .cart_content_main {
        gap: 8px;
        grid-gap: 8px;
    }

    .cart_new_design .iconsTraveldate {
        max-width: 9.5px;
    }

    .taxfeesInclude,
    .FAQCart_Section .accordion-button {
        font-size: 10px;
        line-height: inherit;
    }

    .cart_new_design p,
    .cartdaysUL li,
    .cart_right_buttons a {
        font-size: 11px;
        line-height: inherit;
    }

    .cartDisCoupon .cartFormCoupon .moreTourBtn button {
        font-size: 11.5px;
        line-height: inherit;
    }

    .cart_dflex_right p,
    .cart_right_payschedule .payscheduleTitle,
    .cartFormCoupon .cart_disTitle,
    .faq_cart_title,
    .paysche_cols .date_schedule,
    .cart_title_bold,
    .cart_new_design .remove_cart {
        font-size: 12px;
        line-height: inherit;
    }

    .cart_right_paynow {
        font-size: 11px;
        line-height: inherit;
    }

    .cart_dflex_right .cart_dflex_right_price {
        font-size: 14px;
        line-height: inherit;
    }

    .contentprices_title {
        font-size: 17px;
        line-height: inherit;
    }

    .cart_right_paynow span {
        font-size: 15px;
        line-height: inherit;
    }

    .cartdaysUL li:not(:last-child)::after {
        top: 4px;
        width: 8px;
        height: 8px;
        right: 1px;
    }

    .cartdaysUL li {
        padding-right: 15px;
    }

    .cart_cancelhistory {
        margin-top: 15px;
    }

    .cart_content_main,
    .cart_contentprices {
        flex: auto;
    }

    .cart_contentprices p {
        text-align: center;
    }

    .cart_new_design .cart_historyimg {
        max-width: 12px;
    }

    .CartTraveldate,
    .Cartadchinfact,
    .cart_participant a {
        align-items: baseline;
    }

    .cart_new_design .cart_contents_img {
        gap: 5px;
        grid-gap: 5px;
    }

    .cart_contentprices {
        padding: 20px 0px 20px 10px;
    }

    .taxfeesInclude {
        margin-top: 8px;
        margin-bottom: 12px;
    }

    .cart_right_buttons {
        flex-direction: column;
    }

    .cart_right_border .checkoutUL ul {
        gap: 12px;
        grid-gap: 12px;
    }

    .payscheduleTitle {
        padding-bottom: 10px;
    }

    .paysche_cols .date_schedule {
        line-height: 22px;
    }

    .cartDisCoupon .cartFormCoupon .moreTourBtn button {
        padding: 7px 15px;
    }

    .cartDisCoupon .inputGroup input {
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 12.5px;
    }

    .FAQCart_Section .accordion-button::after {
        width: 8px;
        height: 8px;
        top: 11px;
    }

    .FAQCart_Section .accordion-button:not(.collapsed)::after {
        top: 8px;
    }

    .cartpageSec .moreTourBtn a,
    .cartpageSec .moreTourBtn button {
        font-size: 11px;
        padding: 7px 25px;
    }

    .cart_new_design .cartdaysUL li {
        font-size: 10.4px;
    }

    .cart_new_design .remove_cart {
        top: 13px;
    }

    .payfull_hightlight {
        font-size: 11px;
    }

    .FAQCart_Section .para,
    .taxfeesInclude {
        font-size: 9px;
        line-height: inherit;
    }

    .paymentPageSec .form-select {
        padding-right: 25px;
    }

    .paymentPageSec .form-select,
    .paymentPageSec input,
    .paymentPageSec textarea,
    .payment_accordian_section.checkoutAccordian .form-control,
    .paymentPageSec input::placeholder,
    .payment_accordian_section.checkoutAccordian input::placeholder,
    .paymentPageSec .fullwidthInnerblock .sentMesg-email,
    .paymentPageSec .lead_passenger_form label {
        font-size: 11px;
    }

    .paymentPageSec input::placeholder,
    .payment_accordian_section.checkoutAccordian input::placeholder,
    .paymentPageSec .fullwidthInnerblock .sentMesg-email,
    .paymentPageSec .lead_passenger_form label {
        font-size: 10px;
    }

    .paymentPageSec .mobileBox input:first-child {
        width: 45px;
    }

    .paymentPageSec .form-select,
    .paymentPageSec input,
    .paymentPageSec textarea,
    .payment_accordian_section.checkoutAccordian .form-control {
        height: 35px;
    }

    .paymentPageSec textarea.form-control {
        height: 80px;
    }

    .paymentPageSec .hotelRoomsAccbody .accCustomSelect,
    .paymentPageSec .hotelsTabView .accCustomSelect {
        width: 115px;
    }

    .paycardsTabView .expire_cvcode_main {
        gap: 35px;
        grid-gap: 35px;
    }

    .paymentPageSec .moreTourBtn button {
        font-size: 15px;
        margin-top: 22px;
        padding: 10px 30px;
    }

    .paycardsTabView .priceTitle {
        font-size: 9px;
    }

    .paycardsTabView .smallTitle {
        font-size: 7.5px;
    }

    .paycardsTabView .priceBig {
        font-size: 27px;
    }

    .cart_new_design tbody,
    .cart_new_design td,
    .cart_new_design tfoot,
    .cart_new_design th,
    .cart_new_design thead,
    tr {
        padding: 5px 5px 5px 5px;
    }

    .cart_new_design .flex-direction-row-cols {
        gap: 5px;
        grid-gap: 5px;
    }

    .cart_new_design .flex-direction-row-cols {
        flex-direction: column;
    }

    .cart_new_design tbody,
    .cart_new_design td,
    .cart_new_design tfoot,
    .cart_new_design th,
    .cart_new_design thead,
    tr {
        font-size: 11px;
    }

    .cart_new_design .flex-direction-row-cols .cart_contentprices,
    .cart_new_design .flex-direction-row-cols .cartcontents_headings {
        flex: auto;
        width: 100%;
    }

    .cart_new_design .flex-direction-row-cols .cartcontents_headings {
        border-right: 0;
        padding-right: 0;
        border-bottom: 1px dashed rgb(0 73 99 / 61%);
        padding-bottom: 12px;
    }

    .cart_new_design .cart_title_bold {
        width: 235px;
    }

    .booking_cart_page .cart_new_design .remove_cart a i.fa.fa-times-circle.fa-sm {
        margin-top: 1px;
    }

    .booking_cart_page .cart_new_design .flex-direction-row-cols {
        grid-template-columns: auto;
    }

    .booking_cart_page .cart_new_design .d-flex-img-title {
        grid-template-columns: 63px 1fr;
    }

    .booking_cart_page .CartTraveldate,
    .booking_cart_page .Cartadchinfact,
    .booking_cart_page .cart_participant,
    .booking_cart_page .cart_cancelhistory,
    .booking_cart_page .cart_participant a {
        align-items: center;
    }

    .booking_cart_page .form-control,
    .booking_cart_page .cartDisCoupon .cartFormCoupon .moreTourBtn button {
        height: 35px;
    }

    .booking_cart_page .para,
    .booking_cart_page .card_para,
    .checkout_page .para,
    .checkout_page .card_para {
        font-size: 10px !important;
    }

    .checkout_page .form-control {
        line-height: 35px;
        height: 35px;
        font-size: 11px !important;
    }

    .checkout_page #user_country_prefix.form-control {
        width: auto !important;
    }
}

@media screen and (min-width: 768px) and (max-width:991px) {
    .checkout_page .cart_dflex_right {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 767px) {
    .cartpageSec .moreTourBtn {
        justify-content: left;
        margin-bottom: 30px;
    }

    .cart_right_buttons a {
        padding: 6px 10px;
    }

    .cartFormCoupon .form-row {
        flex-wrap: nowrap;
    }

    .cartpageSec .cartFormCoupon .moreTourBtn {
        margin-bottom: 0px;
    }

    .cart_right_border .checkoutUL ul {
        gap: 22px;
        grid-gap: 22px;
    }

    .paymentPageSec .commonInnerblock,
    .paymentPageSec .mobileBox {
        gap: 5px;
        grid-gap: 5px;
    }

    .paymentPageSec .mobileBox input:first-child {
        padding: 0 2px;
    }

    .paymentPageSec .form-select,
    .paymentPageSec input,
    .paymentPageSec textarea,
    .payment_accordian_section.checkoutAccordian .form-control {
        padding: 6px 10px;
    }

    .paymentPageSec .hotelRoomsAccbody .accCustomSelect,
    .paymentPageSec .hotelsTabView .accCustomSelect {
        width: 100%;
    }

    .paycardsTabView .expire_cvcode_main {
        gap: 30px;
        grid-gap: 30px;
    }

    .paymentPageSec .credit-debit-card-row {
        align-items: flex-start;
    }

    .paycardsTabView .partPaynt_rtblock {
        margin-top: 25px;
    }

    .paymentPageSec .imp-notes {
        padding-left: 10px;
    }

    .paymentPageSec .moreTourBtn button {
        margin-bottom: 45px;
    }

    .cart_contentprices .table-responsive {
        width: 100%;
    }

    .cart_new_design .cart_contentprices {
        width: 100%;
    }

    .cart_new_design tbody,
    .cart_new_design td,
    .cart_new_design tfoot,
    .cart_new_design th,
    .cart_new_design thead,
    tr {
        text-align: left !important;
    }

    .cart_new_design tbody,
    .cart_new_design td,
    .cart_new_design tfoot,
    .cart_new_design th,
    .cart_new_design thead,
    tr {
        padding: 5px 0px 5px 0px;
    }

    .cart_new_design .cart_title_bold {
        width: auto;
    }

    .cart_new_design .d-flex-img-title {
        flex-direction: row;
        width: 100%;
    }

    .cart_new_design .cart_imges {
        justify-content: center;
    }

    .booking_cart_page .cart_new_design .d-flex-img-title {
        grid-template-columns: 73px 1fr;
    }

    .booking_cart_page .cart_calculation_section {
        margin-top: 25px;
    }

    .checkout_page .paycardsTabView .priceTitle {
        font-size: 12px;
    }

    .checkout_page .paycardsTabView .smallTitle {
        font-size: 11px;
    }

    .checkout_page .paycardsTabView .priceBig {
        font-size: 30px;
    }
}

@media screen and (max-width: 480px) {
    .cart_new_design .cart_contents_img,
    .cart_content_main {
        flex-direction: column;
    }

    .cart_contentprices {
        width: 100%;
        padding: 8px 10px 0;
        margin-top: 0px;
    }

    .cart_new_design .remove_cart a {
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: 600;
        background: #e0ffdf;
        border: 0px solid #004963;
    }

    .cart_new_design .remove_cart {
        top: -30px;
        right: 5px;
    }

    .cart_content_main {
        align-items: center;
    }

    .remove_cart ion-icon {
        font-size: 18px;
    }

    .cart_right_buttons {
        flex-direction: column;
    }

    .cart_right_border .checkoutUL ul {
        gap: 10px;
        grid-gap: 10px;
    }

    .paymentPageSec .commonInnerblock {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .paymentPageSec .inputGroup,
    .paymentPageSec .lead_passenger_form .accCustomSelect {
        flex: auto;
    }

    .paymentPageSec .form-select,
    .paymentPageSec input,
    .paymentPageSec textarea,
    .payment_accordian_section.checkoutAccordian .form-control,
    .paymentPageSec input::placeholder,
    .payment_accordian_section.checkoutAccordian input::placeholder,
    .paymentPageSec .fullwidthInnerblock .sentMesg-email,
    .paymentPageSec .lead_passenger_form label {
        font-size: 9.7px;
    }

    .paymentPageSec .checkoutAccTitle {
        font-size: 12px;
    }

    .paymentPageSec .title_paymentd-flex,
    .paymentPageSec input::placeholder,
    .payment_accordian_section.checkoutAccordian input::placeholder,
    .paymentPageSec .fullwidthInnerblock .sentMesg-email,
    .paymentPageSec .lead_passenger_form label {
        font-size: 9px;
    }

    .paymentPageSec .imp-notes {
        font-size: 8.5px;
    }

    .paycardsTabView .expire_cvcode_main {
        gap: 20px;
        grid-gap: 20px;
    }

    .cart_content_main {
        width: 100%;
    }

    .cart_new_design .cart_contents_img {
        margin-top: 40px;
    }

    .cartcontents_headings {
        width: 100%;
    }

    .cart_new_design tbody,
    .cart_new_design td,
    .cart_new_design tfoot,
    .cart_new_design th,
    .cart_new_design thead,
    tr {
        padding: 5px 0px 5px 0px;
    }

    .cart_new_design .cart_title_bold {
        width: auto;
    }

    .cart_new_design .d-flex-img-title {
        flex-direction: row;
        align-items: flex-start;
    }

    .cartcontents_headings {
        width: auto;
        flex: 3;
    }

    .checkout_page .paymentPageSec .commonInnerblock,
    .checkout_page .paymentPageSec .mobileBox {
        gap: 10px;
        grid-gap: 10px;
    }

    .checkout_page .paymentPageSec .mobileBox {
        gap: 5px;
        grid-gap: 5px;
    }

    .checkout_page .paymentPageSec .commonInnerblock {
        grid-template-columns: 1fr;
    }

    .checkout_page .paymentPageSec .commonInnerblock:not(:last-child),
    .checkout_page .paymentPageSec .fullwidthInnerblock .sentMesg-email {
        margin-bottom: 10px;
    }
}

@media screen and (max-width:375px) {
    .cart_new_design tbody,
    .cart_new_design td,
    .cart_new_design tfoot,
    .cart_new_design th,
    .cart_new_design thead,
    tr {
        padding: 5px;
    }
}

.calendar-box select.year-dropdown {
    background: #c9ecd2;
}

.calendar-box .buttons-container {
    background: transparent;
    padding: 10px;
    border: 0;
}

.calendar-box button.next-button::after {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    content: '>';
    font-size: 15px;
}

.calendar-box button.next-button,
.calendar-box button.prev-button {
    position: relative;
    font-size: 0;
}

.calendar-box button.prev-button::after {
    content: '<';
}

.calendar-box button.next-button::after,
.calendar-box button.prev-button::after {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    font-size: 15px;
}

.MymodalBooknowPoup .threeStepCounter .calendar-box span {
    padding-right: 0px;
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
}

.calendar-box .weeks-wrapper.header {
    border-bottom: 0px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.calendar-box .week:not(.start-on-monday) .day:first-child,
.calendar-box .week:not(.start-on-monday) .day:last-child,
.calendar-box .week:not(.start-on-monday) .day:first-child {
    color: #004963;
}

.threeStepCounter .calendar-box .cal-month__current {
    font-weight: 500;
}

.calendar-box .week .day.header {
    font-size: 14px;
    font-weight: 500;
}

.calendar-box .day {
    padding: 5px;
}

.threeStepCounter .calendar .cal-month__previous {
    padding-left: 0;
    margin-left: 0;
}

.MymodalBooknowPoup .threeStepCounter .calendar-box span {
    font-size: 14px;
}

.MymodalBooknowPoup .buttons-container span.label-container.month-container span {
    font-size: 16px;
}

.MymodalBooknowPoup .calendar-box .day.today span::after {
    border-bottom: 0px;
}

.MymodalBooknowPoup .calendar-box .week .day[disabled="disabled"] span {
    color: #b2b2b2;
}

.MymodalBooknowPoup .calendar-box .week .day.selected span {
    color: #e0ffdf;
}

.MymodalBooknowPoup .calendar-box .weeks-wrapper {
    margin-bottom: 0;
    padding-bottom: 0;
}

.calendar-box .year-dropdown:focus-visible {
    box-shadow: none;
}

.calendar-box select.year-dropdown {
    background: #c9ecd2;
    font-size: 16px;
    color: #004963;
    font-weight: 600;
    cursor: pointer;
}

.calendar-box .months-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}