/*My booking details css*/
.my-booking-detailsSec .counterIncrementDecremnet {
    border: 1px solid #004963;
    padding: 5px 20px;
    border-radius: 5px;
    transition: 0.5s all ease-in-out;
}

.my-booking-detailsSec .rooms_category_tabBlock .roomTabs.tab {
    display: flex;
    gap: 0px;
    grid-gap: 0px;
}

.my-booking-detailsSec .counterBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-booking-detailsSec .counterBox:not(:last-child) {
    border-bottom: 1px solid #004963;
}

.my-booking-detailsSec .rooms_category_tabBlock .room_divblock1 {
    display: flex;
    gap: 20px;
    grid-gap: 20px;
}

.my-booking-detailsSec .travelers-room-new .room-one-new {
    padding: 5px 0 15px;
}

.my-booking-detailsSec.rooms_category_tabBlock .roomTabs .titleRoom {
    border-right: 1px solid #004963;
    padding-right: 20px;
}

.my-booking-detailsSec.travelers-room-new .titleRoom {
    font-size: 18px;
}

.my-booking-detailsSec .titleCounter,
.my-booking-detailsSec .subheadingCounter {
    color: #004963;
    font-size: 15px;
    line-height: inherit;
    font-weight: 600;
}

.my-booking-detailsSec .travelers-room-new .room-one-new {
    padding: 5px 0 15px;
}


.my-booking-detailsSec .travelers-room-new .stepTemparateUL {
    gap: 12px;
    grid-gap: 12px;
    border-bottom: 1px solid #004963;
    padding-bottom: 10px;
}

.my-booking-detailsSec .travelers-room-new .stepTemparateUL {
    margin-top: 10px;
}

.my-booking-detailsSec .stepTemparateUL {
    flex-wrap: wrap;
    gap: 20px;
    grid-gap: 20px;
}

.my-booking-detailsSec .stepplacesUL,
.my-booking-detailsSec .stepTemparateUL {
    display: flex;
    align-items: center;
    gap: 25px;
    grid-gap: 25px;
    margin-top: 30px;
}

.my-booking-detailsSec .stepplacesUL li,
.my-booking-detailsSec .stepTemparateUL li {
    text-align: center;
}

.my-booking-detailsSec .travelers-room-new ul li {
    flex: 48%;
}

.my-booking-detailsSec li {
    list-style: none;
}

.my-booking-detailsSec .travelers-room-new ul li a,
.travelers-room-new ul li,
.my-booking-detailsSec .travelers-room-new ul li .plan-content {
    width: 100%;
    text-align: left;
}

.my-booking-detailsSec .stepSoloUL input[type="radio"],
.my-booking-detailsSec .stepTemparateUL input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.my-booking-detailsSec .stepSoloUL input[type="radio"]:checked+.plan-content,
.my-booking-detailsSec .stepTemparateUL input[type="radio"]:checked+.plan-content {
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
    border: 2px solid #ff4d47;
    box-shadow: 0 3px 8px rgb(0 0 0 / 47%);
}

.my-booking-detailsSec .titleCounter,
.my-booking-detailsSec .subheadingCounter {
    color: #004963;
    font-size: 15px;
    line-height: inherit;
    font-weight: 600;
    cursor: pointer;
}

.my-booking-detailsSec .readOnly input {
    background-color: #dfffde;
    border: 1px solid #004963;
    text-align: center;
}

.my-booking-detailsSec .readOnly input:focus {
    box-shadow: none;
}

.travelers-room-new .stepTemparateUL li .plan-content {
    flex-direction: row;
    justify-content: flex-start;
    gap: 0px;
    grid-gap: 0px;
    padding: 15px;
    height: 45px;
}

.my-booking-detailsSec .travelers-room-new .stepTemparateUL .plan-content img {
    max-width: 25px;
    margin-right: 15px;
}

.my-booking-detailsSec .stepTemparateUL .plan-content {
    padding: 5px 55px;
    border-radius: 10px;
    cursor: pointer;
    border-color: transparent;
    border: 2px solid rgb(0 73 99 / 45%);
    height: 73px;
    place-content: center;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}

.my-booking-detailsSec .travelers-room-new .f-flex-img {
    gap: 5px;
    grid-gap: 5px;
}

.my-booking-detailsSec .travelers-room-new {
    margin-top: 15px;
}

.my-booking-detailsSec .counterBox {
    padding: 5px 0;
}

.my-booking-detailsSec .readOnly input {
    width: 120px;
    height: 35px;
}

.my-booking-detailsSec .counterIncrementDecremnet {
    margin-bottom: 15px;
}

.my-booking-detailsSec .subheadingCounter {
    font-weight: normal;
}

.booking-details-buttons .tourboxesBtn1,
.booking-details-buttons .tourboxesBtn2,
.booking-details-buttons .tourboxesBtn3 {
    width: 170px;
}

/*packages tab*/
.mybooking_packagesTab .packages_input input,
.datepicker_mybooking input {
    background: #dfffde;
    width: 100%;
    display: block;
    border: 0px solid rgb(0 73 99 / 45%);
    color: #004963;
    font-size: 12px;
}

.mybooking_packagesTab .packages_input input::placeholder,
.datepicker_mybooking input::placeholder {
    color: #004963;
    font-size: 12px;
}

.mybooking_packagesTab .packages_input input:focus,
.datepicker_mybooking input::placeholder,
.mybooking_packagesTab .form-select:focus,
.datepicker_mybooking input:focus {
    box-shadow: none;
    border: 1px solid #004963;
    outline: none;
    background-color: #FFF;
    border-radius: 5px;
}

.mybooking_packagesTab .packages_input {
    width: 100%;
    padding: 5px 0;
}

.mybooking_packagesTab .datepicker_mybooking input {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.mybooking_packagesTab .datepicker_mybooking,
.mybooking_packagesTab .guestNationalityTab {
    padding: 5px 0;
}

.mybooking_packagesTab .form-select {
    background-color: #dfffde;
    font-size: 12px;
    color: #004963;
    font-weight: 500;
    padding: 0 10px 0 10px;
}

.mybooking_packagesTab .datepicker_mybooking input,
.mybooking_packagesTab .form-select,
.mybooking_packagesTab .packages_input input {
    height: 35px;
}

.mybooking_packagesTab .form-select {
    cursor: pointer;
}

.mybooking_packagesTab .border-BottomTab {
    margin: 0 0px;
}

.mybooking_packagesTab .cityBreakup .packages_input,
.mybooking_packagesTab .stayItemTab .packages_input,
.mybooking_packagesTab .guestNationalityTab .datepicker_mybooking,
.paymnetsTabSec .mybooking_packagesTab .guestNationalityTab .packages_input {
    padding: 0;
}

.paymnetsTabSec .multiple-items1 {
    display: flex;
    width: calc(100% - 250px);
    position: relative;
    left: 250px;
}

.paymnetsTabSec .multiple-items1 .tabPackageSecrCols {
    flex: inherit;
    max-width: 185px;
}

.paymnetsTabSec .packages_input input,
.paymnetsTabSec .datepicker_mybooking input {
    background: #f1f1f1;
    text-align: center;
    cursor: default;
}

.paymnetsTabSec .missed_red {
    color: red;
    font-size: 12px;
    font-weight: 500;
    background: #f1f1f1;
    height: 35px;
    padding: 10px 10px;
    border-radius: 5px;
    text-align: center;
    cursor: default;
}

.paymnetsTabSec.tabcontentBg1 .packTabContentDv,
.paymnetsTabSec.tabcontentBg1 .packTabSec {
    background: #FFF;
}

.paymnetsTabSec .Pay_now_button {
    background: #004963;
    color: #FFF;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 5px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paymnetsTabSec .Pay_now_button:hover {
    text-decoration: underline;
}

.rooms_category_tabBlock .counterBox .titleCounter.active {
    color: #ff4c46;
}

.tabcontent_my_bookings_details .stepTemparateUL li a,
.tabcontent_my_bookings_details .titleCounter,
.tabcontent_my_bookings_details .stepTemparateUL .plan-content {
    cursor: default !important;
}

/* 24-01-23 room category page */
.room_allocationSec .tablink_room_allocation {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 20px;
    font-size: 17px;
    width: auto;
    background: transparent;
    color: #004963;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.room_allocationSec .tabcontent_room_allocation {
    color: #004963;
    display: none;
    padding: 20px;
    height: 100%;
}

.room_allocation_buttons {
    display: flex;
    justify-content: end;
    padding-right: 25px;
}

.room_allocationSec.paymnetsTabSec .multiple-items1 .tabPackageSecrCols {
    flex: 1;
}

.room_allocationSec .sightseeingTab,
.room_allocationSec .transportationTab {
    padding: 5px 0;
}

.room_allocationSec .itemsTabContentCommon {
    display: flex;
    flex-direction: column;
}

.room_allocationSec .itemsTabContentCommon .room_allocartion_ages {
    font-size: 12px;
}

.due_date_passport {
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-gap: 5px;
}

.passport_details {
    font-size: 12px;
    color: #ff4c46;
    font-weight: 500;
}

.bookingspageSec .badge {
    letter-spacing: 0px;
    font-size: 11px;
    font-weight: 500;
    padding: 7px 12px;
    border-radius: 30px;
}

.bookingspageSec .badge.badge-success {
    background-color: rgb(32, 197, 147);
}

.bookingspageSec .badge.badge-warning {
    background-color: rgb(255, 76, 70);
}

.bookingspageSec .badge.badge-yellow {
    background-color: rgb(255, 193, 7);
    color: rgb(0, 0, 0);
}

.bookingspageSec .badge.bg-info {
    background-color: rgb(58, 186, 244) !important;
    color: #FFF !important;
}

.bookingspageSec .bg-primary1.bg-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 123, 255) !important;
}

.terms_tab_mybookingSec .terms3steps {
    display: flex;
    border: 1px solid #004963;
    border-radius: 5px;
}

.terms_tab_mybookingSec .termsLeftContent {
    width: 250px;
    border-right: 1px solid #004963;
    border-radius: 5px;
    margin-right: 15px;
    background: #cff6cd;
}

.terms_tab_mybookingSec .terms3steps .nav-link:hover,
.terms_tab_mybookingSec .terms3steps .nav-link:active,
.terms_tab_mybookingSec .terms3steps .nav-pills .nav-link.active {
    background: #004963;
    color: #e0ffdf;
    border-radius: 0px;
}

.terms_tab_mybookingSec .terms3steps .nav-link {
    padding: 9px 15px;
    font-size: 15px;
    font-weight: 500;
    transition: 0.5s all ease-in-out;
    color: #004963;
    cursor: pointer;
}

.terms_tab_mybookingSec .termsRightContent {
    padding-right: 15px;
    padding-bottom: 5px;
    width: 100%;
}

.terms_tab_mybookingSec .tab-content>.tab-pane {
    line-height: 28px;
}

.terms_tab_mybookingSec .tab-content>.tab-pane {
    padding: 10px 0;
    line-height: 24px;
}

.terms_tab_mybookingSec .termsContentSec h6 {
    font-size: 16px;
    line-height: inherit;
    font-weight: 600;
    color: #004963;
    letter-spacing: 0.10px;
    margin-bottom: 10px;
}

.terms_tab_mybookingSec .termsContentSec .termssubheading {
    color: #004963;
    border: 1px solid #004963;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}

.terms_tab_mybookingSec .TermsMain_tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.terms_tab_mybookingSec .TermsMain_tab .termssubheading {
    width: 100%;
}

.terms_tab_mybookingSec .closeTermsIcon {
    margin-bottom: 0;
}

.terms_tab_mybookingSec .closeIconStep {
    margin-left: 5px;
    margin-bottom: 10px;
}

.terms_tab_mybookingSec .closeIconStep .CloseIcon {
    color: #004963;
    font-size: 20px;
    line-height: inherit;
    font-weight: 500;
    cursor: pointer;
}

.terms_tab_mybookingSec .termsAddbtn {
    color: #ff4c46;
    font-weight: 600;
    border: 1px solid #004963;
    width: auto;
    float: right;
    padding: 3px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 25px;
}

.terms_tab_mybookingSec .paycancelPolicyNew {
    padding: 0px 15px 0px;
}

.terms_tab_mybookingSec .title-pay-cancel-new h6,
.terms_tab_mybookingSec .payCancellationTitle {
    margin-bottom: 15px;
}

.terms_tab_mybookingSec .paycPolicyFlex,
.terms_tab_mybookingSec .paycPolicyFlex2 {
    gap: 50px;
    grid-gap: 50px;
}

.terms_tab_mybookingSec .paycancelPolicyNew .paycPolicyFlex .d-flex {
    flex: 1;
}

.terms_tab_mybookingSec .dflexPercentage,
.terms_tab_mybookingSec .dflexBeforeDays {
    flex-direction: column;
}

.terms_tab_mybookingSec .paycancelPolicyNew .title {
    font-size: 16px;
    line-height: inherit;
    font-weight: 400;
    color: #004963;
    letter-spacing: 0.10px;
    margin-bottom: 10px;
}

.terms_tab_mybookingSec .paycancelPolicyNew .form-control:not(.form-control-sm):not(.form-control-lg),
.terms_tab_mybookingSec .paycancelPolicyNew .selectric .label,
.terms_tab_mybookingSec .paycancelpolicyUL span.input-group-text {
    height: 47px;
    font-size: 16px;
    line-height: inherit;
    font-weight: normal;
    color: #004963;
    letter-spacing: 0.10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.terms_tab_mybookingSec .paycancelPolicyNew .form-control:not(.form-control-sm):not(.form-control-lg),
.terms_tab_mybookingSec .paycancelPolicyNew .selectric .label {
    text-align: center;
}

.terms_tab_mybookingSec .paycancelPolicyNew .dflexPercentage input.form-control {
    margin-right: -10px;
    margin-bottom: 0;
}

.terms_tab_mybookingSec .paycancelpolicyUL span.input-group-text {
    background: #cff6cd;
    padding: 10px 20px;
    z-index: 9;
    border-radius: 8px;
}

.terms_tab_mybookingSec .paycancelpolicyUL input.form-control,
.terms_tab_mybookingSec .paycancelpolicyUL span.input-group-text {
    border: 1px solid #004963 !important;
}

.terms_tab_mybookingSec .payCancellationTitle {
    display: flex;
    justify-content: space-between;
}

.terms_tab_mybookingSec .payCancellationTitle h6 {
    margin-bottom: 0;
}

.terms_tab_mybookingSec .RefundableTermsCondition.listingTypeSec {
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;
    justify-content: end;
}

.terms_tab_mybookingSec .RefundableTermsCondition .listingTypedc {
    padding: 0;
}

.terms_tab_mybookingSec .tourQualitySec .listingTypedc {
    margin-left: 0;
}

.terms_tab_mybookingSec .listingTypedc {
    display: flex;
    align-items: center;
}

.terms_tab_mybookingSec .RefundableTermsCondition.listingTypeSec .form-check:first-child {
    margin-right: 25px;
}

.terms_tab_mybookingSec .listingTypeSec .form-check-input[type=radio] {
    appearance: none;
    background-image: url(../img/check.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin: 0;
    cursor: pointer;
    background-size: 75%;
    margin-top: 0px;
    background-color: transparent;
    border: 0;
}

.terms_tab_mybookingSec .RefundableTermsCondition.listingTypeSec.tourQualitySec label.form-check-label {
    font-weight: 600;
}

.terms_tab_mybookingSec .listingTypeSec.tourQualitySec label.form-check-label {
    cursor: pointer;
}

.terms_tab_mybookingSec .Step5From label.form-check-label {
    width: max-content;
    cursor: pointer;
    font-weight: normal;
}

.terms_tab_mybookingSec .listingTypeSec label.form-check-label {
    padding-left: 5px;
}

.terms_tab_mybookingSec .FormStep1Div label,
.terms_tab_mybookingSec .stepimgTitle,
.form-check-label {
    color: #004963;
    font-size: 13px;
    line-height: inherit;
    font-weight: 600;
}

.terms_tab_mybookingSec .MultiStepSec label {
    display: block;
}

.terms_tab_mybookingSec .RefundableTermsCondition.listingTypeSec .form-check {
    margin-right: 0px;
}

.terms_tab_mybookingSec .listingTypeSec .form-check {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.terms_tab_mybookingSec .guestnationalitySec .form-check-input:checked[type=checkbox],
.terms_tab_mybookingSec .listingTypeSec .form-check-input:checked[type=radio] {
    background-image: url(../img/checked.png);
    background-repeat: no-repeat;
    outline: none;
}

.terms_tab_mybookingSec .terms3steps {
    background: #e0ffdf;
}

.terms_tab_mybookingSec .RefundableTermsCondition.listingTypeSec .form-check:first-child {
    margin-right: 25px;
}

.terms_tab_mybookingSec .form-check-input:focus {
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}

.terms_tab_mybookingSec .paycancelpolicyUL input.form-control {
    background: transparent;
}

.terms_tab_mybookingSec .paycancelpolicyUL input.form-control,
.terms_tab_mybookingSec .paycancelpolicyUL span.input-group-text {
    border: 1px solid #004963 !important;
}

.terms_tab_mybookingSec .paycPolicyFlex,
.terms_tab_mybookingSec .paycPolicyFlex2 {
    gap: 50px;
    grid-gap: 50px;
}

.terms_tab_mybookingSec .paycPolicyFlex2 .d-flex {
    flex: 1;
}

.terms_tab_mybookingSec .dflexPercentage,
.terms_tab_mybookingSec .dflexBeforeDays {
    flex-direction: column;
}

.terms_tab_mybookingSec .paycanPolicy_button {
    margin-right: 0px;
}

.terms_tab_mybookingSec .paycancelPolicyNew .dflexPercentage input.form-control {
    margin-right: -10px;
}

.terms_tab_mybookingSec .paycancelpolicyUL span.input-group-text {
    background: #cff6cd;
    padding: 10px 20px;
    z-index: 9;
    border-radius: 8px;
}

.terms_tab_mybookingSec .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.mybooking_listing_details_title .create_acc_heading.margin-top {
    font-size: 17px;
    color: #004963;
    margin-bottom: 0;
    margin-top: 15px;
    font-weight: 600;
}

.details_tabPackageSec .termsContentSec p {
    color: #004963;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
}

.bookingspageSec .wishlist_commentBlock a ion-icon {
    color: #004963;
}

.bookingspageSec .wishlist_commentBlock a:hover .icondisplaynone,
.bookingspageSec .wishlist_commentBlock a:focus .icondisplaynone {
    color: #004963;
}

.mybookingDetailsSec .lastItemTab .btnpackages a {
    padding: 7px;
    font-size: 14px;
}

.mybookingDetailsSec .lastItemTab .btnpackages {
    padding-top: 10px;
}

.terms_tab_mybookingSec .d-flex.paycPolicyFlex {
    margin-top: 15px;
}

.terms_tab_mybookingSec .paycancelPolicyNew .paycPolicyFlex .d-flex {
    margin-bottom: 0;
}

.mybookingDetailsSec .SliderBannerSec .tourboxesButtons1 {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.mybookingDetailsSec .tabcontent .d-flex.align-items-start {
    background: #FFF;
    height: 440px;
}

.mybookingDetailsSec .terms_tab_mybookingSec .tab-content>.tab-pane {
    padding: 0px 0;
}

.mybookingDetailsSec .tabInnerSec .bannerRightTourHighlights {
    padding: 25px 0px 10px 30px;
}

.mybookingDetailsSec .detail-travelagent-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start;
}

.my-booking-detailsSec .travelers-room-new ul li a label {
    width: auto;
}

.mybookingDetailsSec .tabcontentBg3 .nav-pills,
.mybookingDetailsSec .tabcontentBg3 .tab-content {
    height: 100%;
}

.mybookingDetailsSec .details_tabPackageSec .tabcontentBg1 .slick-track {
    margin-left: 0;
    margin-right: 0;
}

.mybookingDetailsSec .tabcontentBg3 .tabInnerSec h5 {
    font-size: 16px;
    color: #004963;
    line-height: inherit;
}

@media screen and (min-width:1200px) and (max-width: 1399px) {
    .mybookingDetailsSec .tourboxesBtn1,
    .mybookingDetailsSec .tourboxesBtn2,
    .mybookingDetailsSec .tourboxesBtn3 {
        width: auto;
    }

    .mybookingDetailsSec .SliderBannerSec .tourboxesButtons1 {
        justify-content: end;
        padding-left: 10px;
    }

    .my-booking-detailsSec .travelers-room-new .room-one-new {
        padding: 0 0 5px;
    }

    .mybooking_listing_details_title .create_acc_heading.margin-top {
        font-size: 15px;
    }

    .terms_tab_mybookingSec .paycancelPolicyNew .title {
        font-size: 15px;
    }

    .terms_tab_mybookingSec .paycancelPolicyNew .form-control:not(.form-control-sm):not(.form-control-lg),
    .terms_tab_mybookingSec .paycancelPolicyNew .selectric .label,
    .terms_tab_mybookingSec .paycancelpolicyUL span.input-group-text {
        height: 45px;
    }

    .terms_tab_mybookingSec .paycancelpolicyUL span.input-group-text {
        padding: 10px 16px;
    }

    .terms_tab_mybookingSec .paycPolicyFlex,
    .terms_tab_mybookingSec .paycPolicyFlex2 {
        gap: 25px;
        grid-gap: 25px;
    }
}

@media screen and (min-width:992px) and (max-width: 1399px) {
    .terms_tab_mybookingSec .SliderBannerSec .booking-details-buttons {
        padding-left: 10px;
        justify-content: center;
    }

    .terms_tab_mybookingSec .booking-details-buttons .tourboxesBtn1,
    .terms_tab_mybookingSec .booking-details-buttons .tourboxesBtn2,
    .terms_tab_mybookingSec .booking-details-buttons .tourboxesBtn3 {
        width: auto;
        text-align: center;
    }

    .mybookingDetailsSec .tourboxesBtn1,
    .mybookingDetailsSec .tourboxesBtn2,
    .mybookingDetailsSec .tourboxesBtn3 {
        width: auto;
    }

    .mybookingDetailsSec .SliderBannerSec .tourboxesButtons1 {
        justify-content: end;
        padding-left: 10px;
    }

    .my-booking-detailsSec .travelers-room-new .room-one-new {
        padding: 0 0 5px;
    }

    .mybooking_listing_details_title .create_acc_heading.margin-top {
        font-size: 15px;
    }
}

@media screen and (max-width: 1199px) {
    .mybookingDetailsSec .paymnetsTabSec .multiple-items1 {
        overflow-x: scroll;
        padding-bottom: 10px;
    }

    .mybookingDetailsSec .paymnetsTabSec .tabitemTitle {
        font-size: 15px;
    }

    .mybookingDetailsSec .itemsTabContentCommon {
        font-size: 13px;
    }

    .mybookingDetailsSec .paymnetsTabSec .multiple-items1 .tabPackageSecrCols {
        min-width: 156px;
    }

    .terms_tab_mybookingSec .paycPolicyFlex,
    .terms_tab_mybookingSec .paycPolicyFlex2 {
        gap: 15px;
        grid-gap: 15px;
    }

    .terms_tab_mybookingSec .RefundableTermsCondition.listingTypeSec .form-check:first-child {
        margin-right: 7px;
    }

    .terms_tab_mybookingSec .paycancelPolicyNew .title {
        font-size: 15px;
    }

    .terms_tab_mybookingSec .listingTypeSec label.form-check-label {
        padding-left: 0px;
    }

    .terms_tab_mybookingSec .payCancellationTitle {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .terms_tab_mybookingSec .RefundableTermsCondition.listingTypeSec {
        margin-top: 10px;
    }

    .terms_tab_mybookingSec .d-flex.paycPolicyFlex {
        margin-top: 50px;
    }

    .mybookingDetailsSec .rooms_category_tabBlock .roomTabs .titleRoom {
        padding-left: 5px;
    }

    .mybookingDetailsSec .SliderBannerSec .tourboxesButtons1 {
        gap: 5px;
        grid-gap: 5px;
    }
}

@media screen and (min-width:992px) and (max-width: 1199px) {
    .terms_tab_mybookingSec .booking-details-buttons .tourboxesBtn1,
    .terms_tab_mybookingSec .booking-details-buttons .tourboxesBtn2,
    .terms_tab_mybookingSec .booking-details-buttons .tourboxesBtn3 {
        line-height: inherit;
        padding: 10px;
    }

    .mybookingDetailsSec .tourboxesBtn1,
    .mybookingDetailsSec .tourboxesBtn2,
    .mybookingDetailsSec .tourboxesBtn3 {
        font-size: 11.5px;
        line-height: inherit;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .mybooking_listing_details_title .create_acc_heading.margin-top {
        font-size: 13.5px;
    }

    .my-booking-detailsSec .travelers-room-new,
    .mybooking_listing_details_title .create_acc_heading.margin-top {
        margin-top: 10px;
    }

    .my-booking-detailsSec .counterBox {
        padding: 3px 0 5px;
    }

    .mybookingDetailsSec .tabPackageSec .tab button {
        font-size: 17px;
    }

    .terms_tab_mybookingSec .terms3steps .nav-link {
        font-size: 14.2px;
    }

    .mybookingDetailsSec .paymnetsTabSec .Pay_now_button {
        padding: 6px 15px !important;
    }
}

@media screen and (min-width:992px) and (max-width:1023px) {
    .mybookingDetailsSec .tourboxesBtn1,
    .mybookingDetailsSec .tourboxesBtn2,
    .mybookingDetailsSec .tourboxesBtn3 {
        font-size: 11px;
    }
}

@media screen and (max-width:991px) {
    .mybookingDetailsSec .SliderBannerSec .tourboxesButtons1 {
        margin-bottom: 10px;
    }

    .mybookingDetailsSec .tabPackageSec .tab button {
        font-size: 16px;
    }

    .room_allocationSec .room_allocation_buttons .tablink_room_allocation {
        font-size: 15px;
    }

    .terms_tab_mybookingSec .tourQualitySec .listingTypedc {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .terms_tab_mybookingSec .d-flex.paycPolicyFlex {
        margin-top: 83px;
        flex-direction: column;
        gap: 0px;
        grid-gap: 0px;
    }

    .terms_tab_mybookingSec .paycPolicyFlex,
    .terms_tab_mybookingSec .paycPolicyFlex2 {
        flex-direction: column;
        gap: 0px;
        grid-gap: 0px;
    }

    .terms_tab_mybookingSec .paycancelpolicyUL li {
        width: 100%;
    }

    .terms_tab_mybookingSec .terms3steps .nav-link {
        font-size: 13.2px;
    }

    .terms_tab_mybookingSec .termsContentSec h6 {
        font-size: 15px;
    }

    .terms_tab_mybookingSec .paycancelPolicyNew .title {
        font-size: 14px;
    }

    .mybookingDetailsSec .detail-travelagent-btn {
        grid-template-columns: 1fr;
    }

    .mybookingDetailsSec .agentTitle,
    .mybookingDetailsSec .aboutTravel_card_heading {
        font-size: 17px;
    }

    .mybookingDetailsSec .tabcontent .d-flex.align-items-start {
        height: auto;
    }
}

@media screen and (max-width:767px) {
    .bookingspageSec .rate_Heading,
    .bookingspageSec .iconWrap .tooltip p {
        font-size: 9px;
    }

    .bookingspageSec .locationHeading,
    .bookingspageSec .card-trnd-loc-days .DealsheadingRed,
    .bookingspageSec .pActivitys,
    .bookingspageSec .pPlaces {
        font-size: 11px;
    }

    .bookingspageSec .card-trading-deals .country_days_agnt .img-fluid {
        width: 16px;
    }

    .bookingspageSec .dealsHeading {
        font-size: 13px;
        min-height: 39px;
    }

    .mybookingDetailsSec .tourboxesBtn1,
    .mybookingDetailsSec .tourboxesBtn2,
    .mybookingDetailsSec .SliderBannerSec .tourboxesBtn3 {
        font-size: 11.5px;
    }

    .mybooking_listing_details_title .create_acc_heading.margin-top {
        font-size: 15px;
    }

    .my-booking-detailsSec .rooms_category_tabBlock .room_divblock1 {
        gap: 20px;
        grid-gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .mybookingDetailsSec .paymnetsTabSec .multiple-items1 {
        left: 255px;
    }

    .mybookingDetailsSec .paymnetsTabSec .multiple-items1 .tabPackageSecrCols {
        min-width: 140px;
    }

    .mybookingDetailsSec .paymnetsTabSec.room_allocationSec .multiple-items1 {
        left: 235px;
    }

    .terms_tab_mybookingSec .terms3steps .nav-link {
        padding: 10px 5px;
        font-size: 13.5px;
    }

    .terms_tab_mybookingSec .termsContentSec h6 {
        font-size: 15px;
    }

    .terms_tab_mybookingSec .termsAddbtn {
        margin-right: 0;
    }

    .terms_tab_mybookingSec .d-flex.paycPolicyFlex {
        margin-top: 0;
    }

    .terms_tab_mybookingSec .tourQualitySec .listingTypedc {
        flex-direction: row;
    }

    .terms_tab_mybookingSec .paycancelpolicyUL span.input-group-text {
        padding: 10px 15px;
    }

    .mybookingDetailsSec .tabcontentBg3 div#v-pills-tabContent {
        overflow: hidden scroll;
    }

    .mybookingDetailsSec .tabcontent .d-flex.align-items-start {
        height: 565px;
    }

    .mybookingDetailsSec .detail-travelagent-btn {
        grid-template-columns: 1fr 1fr;
    }

    .mybookingDetailsSec .paymnetsTabSec .Pay_now_button {
        padding: 6px 15px !important;
    }

    .mybookingDetailsSec .tabInnerSec .bannerRightTourHighlights {
        padding: 15px;
    }
}

@media screen and (max-width: 630px) {
    .terms_tab_mybookingSec .SliderBannerSec .booking-details-buttons .tourboxesButtons1 {
        flex-wrap: wrap;
        gap: 7px;
        grid-gap: 7px;
    }

    .terms_tab_mybookingSec .booking-details-buttons .tourboxesBtn1,
    .terms_tab_mybookingSec .booking-details-buttons .tourboxesBtn2,
    .terms_tab_mybookingSec .booking-details-buttons .tourboxesBtn3 {
        width: auto;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .mybookingDetailsSec .tourboxesBtn1,
    .mybookingDetailsSec .tourboxesBtn2,
    .mybookingDetailsSec .SliderBannerSec .tourboxesBtn3 {
        font-size: 13.4px;
    }

    .mybookingDetailsSec .booking-details-buttons .tourboxesBtn1,
    .mybookingDetailsSec .booking-details-buttons .tourboxesBtn2,
    .mybookingDetailsSec .booking-details-buttons .tourboxesBtn3 {
        width: auto;
    }
}

@media screen and (max-width:575px) {
    .terms_tab_mybookingSec .booking-details-buttons .tourboxesBtn1,
    .terms_tab_mybookingSec .booking-details-buttons .tourboxesBtn2,
    .terms_tab_mybookingSec .booking-details-buttons .tourboxesBtn3 {
        width: 48%;
    }

    .terms_tab_mybookingSec .SliderBannerSec .booking-details-buttons.tourboxesButtons1 {
        margin-top: 0px;
    }

    .bookingspageSec .mobile-wd-half {
        width: 50%;
    }

    .bookingspageSec .card-trading-deals {
        padding: 8px;
    }

    .bookingspageSec .card-trading-deals .travel_agent_details .img-fluid {
        width: 37px;
    }

    .mybookingDetailsSec .SliderBannerSec .tourboxesButtons1 {
        margin-top: 0px;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .booking-details-buttons .tourboxesBtn1,
    .booking-details-buttons .tourboxesBtn2,
    .booking-details-buttons .tourboxesBtn3 {
        width: 48%;
        flex: auto;
    }

    .mybooking_listing_details_title .create_acc_heading.margin-top {
        font-size: 13.5px;
        line-height: inherit;
    }

    .my-booking-detailsSec .titleCounter,
    .my-booking-detailsSec .subheadingCounter {
        font-size: 12px;
        display: block;
    }

    .my-booking-detailsSec .readOnly input {
        width: 90px;
        height: 30px;
        font-size: 12px;
    }

    .mybookingDetailsSec .SliderBannerSec .detail-explorer-title {
        font-size: 14.5px;
        line-height: inherit;
    }

    .mybookingDetailsSec .paymnetsTabSec .ItineraytabSecWidth,
    .mybookingDetailsSec .paymnetsTabSec .packagesSecWidth1 {
        width: auto;
        min-width: 135px;
    }

    .paymnetsTabSec .multiple-items1 {
        width: calc(100% - 135px);
    }

    .mybookingDetailsSec .paymnetsTabSec .multiple-items1 {
        left: 140px;
    }

    .mybookingDetailsSec .paymnetsTabSec .multiple-items1 .tabPackageSecrCols {
        min-width: 108px;
    }

    .mybookingDetailsSec .room_allocation_buttons {
        justify-content: center;
        padding-right: 0;
        flex-wrap: wrap;
    }

    .mybookingDetailsSec .room_allocationSec .tablink_room_allocation {
        padding: 5px 10px;
        font-size: 14px;
        width: auto;
    }

    .room_allocationSec.paymnetsTabSec .tabPackageSecrCols {
        width: 100px;
        min-width: auto;
    }

    .mybookingDetailsSec .room_allocationSec.paymnetsTabSec .multiple-items1 {
        left: 85px;
    }

    .mybookingDetailsSec .room_allocationSec.paymnetsTabSec .multiple-items1 .tabPackageSecrCols {
        min-width: 135px;
    }

    .room_allocationSec.paymnetsTabSec .multiple-items1 {
        width: calc(100% - 65px);
    }

    .terms_tab_mybookingSec .tourQualitySec .listingTypedc {
        flex-direction: column;
    }

    .terms_tab_mybookingSec .payCancellationTitle {
        margin-top: 25px;
    }

    .terms_tab_mybookingSec .paycancelPolicyNew {
        padding: 0px 5px 0px;
    }

    .terms_tab_mybookingSec .paycancelpolicyUL span.input-group-text {
        padding: 10px 10px;
    }

    .mybookingDetailsSec .tourboxesBtn1,
    .mybookingDetailsSec .tourboxesBtn2,
    .mybookingDetailsSec .SliderBannerSec .tourboxesBtn3 {
        font-size: 13.4px;
    }

    .mybookingDetailsSec .booking-details-buttons .tourboxesBtn1,
    .mybookingDetailsSec .booking-details-buttons .tourboxesBtn2,
    .mybookingDetailsSec .booking-details-buttons .tourboxesBtn3 {
        width: auto;
    }

    .mybookingDetailsSec .SliderBannerSec .tourboxesButtons1 {
        grid-template-columns: 1fr;
    }

    .mybookingDetailsSec .tabcontentBg3 .tabInnerSec h5 {
        font-size: 14px;
    }
}

@media screen and (max-width:480px) {
    .bookingspageSec .mobile-wd-half {
        width: 100%;
    }

    .bookingspageSec .dealsHeading {
        min-height: auto;
    }
}

@media screen and (max-width:379px) {
    .my-booking-detailsSec .travelers-room-new .room-one-new {
        padding: 0px 0 0px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .my-booking-detailsSec .rooms_category_tabBlock .room_divblock1 {
        column-gap: 20px;
        row-gap: 10px;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
    }

    .mybooking_listing_details_title .create_acc_heading.margin-top {
        font-size: 12.5px;
    }

    .mybookingDetailsSec .rooms_category_tabBlock .roomTabs .titleRoom {
        padding-left: 5px;
        margin-bottom: 10px;
    }

    .mybookingDetailsSec .travelers-room-new .titleRoom {
        font-size: 15px !important;
    }

    .my-booking-detailsSec .travelers-room-new .stepTemparateUL .plan-content img {
        margin-right: 10px;
    }

    .mybookingDetailsSec .itemsTabContentCommon {
        font-size: 11px;
    }
}

@media screen and (max-width:375px) {
    .terms_tab_mybookingSec .booking-details-buttons .tourboxesBtn1,
    .terms_tab_mybookingSec .booking-details-buttons .tourboxesBtn2,
    .terms_tab_mybookingSec .booking-details-buttons .tourboxesBtn3 {
        width: 100%;
    }

    .terms_tab_mybookingSec .my-booking-detailsSec .rooms_category_tabBlock .room_divblock1 {
        gap: 5px;
        grid-gap: 5px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width:300px) {
    .booking-details-buttons .tourboxesBtn1,
    .booking-details-buttons .tourboxesBtn2,
    .booking-details-buttons .tourboxesBtn3 {
        width: 100%;
    }
}