.rooms_category_tabBlock .roomTabs.tab {
    display: flex;
    gap: 25px;
    grid-gap: 25px;
    display: grid;
    grid-template-columns: auto auto;
}

.rooms_category_tabBlock #room2 {
    display: block !important;
}

.rooms_category_tabBlock .roomTabs .titleRoom {
    border-right: 1px solid #004963;
    padding-right: 20px;
}

.rooms_category_tabBlock .roomTabs .room3borderzero.titleRoom {
    border-right: 0;
    padding-right: 0px;
}

.rooms_category_tabBlock .titleRoom.active {
    color: #ff4c46;
}

.rooms_category_tabBlock .room_divblock1 {
    display: flex;
    gap: 20px;
    grid-gap: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.plan_trip_nationality.Othersnationality .form-check-input:checked,
.plan_trip_nationality.Othersnationality .form-check-input:checked {
    background-image: url(../../../img/checked.png);
    background-repeat: no-repeat;
    outline: none;
    border: 0;
}

.plan_trip_nationality.Othersnationality .form-check-input {
    position: absolute;
    top: -18px;
    cursor: pointer;
    left: 44px;
    right: 0;
    margin: 0;
    text-align: center;
    bottom: auto;
    background: transparent;
    appearance: none;
    background-image: url(../../../img/check.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    background-size: 100%;
    border: 0;
}


.Othersnationality .OthersnationalitySec {
    margin-top: 25px;
}

.Othersnationality .OthersnationalitySec label {
    margin-bottom: 8px;
}

.Othersnationality .OthersnationalitySec input.form-control {
    background: transparent;
    border-color: #004963;
    color: #004963;
    font-weight: normal;
    font-size: 14px;
}

.Othersnationality .OthersnationalitySec .form-control:focus {
    box-shadow: none;
}



@media screen and (max-width: 1499px) {

    .MymodalBooknowPoup .step-btn.stepssubTitle.nextfooterbtn,
    .MymodalBooknowPoup .wizardForm .step-footer>.step-btn.submitfooterbtn {
        margin-bottom: 0;
    }

}


@media screen and (max-width: 1199px) {
    .plan_trip_nationality.Othersnationality .fixCheckboxsc {
        column-gap: 10px;
        row-gap: 34px;
        grid-column-gap: 10px;
        grid-row-gap: 34px;
        flex-wrap: wrap;
    }

    .Othersnationality .OthersnationalitySec input.form-control {
        font-size: 12px;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .MymodalBooknowPoup .plan_trip_nationality .form-check {
        min-width: 103px;
        width: auto;
    }

    .plan_trip_nationality.Othersnationality .form-check-input {
        left: 38px;
        width: 31px;
        height: 31px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .Othersnationality .OthersnationalitySec input.form-control {
        font-size: 9px;
    }

    .plan_trip_nationality.Othersnationality .fixCheckboxsc {
        row-gap: 25px;
        grid-row-gap: 25px;
    }

    .plan_trip_nationality.Othersnationality .fixCheckboxsc {
        column-gap: 20px;
        grid-column-gap: 20px;
    }

    .plan_trip_nationality.Othersnationality .form-check-input {
        left: 64px;
    }

    .plan_trip_nationality .form-check-label {
        font-size: 12px;
    }

    .travelers-room-new .stepTemparateUL li .plan-content {
        height: 47px;
    }

}


@media screen and (max-width: 767px) {
    .rooms_category_tabBlock .roomTabs .titleRoom {
        text-align: center;
    }

    .plan_trip_nationality.Othersnationality .fixCheckboxsc {
        row-gap: 25px;
        grid-row-gap: 25px;
    }

}


@media screen and (max-width:575px) {
    .rooms_category_tabBlock .roomTabs.tab {
        flex-direction: column;
        gap: 5px;
        grid-gap: 5px;
    }

    .MymodalBooknowPoup .plan_trip_nationality .form-check {
        min-width: 100%;
    }

    .plan_trip_nationality.Othersnationality .form-check-input {
        left: 47%;
    }
}


@media screen and (max-width:500px) {
    .plan_trip_nationality.Othersnationality .form-check-input {
        left: 46.5%;
    }
}

@media screen and (max-width:400px) {
    .plan_trip_nationality.Othersnationality .form-check-input {
        left: 45%;
    }
}

@media screen and (max-width:300px) {
    .plan_trip_nationality.Othersnationality .form-check-input {
        left: 44%;
    }

    .rooms_category_tabBlock .room_divblock1 {
        gap: 5px;
        grid-gap: 5px;
    }
}







/**23-01-23*/
.MymodalBooknowPoup .tour_box_title h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.MymodalBooknowPoup .d-flex_tour_booknow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MymodalBooknowPoup .booknow_popupCard .card-trading-deals::after {
    border-top: 0;
}

.MymodalBooknowPoup .booknow_popupCard .DealsRating .pActivitys {
    padding-bottom: 5px;
}

.MymodalBooknowPoup h2.create_acc_heading.margin-top {
    margin-top: 0;
    text-transform: capitalize;
}



/* Responsive css */
@media screen and (min-width:1200px) and (max-width:1399px) {
    .rooms_category_tabBlock .room_divblock1 {
        gap: 10px;
        grid-gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .travelers-room-new .room-one-new {
        padding: 5px 0 5px;
    }

    .rooms_category_tabBlock .roomTabs.tab {
        padding-bottom: 10px;
    }
}

@media screen and (max-width:1199px) {
    .rooms_category_tabBlock .room_divblock1 {
        gap: 5px;
        grid-gap: 5px;
        flex-wrap: wrap;
    }

    .travelers-room-new .room-one-new {
        padding: 5px 0 5px;
    }

    .rooms_category_tabBlock .roomTabs.tab {
        padding-bottom: 5px;
    }

    .rooms_category_tabBlock .roomTabs .titleRoom {
        padding-right: 5px;
    }
}


@media screen and (max-width:991px) {
    .rooms_category_tabBlock .roomTabs.tab {
        gap: 15px;
        grid-gap: 15px;
    }
}


@media screen and (max-width: 767px) {
    .rooms_category_tabBlock .room_divblock1 {
        justify-content: center;
    }

    .travelers-room-new .room-one-new {
        padding: 5px 0 5px;
    }

    .rooms_category_tabBlock .roomTabs.tab {
        padding-bottom: 10px;
    }

    .Othersnationality .OthersnationalitySec {
        margin-top: 15px;
    }


}

@media screen and (max-width: 575px) {
    .rooms_category_tabBlock .roomTabs.tab {
        padding-bottom: 0px;
    }

    .travelers-room-new .room-one-new img.deleteRoom {
        margin-bottom: 10px;
        margin-top: 0px;
    }

    .travelers-room-new .room-one-new {
        padding: 0px 0 0px;
    }

    .MymodalBooknowPoup .plan_trip_nationality .form-check {
        min-width: 105px;
        width: auto;
    }

    .MymodalBooknowPoup .plan_trip_nationality .form-check:not(:last-child) {
        margin-bottom: 0;
    }

    .plan_trip_nationality.Othersnationality .form-check-input {
        width: 27px;
        height: 27px;
    }

    .plan_trip_nationality.Othersnationality .form-check-input {
        left: 40%;
        top: -15px;
    }
}

@media screen and (max-width: 480px) {
    .MymodalBooknowPoup .plan_trip_nationality .form-check {
        min-width: 105px;
        width: auto;
    }

    .MymodalBooknowPoup .plan_trip_nationality .form-check:not(:last-child) {
        margin-bottom: 0;
    }

    .plan_trip_nationality.Othersnationality .form-check-input {
        width: 27px;
        height: 27px;
    }

    .plan_trip_nationality.Othersnationality .form-check-input {
        left: 40%;
        top: -15px;
    }
}


/* Maximum height */
@media screen and (min-width: 1025px) and (max-width:1399px) and (max-height: 768px) {
    .plan_trip_nationality .form-check {
        height: 40px;
    }

    .plan_trip_nationality.Othersnationality .form-check-input {
        left: 40px;
        width: 26px;
        height: 26px;
    }

    .plan_trip_nationality {
        margin-top: 25px;
        margin-bottom: 15px;
    }

    .Othersnationality .OthersnationalitySec {
        margin-top: 10px;
    }

    .booknowPopupPage {
        margin-top: 0px;
    }

    .MymodalBooknowPoup .offcanvas-title {
        width: 140px;
    }

    .MymodalBooknowPoup .offcanvas-header {
        padding: 10px 0;
    }

    .MymodalBooknowPoup .step6form,
    .plan_trip_nationality {
        margin-bottom: 0;
    }

    .MymodalBooknowPoup .threeStepCounter .create_acc_heading {
        margin-bottom: 5px;
        margin-top: 10px;
    }

    .MymodalBooknowPoup .travelers-room-new .counterTitle {
        padding: 4px 0;
    }

    .travelers-room-new .titleRoom {
        font-size: 15px !important;
    }

    .travelers-room-new .stepTemparateUL li .plan-content {
        height: 45px;
    }

    .travelers-room-new .stepTemparateUL {
        margin-top: 5px;
    }

    .MymodalBooknowPoup .travelers-room-new .stepTemparateUL .plan-content img {
        max-width: 25px;
    }

    .MymodalBooknowPoup .travelers-room-new .stepTemparateUL .plan-content .f-flex-img img {
        max-width: 17px;
    }

    .travelers-room-new .stepTemparateUL li .plan-content {
        gap: 10px;
        grid-gap: 10px;
    }

    .MymodalBooknowPoup .plan_trip_nationality .form-check {
        min-width: inherit;
        width: 105px;
    }

    .rooms_category_tabBlock .roomTabs.tab {
        padding-bottom: 5px;
    }

    .travelers-room-new .room-bottom-space {
        margin-bottom: 10px;
    }

    .MymodalBooknowPoup .create_acc_heading {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width:1024px) and (max-height: 600px) {
    .MymodalBooknowPoup .plan_trip_nationality .form-check {
        min-width: inherit;
        width: 105px;
    }

    .plan_trip_nationality .form-check {
        height: 40px;
    }

    .plan_trip_nationality.Othersnationality .form-check-input {
        left: 40px;
        width: 26px;
        height: 26px;
    }

    .plan_trip_nationality {
        margin-top: 25px;
        margin-bottom: 15px;
    }

    .Othersnationality .OthersnationalitySec {
        margin-top: 15px;
    }

    .booknowPopupPage {
        margin-top: 0px;
    }

    .MymodalBooknowPoup .offcanvas-title {
        width: 140px;
    }

    .MymodalBooknowPoup .offcanvas-header {
        padding: 10px 0;
    }

    .MymodalBooknowPoup .step6form,
    .plan_trip_nationality {
        margin-bottom: 0;
    }

    .MymodalBooknowPoup .threeStepCounter .create_acc_heading {
        margin-bottom: 5px;
        margin-top: 10px;
    }

    .MymodalBooknowPoup .travelers-room-new .counterTitle {
        padding: 4px 0;
    }

    .travelers-room-new .titleRoom {
        font-size: 15px !important;
    }

    .travelers-room-new .stepTemparateUL li .plan-content {
        height: 50px;
    }

    .MymodalBooknowPoup .travelers-room-new .stepTemparateUL .plan-content img {
        max-width: 25px;
    }

    .MymodalBooknowPoup .travelers-room-new .stepTemparateUL .plan-content .f-flex-img img {
        max-width: 17px;
    }

    .travelers-room-new .stepTemparateUL li .plan-content {
        gap: 10px;
        grid-gap: 10px;
    }

    .rooms_category_tabBlock .roomTabs.tab {
        padding-bottom: 5px;
    }

    .travelers-room-new .room-bottom-space {
        margin-bottom: 10px;
    }

    .MymodalBooknowPoup .create_acc_heading {
        margin-bottom: 10px;
    }
}