.stepimgUL input[type="checkbox"]:checked + .plan-content img {
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
    border: 2px solid #ff4d47;
    border-radius: 50px 50px 0 0;
    outline: none;
    box-shadow: 0 3px 8px rgb(0 0 0 / 47%);
}

.stepimgUL input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.user_experience {
    display: none;
}

.mediaSec input[type="checkbox"]:checked + .lableinputsc {
    outline: none;
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
    border: 1px solid #ff4d47;
    border-radius: 5px;
    box-shadow: 0 3px 8px rgb(0 0 0 / 47%);
}