.PlanYourTripOffcanvas * {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif !important;
}

.multiple-items .slick-track{
    margin-left: 0px;
}

#loginModal {
    z-index: 999999;
}

#loginModal.show~.modal-backdrop.show {
    z-index: 99999;
}

label.required:after {
    content: '*';
    color: red;
}

.pac-container {
    z-index: 999999 !important;
}

.PlanYourTripOffcanvas body {
    background: var(--bg-color);
}

.PlanYourTripOffcanvas ul {
    padding: 0;
    margin: 0;
}

.PlanYourTripOffcanvas li {
    list-style: none;
}

.PlanYourTripOffcanvas a {
    text-decoration: none;
}

.PlanYourTripOffcanvas h1,
.PlanYourTripOffcanvas h2,
.PlanYourTripOffcanvas h3,
.PlanYourTripOffcanvas h4,
.PlanYourTripOffcanvas h5,
.PlanYourTripOffcanvas h6,
.PlanYourTripOffcanvas span,
.PlanYourTripOffcanvas strong,
.PlanYourTripOffcanvas body,
.PlanYourTripOffcanvas .form-label,
.PlanYourTripOffcanvas p {
    margin: 0;
    padding: 0;
    font-family: var(--montserrat) !important;
}

.PlanYourTripOffcanvas .wrapper {
    padding: 50px 0;
}

.PlanYourTripOffcanvas .wizSec .ulWizard {
    width: 100%;
    padding: 0;
    height: 478px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.PlanYourTripOffcanvas .step-footer {
    display: flex;
    align-items: center;
}

.PlanYourTripOffcanvas .step-footer .stepssubTitle.backBtn {
    margin-right: 0;
    margin-top: 0px;
}

.PlanYourTripOffcanvas .plan-content {
    cursor: pointer;
}

.PlanYourTripOffcanvas .divStep14 .stepPaddingbottom,
.PlanYourTripOffcanvas .divStep15 .stepPaddingbottom {
    margin-bottom: 30px;
}

.PlanYourTripOffcanvas .search_selectDropDown {
    width: 100%;
}

.PlanYourTripOffcanvas .select2.select2-container,
.PlanYourTripOffcanvas .select2-selection__rendered {
    transition: 0.5s all ease-in-out;
    font-size: 18px;
    font-family: var(--opensans) !important;
    font-weight: var(--font-regular);
    color: var(--black);
    letter-spacing: 0.4px;
    background: transparent;
    border: 1px solid #005e33;
    border-radius: 10px;
    align-items: center;
    justify-content: start;
    vertical-align: middle;
    height: 60px;
    margin-bottom: 0px;
    line-height: 57px;
    width: 100%;
}

span.selection {
    display: block;
}

.PlanYourTripOffcanvas .select2-selection__rendered {
    padding: 0;
    border: 0;
    position: relative;
}

.PlanYourTripOffcanvas .select2-selection__rendered::after {
    padding: 0;
    border: 0;
    position: absolute;
    content: "";
    top: 28px;
    left: auto;
    right: 15px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: #000 transparent transparent transparent;
}

.PlanYourTripOffcanvas .select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: transparent;
    outline: none;
    border-radius: 4px;
}

.PlanYourTripOffcanvas .select2-container--below.select2-container--open {
    border-radius: 4px 4px 0px 0px;
}

.PlanYourTripOffcanvas .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 17px;
    line-height: 60px;
    font-family: var(--opensans) !important;
    font-weight: var(--font-regular);
    color: var(--black);

}

:root {
    --bg-color: #e0ffdf;
    --process-bg: #20c593;
    --process-gray: #cbcbcb;
    --light-color: #004963;
    --black: #000;
    --white: #FFF;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-32: 32px;
    --font-30: 30px;
    --font-28: 25px;
    --font-20: 20px;
    --font-19: 19px;
    --font-22: 22px;
    --opensans: 'Open Sans', sans-serif;
    --montserrat: 'Montserrat', sans-serif !important;
}

.PlanYourTripOffcanvas .secTitle {
    display: block;
    position: relative;
    margin-top: 0px;
}

.PlanYourTripOffcanvas .secTitle h2 {
    font-size: var(--font-28);
    font-weight: var(--font-semibold);
    line-height: inherit;
    color: #004963;
    margin-top: 15px;
}

.PlanYourTripOffcanvas .secTitle h2>small {
    font-size: 12px;
    color: #004963;
}

.PlanYourTripOffcanvas .secTitle p {
    font-size: var(--font-19);
    font-weight: var(--font-regular);
    line-height: inherit;
    color: var(--black);
    margin-bottom: 50px;
}

.PlanYourTripOffcanvas .process_heading {
    font-family: var(--opensans) !important;
    font-size: var(--font-22);
    font-weight: var(--font-semibold);
    line-height: inherit;
    color: #004963;
    letter-spacing: 0.4px;
    margin-bottom: 17px;
}

.PlanYourTripOffcanvas .bella-d-flex {
    display: flex;
    gap: 10px;
    grid-gap: 10px;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
}

.PlanYourTripOffcanvas .icon-bella {
    width: 100px;
    height: 100px;
}

.PlanYourTripOffcanvas .icon-bella img {
    border-radius: 50%;
    border: 1px solid #004963;
}

.PlanYourTripOffcanvas .form-check {
    border: 1px solid #005e33;
    padding: 0px;
    border-radius: 10px;
    align-items: center;
    justify-content: start;
    vertical-align: middle;
    height: 60px;
    margin-bottom: 15px;
    width: 95%;
    display: flex;
    align-items: center;
}

.PlanYourTripOffcanvas .form-check:visited {
    background: var(--light-color);
}

.PlanYourTripOffcanvas .container-custom {
    width: 97%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.PlanYourTripOffcanvas .form_phsudoeffect,
.ulWizardBgAfter {
    position: relative;
}

.PlanYourTripOffcanvas .ulWizardBgAfter::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../img/make_my_trip/bg-after.png');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
}

.PlanYourTripOffcanvas .mobile-progessbar {
    display: none;
}

.PlanYourTripOffcanvas .desktop-progressbar {
    display: block;
}

.PlanYourTripOffcanvas .create_acc_heading {
    margin-bottom: 15px;
}

.PlanYourTripOffcanvas .wizardForm .form-label {
    font-size: 15px;
    font-weight: 500;
    line-height: inherit;
    color: #004963;
    letter-spacing: 0.1px;
}

.PlanYourTripOffcanvas .show-hideDiv {
    position: relative;
    cursor: pointer;
}

.PlanYourTripOffcanvas .show-hideDiv .pass_icons {
    position: absolute;
    top: 20px;
    left: auto;
    right: 15px;
    font-size: 22px;
}

.PlanYourTripOffcanvas .BPDetailiSec .form-check label.form-check-label {
    padding-right: 10px;
}

.PlanYourTripOffcanvas .stepimgTitle {
    color: #004963;
    font-size: 16px;
    line-height: inherit;
    font-weight: 500;
    margin-bottom: 10px;
}

.PlanYourTripOffcanvas .stepimgUL {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 15px;
    row-gap: 15px;
    grid-gap: 15px;
    grid-row-gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.PlanYourTripOffcanvas .stepimgUL li {
    text-align: center;
    list-style: none;
    flex: 0 0 17%;
}

.PlanYourTripOffcanvas .stepimgUL input[type="radio"],
.PlanYourTripOffcanvas .mediaSec input[type="radio"],
.PlanYourTripOffcanvas .stepplacesUL input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.PlanYourTripOffcanvas .stepimgUL input[type="radio"]:checked+.plan-content img {
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
    border: 2px solid #ff4d47;
    border-radius: 50px 50px 0 0;
    outline: none;
    box-shadow: 0 3px 8px rgb(0 0 0 / 47%);
}

.PlanYourTripOffcanvas .stepimgUL a.img-link {
    outline: none;
}

.PlanYourTripOffcanvas .stepimgUL img.img-fluid {
    border-radius: 50px 50px 0 0;
    border: 3px solid #e0ffdf;
}

.PlanYourTripOffcanvas .mediaSec input[type="radio"]:checked+.lableinputsc,
.PlanYourTripOffcanvas .stepplacesUL input[type="radio"]:checked+.plan-content {
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
    border: 1px solid #ff4d47;
    box-shadow: 0 3px 8px rgb(0 0 0 / 47%);
}

.PlanYourTripOffcanvas .imgHeadingstep {
    color: #004963;
    font-size: 14px;
    line-height: inherit;
    letter-spacing: 0.10px;
    font-weight: 600;
    transition: 0.5s all ease-in-out;
    padding: 5px 0 5px;
}

.PlanYourTripOffcanvas .mediaSec ul {
    display: flex;
    flex-flow: wrap;
    gap: 12px;
    grid-gap: 12px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.PlanYourTripOffcanvas .mediaSec ul li a .lableinputsc {
    padding: 7px 10px;
    border: 1px solid #004963;
    border-radius: 5px;
    color: #004963;
    font-size: 15px;
    line-height: inherit;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
}

.PlanYourTripOffcanvas .stepSoloUL {
    display: flex;
    align-items: center;
    gap: 10px;
    grid-gap: 10px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: flex-start;
}

.PlanYourTripOffcanvas .stepSoloUL input[type="radio"],
.PlanYourTripOffcanvas .stepTemparateUL input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.PlanYourTripOffcanvas .stepSoloUL input[type="radio"]:checked+.plan-content,
.PlanYourTripOffcanvas .stepTemparateUL input[type="radio"]:checked+.plan-content {
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
    border: 1px solid #ff4d47;
    box-shadow: 0 3px 8px rgb(0 0 0 / 47%);
}

.PlanYourTripOffcanvas .stepSoloUL .plan-content {
    border: 1px solid #004963;
    padding: 10px 10px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    width: 160px;
    cursor: pointer;
}

.PlanYourTripOffcanvas .stepSoloUL .plan-content img {
    position: absolute;
    top: -21px;
    left: 65px;
    right: 0;
    bottom: 0;
    width: 35px;
    height: 35px;
}

.PlanYourTripOffcanvas .counterBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.PlanYourTripOffcanvas .titleCounter,
.PlanYourTripOffcanvas .subheadingCounter {
    color: #004963;
    font-size: 15px;
    line-height: inherit;
    font-weight: 600;
}

.PlanYourTripOffcanvas .subheadingCounter {
    font-weight: 400;
}

.PlanYourTripOffcanvas .counterIncDec button {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    outline: none;
    border: 2px solid #004963;
    background: var(--bg-color);
    font-size: 25px;
    line-height: 25px;
    font-weight: 500;
    color: #004963;
    position: relative;
}

.PlanYourTripOffcanvas .counterIncDec>span {
    margin-right: 10px;
}

.PlanYourTripOffcanvas .counterIncDec input[type="text"] {
    background: transparent;
    border: 0;
    text-align: center;
    width: 35px;
    font-weight: 600;
    font-size: 16px;
    color: #004963;
    outline: none !important;
}

.PlanYourTripOffcanvas .counterIncDec {
    display: flex;
    align-items: center;
    
    grid-template-columns: auto auto auto;
    justify-content: flex-start;
}

.PlanYourTripOffcanvas .counterIncrementDecremnet {
    border: 1px solid #004963;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.5s all ease-in-out;
}

.PlanYourTripOffcanvas .familyadultBox,
.PlanYourTripOffcanvas .groupAdultBox {
    display: none;
}

.PlanYourTripOffcanvas .familyadultBox.open,
.PlanYourTripOffcanvas .groupAdultBox.open {
    display: block;
}

.PlanYourTripOffcanvas .counterBox:not(:last-child) {
    border-bottom: 1px solid #004963;
}

.PlanYourTripOffcanvas .counterTitle {
    padding: 10px 0;
}

.PlanYourTripOffcanvas .stepplacesUL,
.PlanYourTripOffcanvas .stepTemparateUL {
    display: flex;
    align-items: center;
    gap: 25px;
    grid-gap: 25px;
    margin-top: 30px;
}

.PlanYourTripOffcanvas .stepplacesUL li,
.PlanYourTripOffcanvas .stepTemparateUL li {
    text-align: center;
}

.PlanYourTripOffcanvas .stepplacesUL .plan-content {
    border: 1px solid #004963;
    padding: 15px;
    border-radius: 15px 0;
    width: 280px;
    cursor: pointer;
}

.PlanYourTripOffcanvas .stepTemparateUL .plan-content {
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.PlanYourTripOffcanvas .logo {
    width: 175px;
}

.PlanYourTripOffcanvas .headerSec {
    margin-bottom: 25px;
}

.PlanYourTripOffcanvas .callChatANch {
    background: var(--bg-color);
    padding: 10px 10px;
    border: 1px solid #004963;
    border-radius: 25px 0;
    color: #004963;
    font-size: 15px;
    line-height: inherit;
    font-weight: 600;
    letter-spacing: 0.10px;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
    line-height: 15px;
    width: 58%;
}

.PlanYourTripOffcanvas .callChatANch:hover {
    color: #20c593;
    border-color: #20c593;
}

.PlanYourTripOffcanvas .destination-expertCall {
    display: flex;
    gap: 15px;
    grid-gap: 15px;
    margin-bottom: 15px;
    flex-direction: column;
    align-items: flex-start;
    display: grid;
    grid-template-columns: auto;
}

.bella-d-flex .destination-expertCall img {
    width: 22px;
    margin-right: 5px;
}

.PlanYourTripOffcanvas .destination-expertCall .chatIcon,
.PlanYourTripOffcanvas .destination-expertCall .callIcon {
    vertical-align: middle;
    font-size: 17px;
}

.wizardForm .step-steps {
    margin-top: 25px;
}

.wizardForm .step-steps>li span {
    position: absolute;
    top: 25px;
    bottom: auto;
    color: #004963;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    left: 0;
    right: 0;
}

.wizardForm .step-app .step-steps li:last-child {
    flex: 1;
}

.PlanYourTripOffcanvas .step6form {
    margin-bottom: 15px;
}

.PlanYourTripOffcanvas .step6form .textareaFld {
    height: 100px;
}

.PlanYourTripOffcanvas .locaiconsbox {
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.intl-tel-input .country-list li {
    display: list-item;
}

.PlanYourTripOffcanvas .locationIOIcon {
    position: absolute;
    content: '';
    top: 15px;
    left: 10px;
    right: 0;
    bottom: 0;
    color: #004963;
}

.PlanYourTripOffcanvas .locaInputfld {
    padding-left: 30px;
}

.PlanYourTripOffcanvas .step6form label,
.PlanYourTripOffcanvas .step6form .separate-dial-code {
    width: 100%;
}

.PlanYourTripOffcanvas .step-footer {
    flex-direction: row;
    margin-top: 30px;
    column-gap: 0px;
    grid-column-gap: 0px;
    justify-content: space-between;
    align-items: center;
}

.PlanYourTripOffcanvas .wizardForm .step-footer>button.step-btn.stepssubTitle1 {
    background: transparent;
    color: #004963;
    width: auto;
    display: block;
}

.PlanYourTripOffcanvas .counterIncDec1 .formInput {
    background: #e0ffdf;
    width: 80px;
    border-color: #004963;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    color: #004963;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    border: 2px solid;
    padding: 6px 10px;
    font-size: 16px;
}

.PlanYourTripOffcanvas .stepimgUL input[type="checkbox"]:checked+.plan-content img {
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
    border: 3px solid #ff4d47;
    border-radius: 50px 50px 0 0;
    outline: none;
    box-shadow: 0 3px 8px rgb(0 0 0 / 47%);
}

.PlanYourTripOffcanvas .stepimgUL input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.PlanYourTripOffcanvas .mediaSec input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.PlanYourTripOffcanvas .mediaSec input[type="checkbox"]:checked+.lableinputsc {
    border-radius: 5px;
    outline: none;
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
    border: 1px solid #ff4d47;
    box-shadow: 0 3px 8px rgb(0 0 0 / 47%);
}

.PlanYourTripOffcanvas .crossSignPlanMyTrip {
    display: flex;
    justify-content: end;
    position: absolute;
    top: 30px;
    left: auto;
    right: 30px;
    width: 40px;
}

.PlanYourTripOffcanvas .crossSignPlanMyTrip img {
    cursor: pointer;
}

.offcanvas-bottom.PlanYourTripOffcanvas {
    height: 100vh;
    z-index: 9999;
    background: var(--bg-color);
    padding: 10px 0 10px 0;
    transition: 0.8s all ease-in-out;
}

.PlanYourTripOffcanvas .btn-close {
    background-image: url('../../../img/make_my_trip/cross.png');
    background-repeat: no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: end;
    position: absolute;
    top: 0px;
    left: auto;
    right: 0px;
}

.PlanYourTripOffcanvas .btn-close:focus {
    box-shadow: none;
}

.PlanYourTripOffcanvas .offcanvas-title {
    width: 300px;
}

.PlanYourTripOffcanvas .offcanvas-header {
    padding-bottom: 0px;
    padding-top: 0px;
}

.PlanYourTripOffcanvas .callChatANch br {
    display: none;
}

.threeStepCounter .calendar {
    width: 375px;
    border: 1px solid #004963;
    border-radius: 7px;
}

.threeStepCounter .calendar__month {
    font-size: 15px;
    font-weight: 800;
    padding: 10px;
    width: 100%;
    position: relative;
}

.threeStepCounter .cal-month__previous,
.threeStepCounter .cal-month__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 25px;
    height: 25px;
    text-align: center;
    color: #004963;
    font-weight: 400;
}

.threeStepCounter .cal-month__previous:hover,
.threeStepCounter .cal-month__next:hover {
    background-color: transparent;
    box-shadow: none;
    border-radius: 50%;
    font-weight: 800;
    color: #004963;
}

.threeStepCounter .cal-month__next {
    right: 0;
}

.threeStepCounter .cal-month__current {
    text-align: center;
    color: #004963;
    font-weight: 500;
    font-size: 16px;
}

.threeStepCounter .cal-head__day,
.threeStepCounter .cal-body__day {
    display: inline-block;
    width: 35px;
    height: 35px;
    color: #004963;
    font-size: 15px;
    font-weight: 500;
}

.threeStepCounter .cal-body__week,
.threeStepCounter .calendar__head {
    display: block;
    height: 35px;
    width: 375px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.threeStepCounter .calendar__head {
    line-height: 35px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.threeStepCounter .cal-body__day {
    color: #b2b2b2;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}

.threeStepCounter .cal-day__month--current {
    color: #004963;
    font-weight: 500;
    font-size: 15px;
}

.threeStepCounter .cal-day__day--today {
    font-weight: 800;
    color: #004963;
}

.threeStepCounter .cal-day__day--selected {
    background-color: #004963;
    box-shadow: none;
    color: #e0ffdf;
    font-weight: 700;
    border-radius: 8px;
    line-height: 35px;
}

.threeStepCounter .cal-month__previous {
    padding-left: 5px;
    margin-left: -10px;
}

.threeStepCounter .cal-month__next {
    padding-right: 15px;
}

.dateflexibleDIv .form-check-input {
    background-color: transparent;
    border: 1px solid #004963;
    margin-top: 7px;
}

.threeStepCounter .dateflexibleDIv .para {
    margin-bottom: 0;
    cursor: pointer;
    margin-top: 7px;
}

.threeStepCounter .create_acc_heading {
    margin-bottom: 15px;
}

.PlanYourTripOffcanvas .dealsSec {
    display: none;
}

.PlanYourTripOffcanvas .dealsSec {
    text-align: center;
}

.PlanYourTripOffcanvas .dealsSec .logo {
    margin: 20px auto 0;
}

.PlanYourTripOffcanvas .dealshead1 {
    font-size: var(--font-32);
    font-weight: 500;
    line-height: inherit;
    color: #004963;
    margin-top: 30px;
    margin-bottom: 25px;
    letter-spacing: 0.5px;
}

.PlanYourTripOffcanvas .dealshead1 a {
    color: #004963;
    font-weight: 700;
    border-bottom: 2px solid rgb(0 73 99 / 53%);
}

.PlanYourTripOffcanvas .single_tour_dealshead {
    font-size: var(--font-32);
    font-weight: 500;
    line-height: inherit;
    color: #004963;
    margin-top: 30px;
    margin-bottom: 25px;
    letter-spacing: 0.5px;
}

.PlanYourTripOffcanvas .single_tour_dealshead a {
    color: #004963;
    font-weight: 700;
    border-bottom: 2px solid rgb(0 73 99 / 53%);
}

.PlanYourTripOffcanvas .dealbutton a {
    color: var(--white);
    background: var(--light-color);
    font-weight: var(--font-semibold);
    border-radius: 8px;
    padding: 11px 23px;
    border: 0px;
    font-size: var(--font-19);
    text-transform: capitalize;
    width: 25%;
    letter-spacing: 0.4px;
    transition: all 0.5s ease-in-out 0s;
    --webkit-transition: 0.5s all ease-in-out;
    display: block;
    margin: 0px auto 30px;
    font-family: var(--opensans) !important;
}

.PlanYourTripOffcanvas .single_tour_dealbutton a {
    color: var(--white);
    background: var(--light-color);
    font-weight: var(--font-semibold);
    border-radius: 8px;
    padding: 11px 23px;
    border: 0px;
    font-size: var(--font-19);
    text-transform: capitalize;
    width: 25%;
    letter-spacing: 0.4px;
    transition: all 0.5s ease-in-out 0s;
    --webkit-transition: 0.5s all ease-in-out;
    display: block;
    margin: 0px auto 30px;
    font-family: var(--opensans) !important;
}

.PlanYourTripOffcanvas .deal-para {
    color: #004963;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.PlanYourTripOffcanvas .answer-ques-deals {
    background: transparent;
    border: 1px solid rgb(0 73 99 / 82%);
    color: #004963;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 10px;
    display: block;
    width: max-content;
    text-align: center;
    margin: 0 auto;
}

.PlanYourTripOffcanvas .dealchatSec .bella-d-flex {
    justify-content: center;
}

.PlanYourTripOffcanvas .dealsSec .process_heading {
    letter-spacing: 0.2px;
}

.PlanYourTripOffcanvas .dealbutton a:hover {
    background: var(--process-bg);
}

.PlanYourTripOffcanvas .dealsSec a {
    transition: all 0.5s ease-in-out 0s;
    --webkit-transition: 0.5s all ease-in-out;
}

.PlanYourTripOffcanvas .dealshead1 a:hover {
    color: var(--process-bg);
    border-color: var(--process-bg);
}

.PlanYourTripOffcanvas .dealsSec .answer-ques-deals:hover {
    color: var(--white);
    background: var(--light-color);
}

.PlanYourTripOffcanvas .dealsSec .bella-d-flex .callChatANch {
    text-align: left;
}

.PlanYourTripOffcanvas.firstCompleted .dealsSec {
    display: block !important;
}

.PlanYourTripOffcanvas.firstCompleted #wizardSec {
    display: none !important;
}

.PlanYourTripOffcanvas.firstCompleted .logo,
.PlanYourTripOffcanvas.firstCompleted .offcanvas-title {
    margin-left: auto;
    margin-right: auto;
}

li.iti__country {
    padding: 5px 10px;
    display: list-item;
}

li.iti__divider {
    display: list-item;
}

.PlanYourTripOffcanvas.list-details-plan-your-trip .counterIncDec span {
    color: #004963;
    font-weight: 600;
    font-size: 16px;
}

.list-details-plan-your-trip .iti.iti--allow-dropdown.iti--separate-dial-code {
    width: 100%;
}

.list-details-plan-your-trip .wizardForm .step-app .step-steps li:last-child {
    flex: 1;
}

.list-details-plan-your-trip.PlanYourTripOffcanvas .counterBox {
    gap: 5px;
    grid-gap: 5px;
    display: grid;
    grid-template-columns: auto auto;

}

.groupAdultBox.counterIncrementDecremnet .counterIncDec1 {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    grid-gap: 5px;
}

.groupAdultBox.counterIncrementDecremnet .counterIncDec1 label {
    width: auto;
    display: inline-flex;
    align-items: center;
    text-align: right;
}

.list-details-plan-your-trip.PlanYourTripOffcanvas *,
.list-details-plan-your-trip.PlanYourTripOffcanvas h1,
.list-details-plan-your-trip.PlanYourTripOffcanvas h2,
.list-details-plan-your-trip.PlanYourTripOffcanvas h3,
.list-details-plan-your-trip.PlanYourTripOffcanvas h4,
.list-details-plan-your-trip.PlanYourTripOffcanvas h5,
.list-details-plan-your-trip.PlanYourTripOffcanvas h6,
.list-details-plan-your-trip.PlanYourTripOffcanvas span,
.list-details-plan-your-trip.PlanYourTripOffcanvas strong,
.list-details-plan-your-trip.PlanYourTripOffcanvas body,
.list-details-plan-your-trip.PlanYourTripOffcanvas .form-label,
.list-details-plan-your-trip.PlanYourTripOffcanvas p {
    font-family: 'Open Sans', sans-serif !important;
}

.list-details-plan-your-trip.MymodalBooknowPoup .calendar-box span,
.list-details-plan-your-trip .calendar-box .day {
    font-size: 14px;
}

.list-details-plan-your-trip span.label-container.month-container {
    font-size: 16px;
    color: #004963;
    text-transform: capitalize;
}

.list-details-plan-your-trip .weeks-wrapper {
    margin-bottom: 0;
    padding-bottom: 0;
}

.list-details-plan-your-trip .day.today span::after {
    border-bottom: 0;
}

.list-details-plan-your-trip .week .day.selected span {
    color: #e0ffdf;
    font-size: 14px;
}

.PlanYourTripOffcanvas .formBorder .mediaSec ul li {
    display: grid;
}

.PlanYourTripOffcanvas .formBorder .mediaSec ul li label {
    display: grid;
}

.PlanYourTripOffcanvas .wizardForm .step-footer>.step-btn.backBtn {
    margin-right: 15px;
}

.PlanYourTripOffcanvas .iti__flag-container .iti__selected-flag {
    height: 45px;
}

.list-details-plan-your-trip.PlanYourTripOffcanvas .dealchatSec .bella-d-flex {
    display: grid !important;
    grid-template-columns: auto auto;
}

.PlanYourTripOffcanvas .locaiconsbox .locationIOIcon {
    font-size: 16px;
}

@media screen and (max-width:1599px) {
    .PlanYourTripOffcanvas .logo,
    .PlanYourTripOffcanvas .offcanvas-title {
        width: 175px;
    }

    .PlanYourTripOffcanvas .destination-expertCall {
        gap: 10px;
        grid-gap: 10px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:1529px) {
    .PlanYourTripOffcanvas .mediaSec ul {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (min-width:1281px) and (max-width:1353px) {
    .PlanYourTripOffcanvas .BPDetailiSec .form-check label.form-check-label {
        font-size: 16.5px;
    }
}

@media screen and (min-width:992px) and (max-width:1280px) {
    .PlanYourTripOffcanvas #formwizard .ulWizard,
    .PlanYourTripOffcanvas #formwizard1 .ulWizardPayment {
        padding: 100px 0px;
    }

    .PlanYourTripOffcanvas .container-custom {
        width: 95%;
    }

    .PlanYourTripOffcanvas .secTitle h2 {
        font-size: 24px;
    }

    .PlanYourTripOffcanvas .secTitle p {
        font-size: 17.5px;
        margin-bottom: 40px;
    }

    .PlanYourTripOffcanvas .form-check {
        height: auto;
        width: 100%;
    }

    .PlanYourTripOffcanvas .BPDetailiSec .form-check label.form-check-label {
        font-size: 16px;
        line-height: inherit;
    }

    .PlanYourTripOffcanvas .BPDetailiSec .form-check-input[type=radio] {
        margin-bottom: 13px;
        margin-top: 15px;
    }

    .PlanYourTripOffcanvas .BPDetailiSec .form-check-input:checked[type=radio] {
        margin-top: 12px;
    }

    .PlanYourTripOffcanvas .wizardForm .step-footer>.step-btn {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .PlanYourTripOffcanvas .wizardForm .form-label {
        font-size: 17px;
    }

    .PlanYourTripOffcanvas .termConditionSubtext {
        font-size: 17px;
    }

    .PlanYourTripOffcanvas .process_heading,
    .PlanYourTripOffcanvas .wizardForm .step-footer>.step-btn {
        font-size: 20px;
    }

    .PlanYourTripOffcanvas .wizardForm .step-footer>.step-btn {
        font-size: 18px;
    }

    .PlanYourTripOffcanvas .show-hideDiv .pass_icons {
        top: 15px;
    }

    .PlanYourTripOffcanvas .lightPinkColor .form-check-input[type=checkbox] {
        width: 25px;
        height: 25px;
        margin-top: 3px;
    }

    .PlanYourTripOffcanvas .chosen-container-multi .chosen-choices li.search-choice {
        margin: 15px 10px 0px 0;
    }

    .PlanYourTripOffcanvas ul.chosen-choices::after {
        top: 23px;
    }

    .PlanYourTripOffcanvas .chosen-container .chosen-results li {
        font-size: 15px;
        padding: 10px 15px;
    }

    .PlanYourTripOffcanvas .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
        height: auto;
        line-height: 48px;
        line-height: inherit;
        font-size: 16px;
    }

    .PlanYourTripOffcanvas .custom-select .select-selected::after {
        top: 25px !important;
    }

    .PlanYourTripOffcanvas .chosen-container-multi .chosen-choices,
    .PlanYourTripOffcanvas .select2.select2-container,
    .PlanYourTripOffcanvas .form-control,
    .PlanYourTripOffcanvas .custom-select .select-selected,
    .PlanYourTripOffcanvas .chosen-container-multi .chosen-choices li.search-field,
    .PlanYourTripOffcanvas .select2-selection__rendered,
    .PlanYourTripOffcanvas .select2-container--default .select2-selection--single .select2-selection__rendered {
        font-size: 15px;
        line-height: 50px !important;
        height: 50px !important;
    }

    .PlanYourTripOffcanvas .iti__flag-container .iti__selected-flag {
        height: 50px;
    }

    .PlanYourTripOffcanvas .step6form .textareaFld {
        height: 100px !important;
    }

    .PlanYourTripOffcanvas .select2-selection__rendered::after {
        top: 23px;
    }

    .PlanYourTripOffcanvas .file-upload-wrapper,
    .PlanYourTripOffcanvas .file-upload-wrapper::before,
    .PlanYourTripOffcanvas .file-upload-wrapper::after {
        height: 50px;
    }

    .PlanYourTripOffcanvas .file-upload-wrapper::after {
        line-height: 50px;
    }

    .PlanYourTripOffcanvas .file-upload-wrapper::before {
        padding: 14px 15px;
    }

    .PlanYourTripOffcanvas .divStep7 .stepPaddingbottom:last-child,
    .PlanYourTripOffcanvas .divStep8 .stepPaddingbottom:last-child {
        padding-bottom: 30px;
    }

    .PlanYourTripOffcanvas .form_phsudoeffect::before {
        top: -45px;
        right: 30px;
        height: 95%;
    }
}

@media screen and (min-width:1200px) and (max-width:1299px) {
    .PlanYourTripOffcanvas .btn-close {
        width: 40px;
    }
}

@media screen and (max-width:1199px) {
    .list-details-plan-your-trip.PlanYourTripOffcanvas .imgHeadingstep {
        font-size: 12px !important;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .titleCounter,
    .PlanYourTripOffcanvas .subheadingCounter {
        font-size: 13px;
    }

    .groupAdultBox.counterIncrementDecremnet .counterIncDec1 label {
        font-size: 12.5px;
    }

    .PlanYourTripOffcanvas .mediaSec ul {
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .PlanYourTripOffcanvas .wrapper {
        padding: 15px 0;
    }

    .PlanYourTripOffcanvas .create_acc_heading {
        margin-bottom: 20px;
    }

    .PlanYourTripOffcanvas .destination-expertCall {
        flex-wrap: wrap;
    }

    .PlanYourTripOffcanvas .form_phsudoeffect::before {
        top: 0px;
        right: 40px;
        height: 85%;
    }

    .PlanYourTripOffcanvas .callChatANch br {
        display: block;
    }

    .offcanvas-bottom.PlanYourTripOffcanvas {
        padding: 30px 0;
    }

    .PlanYourTripOffcanvas .btn-close {
        width: 35px;
        height: 35px;
        opacity: 1;
    }

    .PlanYourTripOffcanvas .offcanvas-header {
        padding-top: 0;
        align-items: flex-start;
    }

    .list-details-plan-your-trip .desktop-progressbar {
        margin-left: 22px !important;
        width: 39%;
    }
}

@media screen and (min-width:992px) and (max-width:1024px) {
    .PlanYourTripOffcanvas .form_phsudoeffect::before {
        top: 0;
        right: 30px;
        height: 85%;
    }
}

@media screen and (max-width:991px) {
    .PlanYourTripOffcanvas .form_phsudoeffect::before {
        display: none;
    }

    .PlanYourTripOffcanvas .destination-expertCall {
        flex-wrap: wrap;
        justify-content: start;
    }

    .PlanYourTripOffcanvas .stepimgTitle {
        text-align: center;
    }

    .PlanYourTripOffcanvas .container-custom {
        width: 95%;
    }

    .PlanYourTripOffcanvas .wrapper {
        padding: 30px 0;
    }

    .offcanvas-bottom.PlanYourTripOffcanvas {
        padding: 30px 0;
    }

    .PlanYourTripOffcanvas .btn-close {
        width: 15px;
        height: 15px;
        opacity: 1;
    }

    .PlanYourTripOffcanvas .offcanvas-header {
        padding-top: 0;
        align-items: flex-start;
    }

    .PlanYourTripOffcanvas .logo {
        margin: auto;
    }

    .PlanYourTripOffcanvas .secTitle {
        text-align: center;
    }

    .PlanYourTripOffcanvas .secTitle h2 {
        font-size: 20px;
    }

    .PlanYourTripOffcanvas .secTitle p {
        font-size: 17px;
        margin-top: 7px;
        margin-bottom: 25px;
    }

    .PlanYourTripOffcanvas .form-check {
        height: auto;
        width: 100%;
    }

    .PlanYourTripOffcanvas .BPDetailiSec .form-check label.form-check-label {
        font-size: 15px;
        line-height: inherit;
    }

    .PlanYourTripOffcanvas .BPDetailiSec .form-check-input[type=radio] {
        margin-bottom: 13px;
        margin-top: 15px;
    }

    .PlanYourTripOffcanvas .BPDetailiSec .form-check-input:checked[type=radio] {
        margin-top: 12px;
    }

    .PlanYourTripOffcanvas .step-footer {
        margin-top: 22px;
    }

    .PlanYourTripOffcanvas .wizardForm .step-footer>.step-btn {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .PlanYourTripOffcanvas #formwizard .ulWizard,
    .PlanYourTripOffcanvas #formwizard1 .ulWizardPayment {
        padding: 50px 0px;
    }

    .PlanYourTripOffcanvas .wizardForm .form-label {
        font-size: 17px;
    }

    .PlanYourTripOffcanvas .termConditionSubtext {
        font-size: 17px;
    }

    .PlanYourTripOffcanvas .process_heading,
    .PlanYourTripOffcanvas .wizardForm .step-footer>.step-btn {
        font-size: 16px;
        line-height: inherit;
    }

    .PlanYourTripOffcanvas .show-hideDiv .pass_icons {
        top: 15px;
    }

    .PlanYourTripOffcanvas .lightPinkColor .form-check-input[type=checkbox] {
        width: 25px;
        height: 25px;
        margin-top: 2px;
    }

    .PlanYourTripOffcanvas .chosen-container-multi .chosen-choices li.search-choice {
        margin: 15px 10px 0px 0;
    }

    .PlanYourTripOffcanvas ul.chosen-choices::after {
        top: 23px;
    }

    .PlanYourTripOffcanvas .chosen-container .chosen-results li {
        font-size: 15px;
        padding: 10px 15px;
    }

    .PlanYourTripOffcanvas .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
        height: auto;
        line-height: 48px;
        line-height: inherit;
        font-size: 16px;
    }

    .PlanYourTripOffcanvas .custom-select .select-selected::after {
        top: 25px !important;
    }

    .PlanYourTripOffcanvas .chosen-container-multi .chosen-choices,
    .PlanYourTripOffcanvas .select2.select2-container,
    .PlanYourTripOffcanvas .form-control,
    .PlanYourTripOffcanvas .custom-select .select-selected,
    .PlanYourTripOffcanvas .chosen-container-multi .chosen-choices li.search-field,
    .PlanYourTripOffcanvas .select2-selection__rendered,
    .PlanYourTripOffcanvas .select2-container--default .select2-selection--single .select2-selection__rendered {
        font-size: 15px;
        line-height: 45px !important;
        height: 45px !important;
    }

    .PlanYourTripOffcanvas .select2-selection__rendered::after {
        top: 23px;
    }

    .PlanYourTripOffcanvas .file-upload-wrapper,
    .PlanYourTripOffcanvas .file-upload-wrapper::before,
    .PlanYourTripOffcanvas .file-upload-wrapper::after {
        height: 50px;
    }

    .PlanYourTripOffcanvas .file-upload-wrapper::after {
        line-height: 50px;
        padding-left: 140px;
        font-size: 14px;
    }

    .PlanYourTripOffcanvas .file-upload-wrapper::before {
        padding: 15px 15px;
    }

    .PlanYourTripOffcanvas .file-upload-wrapper::before {
        font-size: 15px;
        overflow-wrap: anywhere;
        padding: 15px 5px;
    }

    .PlanYourTripOffcanvas .custom-select .select-selected {
        font-size: 15px !important;
    }

    .PlanYourTripOffcanvas .process_heading {
        text-align: center;
    }

    .PlanYourTripOffcanvas .stepSoloUL {
        justify-content: center;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .stepSoloUL {
        justify-content: flex-start;
    }

    .PlanYourTripOffcanvas .stepplacesUL,
    .PlanYourTripOffcanvas .stepTemparateUL {
        justify-content: center;
        flex-wrap: wrap;
    }

    .PlanYourTripOffcanvas .stepplacesUL,
    .PlanYourTripOffcanvas .stepTemparateUL {
        margin-top: 15px;
    }

    .PlanYourTripOffcanvas .step6form .textareaFld {
        height: 100px !important;
    }

    .PlanYourTripOffcanvas .crossSignPlanMyTrip {
        width: 30px;
        top: 15px;
        right: 15px;
    }

    .PlanYourTripOffcanvas .offcanvas-title {
        margin: 0 auto;
    }

    .list-details-plan-your-trip .desktop-progressbar {
        margin-left: 0px !important;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .offcanvas-title {
        margin: 0;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .process_heading,
    .list-details-plan-your-trip.PlanYourTripOffcanvas .secTitle h2 {
        text-align: left;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .btn-close {
        width: 28px;
        height: 35px;
        opacity: 1;
    }

    .list-details-plan-your-trip .wizSec .stepWizard,
    .list-details-plan-your-trip .wizSec .desktop-progressbar {
        width: 100%;
        flex: inherit;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .wizSec .ulWizard {
        height: auto;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .imgHeadingstep {
        font-size: 14px !important;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .callChatANch {
        font-size: 13px;
    }

    .list-details-plan-your-trip .wizardForm .step-footer>.step-btn {
        padding: 10.5px 23px;
    }

    .list-details-plan-your-trip .wizardForm .step-footer>.step-btn.backBtn {
        padding: 9.5px 23px;
    }

    .dealsSec .main-deal-sec .dealshead1 {
        font-size: 27px;
    }

    .dealsSec .dealchatSec h3.process_heading {
        text-align: center !important;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .dealbutton a {
        width: 30%;
        font-size: 18px;
    }

    .PlanYourTripOffcanvas .mediaSec ul {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .list-details-plan-your-trip.PlanYourTripOffcanvas .stepimgUL li {
        flex: 0 0 22%;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .icon-bella {
        width: 70px;
        height: 70px;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .callChatANch {
        font-size: 13px;
    }

    .list-details-plan-your-trip .bella-d-flex .destination-expertCall img {
        width: 15px;
        margin-right: 2px;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .stepSoloUL .plan-content img {
        left: 90px;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .stepSoloUL .plan-content {
        width: 210px;
    }
}

@media screen and (max-width:767px) {
    header#header {
        margin-bottom: 25px;
    }

    .PlanYourTripOffcanvas .wizardForm .step-footer>.step-btn {
        width: 100%;
    }

    .PlanYourTripOffcanvas .stepimgUL li {
        flex-basis: 20%;
    }

    .PlanYourTripOffcanvas .stepplacesUL .plan-content {
        width: auto;
    }

    .PlanYourTripOffcanvas .mobile_lastName {
        margin-top: 15px;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .stepimgUL li {
        flex-basis: 22%;
    }

    .dealsSec .main-deal-sec .dealshead1 {
        font-size: 23px;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .dealbutton a {
        width: 40%;
        font-size: 17px;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .mediaSec ul {
        gap: 8px;
        grid-gap: 8px;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .mediaSec ul li a .lableinputsc {
        font-size: 13px;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .mediaSec label,
    .list-details-plan-your-trip.PlanYourTripOffcanvas .mediaSec ul li a {
        width: 100%;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .mediaSec ul li {
        width: auto;
        text-align: center;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .chosen-container-multi .chosen-choices,
    .PlanYourTripOffcanvas .select2.select2-container,
    .PlanYourTripOffcanvas .form-control,
    .PlanYourTripOffcanvas .custom-select .select-selected,
    .PlanYourTripOffcanvas .chosen-container-multi .chosen-choices li.search-field,
    .PlanYourTripOffcanvas .select2-selection__rendered,
    .PlanYourTripOffcanvas .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 40px !important;
        height: 40px !important;
    }

    .PlanYourTripOffcanvas .mediaSec ul {
        grid-template-columns: auto auto;
    }

    .PlanYourTripOffcanvas .stepimgUL {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .PlanYourTripOffcanvas .iti__flag-container .iti__selected-flag {
        height: 40px;
    }

    .PlanYourTripOffcanvas.list-details-plan-your-trip .single_tour_dealshead {
        font-size: 21px;
    }

    .PlanYourTripOffcanvas.list-details-plan-your-trip .single_tour_dealbutton a {
        width: 160px;
        font-size: 15px;
    }

    .PlanYourTripOffcanvas .locaiconsbox .locationIOIcon {
        font-size: 13px;
    }
}

@media screen and (max-width:613px) {
    .PlanYourTripOffcanvas .lightPinkColor .form-check-input[type=checkbox] {
        margin-right: 10px;
    }

    .PlanYourTripOffcanvas .termConditionSubtext {
        display: inline;
    }

    .PlanYourTripOffcanvas .stepimgUL li {
        flex-basis: 30.5%;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .stepimgUL li {
        flex-basis: 22%;
    }
}

@media screen and (max-width:575px) {
    .list-details-plan-your-trip.PlanYourTripOffcanvas .stepimgUL li {
        flex-basis: 30%;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .imgHeadingstep {
        font-size: 12px !important;
    }
}

@media screen and (min-width:480px) and (max-width:767px) {
    .PlanYourTripOffcanvas .stepSoloUL .plan-content {
        width: 125px;
    }

    .PlanYourTripOffcanvas .stepSoloUL .plan-content img {
        left: 46px;
    }

    .PlanYourTripOffcanvas .counterBox:not(:last-child) {
        justify-content: space-between;
    }

    .PlanYourTripOffcanvas .titleCounter,
    .PlanYourTripOffcanvas .subheadingCounter {
        text-align: left !important;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .counterBox {
        justify-content: space-between;
    }

    .PlanYourTripOffcanvas .imgHeadingstep {
        padding: 10px 0 1px;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .imgHeadingstep {
        font-size: 12px !important;
    }
}

@media screen and (max-width:479px) {
    .PlanYourTripOffcanvas .crossSignPlanMyTrip {
        width: 27px;
    }

    .PlanYourTripOffcanvas .logo {
        width: 175px;
    }

    .PlanYourTripOffcanvas header#header {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .PlanYourTripOffcanvas .offcanvas-title {
        width: 170px;
    }

    .PlanYourTripOffcanvas .stepimgUL {
        gap: 8px;
        grid-gap: 8px;
    }

    .PlanYourTripOffcanvas .mediaSec ul li {
        flex: 1;
        align-items: center;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .mediaSec ul li {
        width: 100%;
        flex: auto;
    }

    .PlanYourTripOffcanvas .titleCounter,
    .PlanYourTripOffcanvas .subheadingCounter {
        text-align: center;
    }

    .PlanYourTripOffcanvas .counterBox {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        place-content: center;
    }

    .PlanYourTripOffcanvas .counterBox:not(:last-child) {
        padding-bottom: 15px;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .stepimgUL li {
        flex-basis: 48%;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .imgHeadingstep {
        font-size: 12.5px !important;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .bella-d-flex {
        flex-direction: column;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .process_heading,
    .list-details-plan-your-trip.PlanYourTripOffcanvas .secTitle h2 {
        text-align: center;
    }

    .list-details-plan-your-trip .calendar-box {
        width: 75%;
        margin: auto;
    }

    .list-details-plan-your-trip .dateflexibleDIv,
    .list-details-plan-your-trip.PlanYourTripOffcanvas .counterIncDec {
        justify-content: center;
    }

    .list-details-plan-your-trip .calendar-box .day span,
    .list-details-plan-your-trip .week .day.selected span {
        width: 20px;
        height: 20px;
        line-height: 20px;
    }

    .list-details-plan-your-trip .day.today span::after {
        bottom: 2px;
    }

    .list-details-plan-your-trip .wizardForm .step-footer>.step-btn.backBtn {
        padding: 9.5px 15px;
    }

    .list-details-plan-your-trip .wizardForm span.error,
    .list-details-plan-your-trip label.error {
        font-size: 13px;
    }

    .groupAdultBox.counterIncrementDecremnet .counterIncDec1 {
        flex-direction: column;
    }

    .groupAdultBox.counterIncrementDecremnet .counterIncDec1 label {
        text-align: center;
    }

    .PlanYourTripOffcanvas .mediaSec ul {
        grid-template-columns: auto;
    }

    .PlanYourTripOffcanvas .stepimgUL {
        grid-template-columns: 1fr 1fr;
    }

    .PlanYourTripOffcanvas .bella-d-flex {
        grid-template-columns: auto;
    }

    .PlanYourTripOffcanvas .icon-bella {
        margin: auto;
    }

    .PlanYourTripOffcanvas .stepSoloUL,
    .list-details-plan-your-trip.PlanYourTripOffcanvas .counterBox {
        grid-template-columns: auto;
    }

    .PlanYourTripOffcanvas .wizardForm .step-footer>.step-btn.backBtn {
        margin-right: 10px;
    }

    .PlanYourTripOffcanvas .secTitle h2 {
        font-size: 17.5px;
        margin-top: 25px;
    }

    .PlanYourTripOffcanvas .wizardForm .form-label {
        font-size: 15px;
    }

    .PlanYourTripOffcanvas .dateflexibleDIv .form-check-input {
        margin-top: 8px;
    }

    .PlanYourTripOffcanvas .threeStepCounter .dateflexibleDIv .para {
        font-size: 12px !important;
    }

    .PlanYourTripOffcanvas .counterIncrementDecremnet {
        padding: 10px 20px 15px;
    }

    .PlanYourTripOffcanvas .bella-d-flex {
        justify-content: center;
    }

    .PlanYourTripOffcanvas .stepSoloUL {
        gap: 35px;
        grid-gap: 35px;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .stepSoloUL {
        justify-content: center;
    }

    .PlanYourTripOffcanvas .imgHeadingstep {
        padding: 10px 0 5px;
    }

    .list-details-plan-your-trip.PlanYourTripOffcanvas .dealchatSec .bella-d-flex {
        grid-template-columns: auto;
    }
}

@media screen and (max-width:439px) {
    .list-details-plan-your-trip.PlanYourTripOffcanvas .dealbutton a {
        width: auto;
        font-size: 16px;
        display: inline-block;
        padding: 11px 35px;
    }

    .dealsSec .main-deal-sec .dealshead1 {
        font-size: 18px;
    }

    .PlanYourTripOffcanvas .dealsSec .dealchatSec .bella-d-flex {
        flex-direction: column;
    }

    .list-details-plan-your-trip .calendar-box {
        width: auto;
    }
}

.calendar-box {
    width: 375px;
    border: 1px solid #004963;
    border-radius: 7px;
    overflow: hidden;
}

.buttons-container {
    cursor: pointer;
}

.week {
    overflow: hidden;
}

.week.highlight {
    background: transparent;
}

.day {
    display: inline-block;
    float: left;
    width: 14.28%;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}

.day.disabled span {
    color: #AAA;
}

.day.today span {
    font-weight: bold;
}

.months-container.hidden,
.weeks-container.hidden {
    display: none;
}

.months-wrapper {
    overflow: hidden;
}

.months-wrapper .month {
    display: inline-block;
    float: left;
    width: 25%;
    text-align: center;
    cursor: pointer;
}

.months-wrapper .month.one-third {
    width: 33.33%;
}

.buttons-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #004963;
    background: #c9ecd2;
    border-radius: 8px 8px 0px 0px;
    padding: 0px;
}

.buttons-container .label-container {
    display: inline-block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.year-dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    padding: 5px 20px;
}

.prev-button,
.next-button {
    background: transparent;
    border: none;
    padding: 10px;
}

.dateflexibleDIv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    grid-gap: 5px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
}

.week {
    margin: 0px 0;
}

.week.highlight {
    border-radius: 5px;
}

.weeks-wrapper {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.weeks-wrapper.header {
    border-bottom: 1px solid #004963;
}

.week .day.header {
    color: #004963;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 120%;
}

.day span {
    color: #004963;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    vertical-align: middle;
    font-weight: 700;
}

.day.today span {
    position: relative;
    display: inline-block;
    font-size: 110%;
}

.week:not(.start-on-monday) .day:first-child,
.week:not(.start-on-monday) .day:last-child {
    color: orange;
}

.week:not(.start-on-monday) .day:first-child {
    color: red;
}

.week.start-on-monday .day:nth-child(6),
.week.start-on-monday .day:last-child {
    color: orange;
}

.week.start-on-monday .day:last-child {
    color: red;
}

.day.today span::after {
    content: "";
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid orange;
    width: 10px;
    height: 1px;
}

.day.sunday span {
    color: #ff8a80;
}

.week .day.highlight span {
    color: #212529;
}

.week .day.selected span {
    background: #004963;
    color: white;
}

.week .day[disabled="disabled"] span {
    color: #aaa;
    cursor: not-allowed;
}

.months-wrapper .month span {
    display: inline-block;
    padding: 10px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.special-buttons {
    text-align: center;
    border-top: 1px solid #004963;
    padding-top: 0px;
    margin-top: 10px;
    background: #c9ecd2;
}

.today-button {
    margin: 0 auto;
    background: transparent;
    border: none;
    padding: 5px;
}

.search_keyword_tags {
    margin-top: 10px;
}

.search_keyword_tags li {
    padding: 5px 15px;
    border: 1px solid #004963;
    border-radius: 5px;
    background: #cff6cd;
    color: #000;
    font-weight: 600;
}

.search_keyword_tags .remove {
    margin-left: 5px;
    cursor: pointer;
}

.plans label.plan {
    position: relative;
}

.select_listing_page input,
.list_detailspacks_compare input {
    left: 50%;
    margin-left: -18px;
}

.plan_your_trip_reset_theme {
    font-size: 15px;
    font-weight: 500;
    line-height: inherit;
    color: #004963;
    letter-spacing: 0.1px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in-out;
    margin-top: 10px;
    color: #ff4d47;
}

.custom-select {
    position: relative;
}

.custom-select select {
    display: none;
}

.custom-select .select-selected {
    background-color: #fff;
}

.custom-select .select-selected:after {
    position: absolute;
    content: "";
    top: 29px;
    right: 20px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: #000 transparent transparent transparent;
}

.custom-select .select-selected {
    padding: 0 0 0 15px;
    transition: 0.5s all ease-in-out;
    font-size: 18px;
    font-family: var(--opensans) !important;
    font-weight: var(--font-regular);
    color: var(--black);
    letter-spacing: 0.4px;
    background: transparent;
    border: 1px solid #005e33;
    border-radius: 10px;
    align-items: center;
    justify-content: start;
    vertical-align: middle;
    height: 60px;
    margin-bottom: 0px;
    line-height: 57px;
}

.custom-select .select-items div,
.custom-select .select-selected.select-arrow-active {
    padding: 20px 15px;
    position: relative;
    cursor: pointer;
    border-radius: 4px 4px 0px 0px;
}

.custom-select .select-selected.select-arrow-active {
    padding: 0 0 0 15px;
}

.custom-select .select-items {
    position: absolute;
    background-color: #fffaf5;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border: 1px solid #005e33;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-weight: 500;
    color: #243044;
}

.custom-select .select-hide {
    display: none;
}

.custom-select .select-items div:hover,
.custom-select .same-as-selected {
    background-color: rgb(36 48 68 / 5%);
    color: #243044;
}