/**
 * Green >> #1ed5a4
 * Orange >> #ff8628
 * Light Green >> #d2f3ea
 * Blue Color >> #2baac9
 */

.nav-top .nav-top-right .nav li .btn-sell-now {
	background-color: #1ed5a4 !important;
	border: 1px solid #1ed5a4 !important;;
}

.top-bar .navbar-nav .nav-item .nav-link i {
    color: #1ed5a4;
}

.li-main-nav-right a i {
    color: #1ed5a4;
}

.filter-item .price-filter-inputs .price-filter-input {
	border-color: #d2f3ea;
}

.btn-filter-price {
    background-color: #d2f3ea;
    color: #1ed5a4;
}

.product-item .badge-promoted {
	background-color: #ff8628;
}

#footer .footer-title {
    color: #1ed5a4;
}

.newsletter-button {
    background-color: #1ed5a4;
}

.nav-item-cart a .notification {
    background-color: #ff8628;
}

.product-item .badge-discount {
    background-color: #ff8628;
}

button.btn.btn-md.btn-block.btn-product-cart {
    background: #1ed5a4;
}

.btn-wishlist i {
    color: #1ed5a4;
}

.text-success {
    color: #ff8628;
}

.section-related-products .title {
    color: #1ed5a4;
}

.title a {
    color: #1ed5a4;
}

.product-item-rating .item-wishlist i {
    color: #1ed5a4;
}

.link-see-more {
    color: #ff8628;
}

.cart-section-title {
    color: #1ed5a4;
}

.shopping-cart .btn-custom {
    background-color: #1ed5a4;
    border-color: #1ed5a4;
}

.shopping-cart .cart-discount-coupon .btn-custom {
    background-color: #2baac9;
    border-color: #2baac9;
}

.btn-block {
    background-color: #1ed5a4;
    border-color: #1ed5a4;
}

.profile-details .user-contact .info i {
    color: #1ed5a4;
}

.product-content-details .price .discount-rate {
    background-color: #ff8628;
}

.btn-add-remove-wishlist .icon-heart:before {
    color: #ff8628;
}

#btn_modal_newsletter {
    background-color: #1ed5a4;
}

.page-title {
    color: #1ed5a4;
}

.custom-control-variation .custom-control-input:checked~.custom-control-label {
    border-color: #1ed5a4 !important;
}

.btn-custom {
    background-color: #1ed5a4;
    border-color: #1ed5a4;
}

.contact-social ul li a {
    color: #1ed5a4;
    border: #1ed5a4;
    background-color: #d2f3ea;
}

.scrollup i {
    background-color: #1ed5a4;
}

.btn-file-upload {
    background: #1ed5a4;
    border-color: #1ed5a4;
}