* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif !important;

}


:root {
    --primary-color: #e0ffdf;
    --secondery-color: #25CC88;
    --shadow-color: #9d9fb3;
}


body {
    background: var(--primary-color);
    color: #004963;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
strong,
body,
.form-label,
p {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif !important;
}

label.required:after {
    content: "*";
    color: #dc3545 !important;
}

.wrapper {
    padding: 0px 0;
}

.form__container {
    margin-top: 4rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    padding: 1rem;
}


.title__container h1 {
    letter-spacing: 2px;
    font-size: 1.25rem;
    margin-bottom: 0.4rem;
}

.title__container p {
    font-size: 0.75rem;
}

.body__container {
    display: flex;

}

.left__container {
    display: flex;
    padding-top: 7rem;
    padding-bottom: 1.25rem;
    padding-right: 1.8rem;
    padding-left: 2rem;
}



.title__name {
    padding: 20px 8px;
    margin-bottom: 25px;
}

.title__name h3 {
    margin-bottom: 0;
    text-align: left;
    letter-spacing: 0.10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
}

.title__name p {
    text-align: left;
    font-size: 0.75rem;
}

.progress__bar__container {
    padding-top: 0.6rem;
    /* height: 100%; */
}

.progress__bar__container ul li.active {
    background-color: #004963;
    color: #FFF;
    box-shadow: 0 0 2px rgb(0 73 99 / 69%);

}

.progress__bar__container ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background: #e0ffdf;
    margin-bottom: 47px;
    border-radius: 50%;
    font-size: 15px;
    line-height: inherit;
    font-weight: 600;
    color: #959595;
    padding: 7px 15px;
    box-shadow: 0 0 2px rgb(0 0 0 / 69%);
}

.progress__bar__container ul li::before {
    content: '';
    width: 1px;
    height: 0vh;
    position: absolute;
    background-color: var(--shadow-color);

}

.progress__bar__container ul .active::before {
    content: '';
    width: 1px;
    height: 0vh;
    position: absolute;
    background-color: var(--secondery-color);
    /* z-index: -1; */
}

.right__container {
    padding: 0.5rem 1.5rem;
    padding-left: 1.8rem;
}

.right__container fieldset {
    border: 0px solid #a1b7a0;
    padding: 15px 50px 20px;
    box-shadow: 0 0 5px rgb(0 0 0 / 70%);
    border-radius: 0 60px 0 60px;
    background: #e0ffdf;
}

.sub__title__container {
    padding: 0;
    border-bottom: 3px solid #d0eccf;
    text-align: center;
}

.sub__title__container h2 {
    letter-spacing: 0px;
    margin: 0rem 0px;
    font-size: 23px;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

.sub__title__container p {
    font-size: 14px;
    line-height: inherit;
    margin-bottom: 10px;
}

.form fieldset {
    display: none;
}

.form fieldset.active__form {
    display: block;
}

.input__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
}

.input__container label {
    font-size: 0.75rem;
    margin-bottom: 0.4rem;
}

.input__container input {

    padding: 0.5rem;
    font-size: 1.4rem;
    border-radius: 0.75rem;
    background: none;
    border: 2px solid rgb(0 73 99 / 40%);
    margin-bottom: 1.2rem;
    outline: none;
}

.nxt__btn:hover {
    cursor: pointer;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.prev__btn {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

/*------------------------------- form-2 design --------------------*/

.selection {
    display: flex;
    align-items: center;
    border: 1px solid var(--shadow-color);
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    width: 100%;
}

.selection:hover {
    border: 1px solid var(--secondery-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

.imoji {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0.4rem;
    margin: 0 0.2rem;
    margin-right: 0.4rem;
    font-size: 2rem;
    font-weight: 900;
    border-radius: 50%;
    background: var(--shadow-color);
}


.descriptionTitle h3 {
    margin-bottom: 4px;
}

.descriptionTitle p {
    font-size: 0.75rem;
}


/*-------------------------------------- form-4 design----------------------------------------- */
.slider {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.75rem;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: relative;
    margin-top: 3rem;
    /* margin-right:5rem ; */
}



.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--secondery-color);
    cursor: pointer;
    position: relative;
}

.slider::-webkit-range-thumb {
    width: 50px;
    height: 50px;
    background: var(--secondery-color);
    cursor: pointer;
    position: relative;
}

.output__value {

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    padding: 0.8rem 0.8rem;
    position: absolute;
    background-color: var(--secondery-color);
}

.output__value::after {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    background-color: black;
    transform: rotate(45deg);
    position: absolute;
    margin-top: 40px;
    background-color: var(--secondery-color);
}

/* 19-10-22 */
.container-custom {
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.logo {
    width: 125px;
    display: inline-block;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img,
svg {
    vertical-align: middle;
}

.headerSec {
    padding: 20px 0 20px;
}

.crossSignAgentDash {
    position: absolute;
    top: 20px;
    left: auto;
    right: 30px;
    width: 27px;
}

.steps-main-sec {
    display: flex;
}

.left-stepsbar {
    flex: 2.5;
    margin-right: -75px;
}

.right-stepsbar {
    flex: 1;
    position: relative;
}

.right-stepsbar::before {
    position: absolute;
    content: '';
    top: -66px;
    right: 0px;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: #cfecce;
    z-index: -1;
}

/* 19-10-22 */

/* input checkbox */
.stepimgUL {
    display: flex;
    gap: 10px;
    grid-gap: 10px;
}

.stepimgUL li {
    text-align: center;
    list-style: none;
    flex-basis: 13.66%;
}

.stepimgUL a.img-link {
    outline: none;
}

.stepimgUL label {
    display: inline-block;
}

.stepimgUL input[type="checkbox"],
.mediaSec input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.stepimgUL .plan-content {
    cursor: pointer;
}

.stepimgUL img.img-fluid {
    border-radius: 50px 50px 0 0;
    border: 2px solid #e0ffdf;
}

.stepimgUL .imgHeadingstep {
    color: #004963;
    font-size: 13.5px;
    line-height: inherit;
    letter-spacing: 0.10px;
    font-weight: 500;
    transition: 0.5s all ease-in-out;
    padding: 5px 0 5px;
}

.stepimgUL input[type="checkbox"]:checked+.plan-content img {
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
    border: 2px solid #ff4d47;
    border-radius: 50px 50px 0 0;
    outline: none;
    box-shadow: 0 3px 8px rgb(0 0 0 / 47%);
}

.mediaSec ul {
    display: flex;
    flex-flow: wrap;
    gap: 12px;
    grid-gap: 12px;
}

.mediaSec ul li a .lableinputsc {
    padding: 6px 15px;
    border: 1px solid rgb(0 73 99 / 55%);
    border-radius: 8px;
    color: rgb(0, 73, 99);
    font-size: 13.5px;
    line-height: inherit;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 0.10px;
}

.mediaSec input[type="checkbox"]:checked+.lableinputsc {
    border-radius: 5px;
    outline: none;
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
    border: 1px solid #ff4d47;
    box-shadow: 0 3px 8px rgb(0 0 0 / 47%);
}

/* input checkbox */
.form1-d-flex {
    display: flex;
    flex-direction: revert;
    justify-content: space-between;
    gap: 50px;
    grid-gap: 50px;
}

.select-plan-boxes {
    flex: 1;
    border: 1px solid #004963;
    border-radius: 0 50px 0 50px;
    padding: 30px;
}

.select-plan-box {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.select-plan-box>div {
    flex: 1 1 100%;
}

.boxTitle {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 15px;
}

.boxPricing {
    color: #ff4c46;
    font-weight: 600;
    font-size: 30px;
    text-transform: capitalize;
    line-height: inherit;
    padding-bottom: 20px;
}

.select-plan-boxes li {
    display: flex;
    align-items: center;
}

.select-plan-boxes li:not(:last-child) {
    margin-bottom: 10px;
}

.checkIconHeading {
    font-size: 14px;
    line-height: inherit;
    letter-spacing: 0.25px;
    font-weight: 400;
    padding-left: 5px;
    text-align: left;
}

.form1-d-flex .hydrated {
    vertical-align: middle;
}

.boxsbtn a {
    background: transparent;
    border: 1px solid #004963;
    color: #004963;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-weight: 600;
    transition: 0.5s all ease-in-out;
}

.boxsbtn a:hover {
    background: #004963;
    border: 1px solid #004963;
    color: #e0ffdf;
}

.step-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
    column-gap: 20px;
    grid-column-gap: 20px;
    margin-top: 30px;
}

.step-buttons button {
    background: #004963;
    border: 1px solid #004963;
    color: #e0ffdf;
    padding: 7px 35px;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 500;
    transition: 0.5s all ease-in-out;
    font-size: 16px;
}

.step-buttons button:hover {
    color: #FFF;
}

.boxsbtn {
    margin-top: 30px;
}

.right-stepsbar .hide {
    display: none;
}

.need-helpTitle {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

.custom-btn a {
    background: transparent;
    border: 1px solid #004963;
    color: #004963;
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    transition: 0.5s all ease-in-out;
}

.gotohomelink a {
    background: #004963;
    border: 1px solid #004963;
    padding: 7px 25px;
    color: #e0ffdf;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    letter-spacing: 0.25px;
}

.custom-btnbtn-border {
    border-radius: 25px 0 25px 0;
}

.needHelpSec .anchor {
    display: flex;
    flex-direction: column;
    gap: 15px;
    grid-gap: 15px;
}

.needHelpSec .hydrated {
    padding-right: 5px;
}

.needHelpSec {
    margin-top: 30px;
}

.thanksAppForm {
    text-align: center;
}

.applicationSec {
    padding: 30px 0;
}

.applicationSec img {
    width: 10%;
}

.email-link {
    padding-top: 25px;
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.email-link a {
    color: #004963;
    font-weight: 600;
}

.needHelpSec .anchor.thanks-custom-btn {
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
    grid-gap: 20px;
}

.thanks-custom-btn.custom-btn a {
    width: auto;
    padding: 15px 30px 15px 15px;
    background: #d0eccf;
}

.steps-next-button {
    gap: 10px;
    grid-gap: 10px;
}

.stepimgTitle {
    font-weight: 600;
    font-size: 15px !important;
    line-height: inherit;
    margin-bottom: 10px;
}

.type-service-offer {
    margin-top: 10px;
}

.type-service-offer label {
    margin-bottom: 2px;
}

.companyServicesSec {
    padding-bottom: 100px;
}

.terms-prev-next-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    gap: 15px;
    grid-gap: 15px;
}

.steps-next-button .step3-button-prev {
    background: transparent;
    color: #004963;
}

.steps-next-button .step3-button-prev:hover {
    background: #004963;
    color: #e0ffdf;
}

.terms-prev-next-sec .steps-next-button {
    margin-top: 0px;
}

.form-check-input:focus,
.form-control:focus,
.form-select:focus,
.form-file:focus {
    color: #004963;
    background-color: transparent;
    border-color: #004963;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(6 74 98 / 15%);

}

.terms-conditions .form-check-label {
    font-size: 15px;
    color: #004963;
    font-weight: 500;
    margin-bottom: 0;
}

.terms-conditions .form-check-label a {
    color: #004963;
    font-weight: 700;
}

.terms-conditions .form-check .form-check-input {
    margin-top: 1px;
    cursor: pointer;
    border: 1px solid #f0a18f;
}

.terms-prev-next-sec label.error {
    color: #ff4d48;
    font-size: 12px;
    font-weight: 500;
    padding-left: 1.4rem;
}

.terms-conditions .form-check-input:checked {
    background-color: #ff4d48;
    border-color: #ff4d48;
}

.terms-prev-next-sec .nxt__btn,
.tellus-about-shop .nxt__btn {
    width: 180px;
    text-align: center;
}

.tellus-about-shop .form-label {
    font-weight: 600;
    font-size: 15px;
    line-height: inherit;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.input__container input::placeholder {
    font-size: 13.5px;
    color: rgb(0 73 99 /50%);
    font-weight: 500;
    line-height: inherit;
}

.tellus-about-shop .form-floating label {
    font-size: 13.5px;
    color: rgb(0 73 99 /50%);
    font-weight: 500;
    line-height: inherit;
    width: 100%;
}

.tellus-about-shop .input__container input {
    font-size: 13.5px;
    border-radius: 10px;
    background: none;
    border: 2px solid rgb(0 73 99 / 40%);
    line-height: inherit;
    margin: 0;
    padding: 5px 10px;
    vertical-align: middle;
    height: 45px;
    width: 100%;
}

.tellus-about-shop .form-select {
    border-radius: 10px;
    background-color: #e0ffdf;
    border: 2px solid rgb(0 73 99 / 40%);
    height: 45px;
    color: #004963;
    font-size: 13.5px;
    font-weight: 500;
}

.tellus-about-shop .form-fluid>.form-control {
    border-radius: 10px;
    background-color: #e0ffdf;
    border: 2px solid rgb(0 73 99 / 40%);
    font-size: 13.5px;
    color: #004963;
    height: calc(5.5rem + 2px);
}

.steps-next-button .prev__btn {
    background: transparent;
    color: #004963;
}

.steps-next-button .prev__btn:hover {
    background: #004963;
    color: #e0ffdf;
}

.file-upload-warning {
    font-size: 12.5px;
    font-weight: 500;
    line-height: 18px;
    color: #004963;
    margin-top: 10px;
}

.tellus-about-shop .steps-next-button {
    margin-top: 0px;
    padding-right: 10px;
}

.tellus-about-shop .phoneInput {
    display: flex;
    gap: 8px;
    grid-gap: 8px;
}

.phoneInput .form-select {
    flex: 0 0 130px;
    width: 130px;
}

.phoneInput input#Phoneno {
    flex: 10;
}

/* step checkmark css*/
.progress__bar__container .icon-checkmarkionicon.hydrated {
    visibility: inherit;
    position: absolute;
    font-weight: bold;
    font-size: 24px;
    background: #004963;
    border-radius: 6px;
    color: #e0ffdf;
    display: none;
}

.progress__bar__container ul .active .icon-checkmarkionicon.hydrated {
    display: block;
}

/* step checkmark css*/

/* File Upload CSS */
.upload-fileSec ::-webkit-file-upload-button {
    background: #cfecce;
    color: #004963;
    border: 2px solid rgb(0 73 99 / 40%);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13.5px;
    font-weight: 500;
}

.tellus-about-shop .input__container .upload-fileSec input {
    border: 0;
    padding: 0;
    border-radius: 0;
}

/* File Upload CSS */
.radio-tile-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-self: end;
}

.radio-tile-group .input-container {
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.radio-tile-group .input-container .radio-button {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
}

.radio-tile-group .input-container .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #004963;
    border-radius: 10px;
    padding: 1rem;
    font-weight: 600;
    transition: transform 300ms ease;
}

.radio-tile-group .input-container .radio-button:checked+.radio-tile {
    background-color: #004963;
    border: 2px solid #004963;
    color: #e0ffdf;
    transform: scale(1.1, 1.1);

}

#planErrorPlace {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

label.error {
    color: #ff4c46;
}

.bella-d-flex {
    display: flex;
    gap: 10px;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
}

.bella-d-flex .icon-bella {
    width: 80px;
    height: 80px;
}

.icon-bella img {
    width: 100%;
    border-radius: 50%;
    border: 1px solid #004963;
}

.destination-expertCall {
    gap: 10px;
    grid-gap: 10px;
    flex-wrap: wrap;
}

.destination-expertCall {
    display: flex;
    gap: 15px;
    grid-gap: 15px;
    margin-bottom: 15px;
    flex-direction: column;
    align-items: flex-start;
}

.callChatANch {
    background: var(--bg-color);
    padding: 10px 10px;
    border: 1px solid #004963;
    border-radius: 25px 0;
    color: #004963;
    font-size: 15px;
    line-height: inherit;
    font-weight: 600;
    letter-spacing: 0.10px;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
    line-height: 15px;
    width: 100%;
}

.bella-d-flex .destination-expertCall img {
    width: 22px;
    margin-right: 5px;
}

.destination-expertCall .chatIcon,
.destination-expertCall .callIcon {
    vertical-align: middle;
    font-size: 17px;
}

/* 10-04-2023 */
.select_membership_plan_page .form1-d-flex,
.select_membership_plan_page .bella-d-flex,
.select_membership_plan_page .destination-expertCall,
.select_membership_plan_page .tellus-about-shop .phoneInput,
.select_membership_plan_page .step-buttons,
.select_membership_plan_page .destination-support .stepimgUL,
.select_membership_plan_page .type-service-offer .mediaSec ul,
.select_membership_plan_page .terms-prev-next-sec {
    gap: 0;
    grid-gap: 0;
}

.select_membership_plan_page .select-plan-boxes:nth-child(2) {
    margin: 0 50px;
}

.select_membership_plan_page .destination-expertCall {
    margin-left: 10px;
    margin-bottom: 0;
}

.select_membership_plan_page .callChatANch:nth-child(1) {
    margin-bottom: 15px;
}

.select_membership_plan_page .tellus-about-shop .phoneInput div:nth-child(1) {
    margin-right: 8px;
}

.select_membership_plan_page .step-buttons button.prev__btn {
    margin-right: 15px;
}

.select_membership_plan_page .steps-main-sec .left-stepsbar .stepimgUL li {
    margin: 0 5px;
}

.select_membership_plan_page .type-service-offer .mediaSec ul li {
    margin: 0 6px 12px;
}

.select_membership_plan_page .steps-main-sec .left-stepsbar #form3 .step-buttons {
    margin-top: 0;
}

/* 10-04-2023 */

/* Responsive Css here */

@media screen and (min-width: 1400px) and (max-width:1499px) {

    /* 10-04-23 */
    .select_membership_plan_page .select-plan-boxes:nth-child(2) {
        margin: 0 35px;
    }

    .select_membership_plan_page .phoneInput .form-select {
        width: 130px;
        padding: 10px 10px;
    }

    /* 10-04-23 */
}

@media screen and (min-width: 1300px) and (max-width:1399px) {

    /* 10-04-23 */
    .select_membership_plan_page .select-plan-boxes:nth-child(2) {
        margin: 0 30px;
    }

    /* 10-04-23 */
}

@media screen and (min-width: 1200px) and (max-width:1399px) {

    /* 10-04-23 */
    .select_membership_plan_page .callChatANch:nth-child(1) {
        margin-bottom: 10px;
    }

    .select_membership_plan_page .destination-expertCall {
        margin-left: 7px;
    }

    .select_membership_plan_page .phoneInput .form-select {
        width: 125px;
        padding: 10px 7px;
    }

    .select_membership_plan_page .tellus-about-shop .phoneInput div:nth-child(1) {
        margin-right: 6px;
    }

    /* 10-04-23 */
}

@media screen and (min-width: 1200px) and (max-width:1299px) {

    /* 10-04-23 */
    .select_membership_plan_page .select-plan-boxes:nth-child(2) {
        margin: 0 25px;
    }

    /* 10-04-23 */
}

@media screen and (min-width: 1200px) and (max-width:1328px) {
    .tellus-about-shop .form-label {
        margin-bottom: 5px;
        font-size: 13.9px;
    }

    .tellus-about-shop .mb-3 {
        margin-bottom: 10px !important;
    }
}


@media screen and (min-width: 768px) and (max-width:1299px) {
    .select-plan-boxes {
        padding: 20px;
    }

    .boxsbtn a {
        padding: 10px;
    }

    .custom-btn a {
        padding: 12px;
    }

    .form1-d-flex {
        gap: 30px;
        grid-gap: 30px;
    }

    .terms-prev-next-sec .nxt__btn,
    .tellus-about-shop .nxt__btn {
        width: auto;
    }
}

@media screen and (min-width: 768px) and (max-width:1238px) {
    .right__container fieldset {
        padding: 15px 40px 20px;
    }
}

@media screen and (min-width: 768px) and (max-width:1208px) {
    .steps-next-button a {
        font-size: 15px;
    }
}

@media screen and (max-width:1199px) {

    /* step1 code start*/
    .form1-d-flex {
        gap: 15px;
        grid-gap: 15px;
    }

    .right__container fieldset {
        padding: 15px 25px 15px 20px;
    }

    .sub__title__container h2 {
        font-size: 18px;
        line-height: 13px;
    }

    .boxTitle {
        font-size: 16px;
        padding-bottom: 5px;
        line-height: inherit;
    }

    .boxPricing {
        font-size: 23px;
        padding-bottom: 5px;
        line-height: inherit;
    }

    .title__name h3 {
        font-size: 15px;
        list-style: inherit;
    }

    .left__container {
        padding-right: 0.8rem;
        padding-top: 110px;
    }

    .sub__title__container p {
        font-size: 13px;
    }

    .select-plan-boxes {
        padding: 10px;
    }

    .input__container {
        margin-top: 15px;
    }

    .select-plan-boxes li:not(:last-child) {
        margin-bottom: 5px;
    }

    .checkIconHeading {
        font-size: 13px;
    }

    .form1-d-flex .hydrated {
        vertical-align: inherit;
    }

    .boxsbtn {
        margin-top: 15px;
    }

    .boxsbtn a {
        padding: 7px 10px;
        display: block;
        margin: 0 auto;
        width: 85%;
        margin-bottom: 5px;
        font-size: 15px;
    }

    .progress__bar__container ul li {
        font-size: 14px;
        padding: 5px 12px;
        margin-bottom: 28px;
    }

    .progress__bar__container {
        padding-top: 0;
    }

    .title__name {
        padding: 0;
        margin-bottom: 35px;
        padding-top: 6px;
        padding-left: 6px;
    }

    .needHelpSec {
        margin-top: 0;
    }

    .custom-btn a {
        font-size: 13px;
    }

    .needHelpSec .anchor {
        gap: 10px;
        grid-gap: 10px;
    }

    .steps-next-button {
        margin-top: 20px;
    }

    /* step1 code end*/

    /* step2 code */
    .tellus-about-shop .form-label {
        font-size: 13px;
        margin-bottom: 5px;
    }

    .tellus-about-shop .input__container input {
        padding: 5px 10px;
        height: 35px;
    }

    .tellus-about-shop .form-select {
        height: 35px;
    }

    .input__container input::placeholder {
        font-size: 11.5px;
    }

    .tellus-about-shop .form-floating label {
        font-size: 11.5px;
        padding: 10px;
    }

    .phoneInput .form-select {
        flex: auto;
        width: auto;
        padding-left: 5px;
        padding-right: 30px;

    }

    .phoneInput input#Phoneno {
        flex: auto;
    }

    .tellus-about-shop .mb-3 {
        margin-bottom: 7px !important;
    }

    .file-upload-warning br {
        display: none
    }

    .tellus-about-shop .input__container input,
    .tellus-about-shop .form-select {
        font-size: 12.5px;
    }

    .tellus-about-shop .form-floating>.form-control {
        height: calc(3.2rem + 2px);
    }

    .tellus-about-shop .steps-next-button {
        margin-top: 10px;
    }

    .tellus-about-shop .form {
        margin-top: -10px;
    }

    /* step2 code */
    /* step3 */
    .stepimgTitle,
    .terms-conditions .form-check-label {
        font-size: 13px;
    }

    .stepimgUL .imgHeadingstep {
        font-size: 11.5px;
    }

    .mediaSec ul li a .lableinputsc {
        font-size: 12.5px;
    }

    .companyServicesSec {
        padding-bottom: 70px;
    }

    .terms-conditions .form-check .form-check-input {
        margin-top: 4px;
        width: 15px;
        height: 15px;
        margin-left: -20px;
    }

    .terms-prev-next-sec .form-check {
        padding-left: 20px;
    }

    .terms-conditions .form-check-label {
        padding-left: 5px;
    }

    .steps-next-button a {
        font-size: 14px;
        padding: 7px 30px;
    }

    /* step3 */
    /* step4 */
    .email-link {
        padding-top: 25px;
        font-size: 17px;
        line-height: 24px;
        padding-bottom: 25px;
    }

    .applicationSec {
        padding: 15px 0;
    }

    .gotohomelink a {
        font-size: 13px;
    }

    .applicationSec .needHelpSec {
        margin-top: 45px;
    }

    .thanks-custom-btn.custom-btn a {
        padding: 10px 20px 10px 10px;
    }

    /* step4 */
    /* file upload */
    .upload-fileSec ::-webkit-file-upload-button {
        padding: 5px;
        font-size: 12px;
    }

    /* file upload */

    /* 10-04-23 */
    .select_membership_plan_page .select-plan-boxes:nth-child(2) {
        margin: 0 15px;
    }

    .select_membership_plan_page .destination-expertCall {
        margin-left: 0;
        margin-top: 10px;
    }

    .select_membership_plan_page .callChatANch:nth-child(1) {
        margin-bottom: 10px;
    }

    .select_membership_plan_page .steps-main-sec .left-stepsbar .radio-tile-group .input-container .radio-tile {
        padding: 10px;
    }

    /* 10-04-23 */
}




@media screen and (max-width:1030px) {
    .sub__title__container p {
        font-size: 13px;
    }
}

@media screen and (min-width: 992px) and (max-width:1199px) {
    .tellus-about-shop .form-label {
        font-size: 12px;
        margin-bottom: 3px;
    }

    .file-upload-warning {
        font-size: 11.5px;
        margin-top: 5px;
    }

    .tellus-about-shop .mb-3 {
        margin-bottom: 2px !important;
    }

    .tellus-about-shop .input__container input,
    .tellus-about-shop .form-select {
        height: 33px;
    }

    .tellus-about-shop .input__container input {
        padding: 2px 10px;
    }

    .tellus-about-shop .form-floating>.form-control {
        height: calc(2.9rem + 2px);
    }
}


@media screen and (max-width:1024px) {
    .steps-next-button a {
        padding: 7px 22px;
        font-size: 13px;
    }

    /* 10-04-23 */
    .select_membership_plan_page .select-plan-boxes {
        border-radius: 0 35px 0 35px;
    }

    /* 10-04-23 */
}

@media screen and (min-width: 992px) and (max-width:1024px) {
    .stepimgTitle {
        margin-bottom: 5px;
    }

    .input__container .companyServicesSec .stepimgUL label {
        margin-bottom: 0;
    }

    .stepimgUL li {
        flex-basis: 17%;
    }

    .companyServicesSec {
        padding-bottom: 50px;
    }

    .mediaSec ul {
        gap: 8px;
        grid-gap: 8px;
    }
}


@media screen and (max-width:991px) {
    .right-stepsbar::before {
        height: auto;
    }

    .tellus-about-shop .input__container input {
        padding: 3px 10px;
    }

    .email-link {
        font-size: 14px;
    }

}

@media screen and (min-width: 768px) and (max-width:991px) {
    .terms-conditions .form-check-label a {
        display: block;
    }

    .terms-prev-next-sec .steps-next-button {
        flex: 3;
    }

    .terms-conditions {
        flex: 2;
    }

    .tellus-about-shop .mb-3 {
        margin-bottom: 7px !important;
    }

    .terms-conditions .form-check .form-check-input {
        margin-top: 0px;
    }

    .stepimgTitle {
        margin-bottom: 5px;
    }

    .stepimgUL {
        flex-wrap: wrap;
    }

    .input__container .companyServicesSec .stepimgUL label {
        margin-bottom: 0;
    }

    .stepimgUL li {
        flex-basis: 17%;
    }

    .companyServicesSec {
        padding-bottom: 15px;
    }

    .mediaSec ul {
        gap: 8px;
        grid-gap: 8px;
    }

    .needHelpSec .anchor.thanks-custom-btn {
        gap: 10px;
        grid-gap: 10px;
    }

}

@media screen and (min-width: 768px) and (max-width:953px) {
    .terms-prev-next-sec .steps-next-button {
        flex: 4;
    }

    .terms-conditions {
        flex: 3;
    }

    .terms-prev-next-sec {
        gap: 0;
        grid-gap: 0;
    }
}


@media screen and (max-width:913px) {
    .sub__title__container p br {
        display: none;
    }
}

@media screen and (max-width:832px) {
    .left__container {
        padding-top: 130px;
    }

    .boxsbtn a {
        font-size: 13.5px;
        border-radius: 7px;
    }

    .custom-btn a {
        padding: 10px;
    }
}


@media screen and (max-width:767px) {
    .steps-main-sec {
        flex-direction: column;
    }

    .left-stepsbar {
        flex: auto;
        margin-right: 0;
        margin-top: 30px;
    }

    .right-stepsbar {
        flex: auto;
    }

    .right__container {
        padding: 0 15px;
    }

    .right__container fieldset {
        padding: 15px;
    }

    .right-stepsbar .left__container {
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left: 15px;
        justify-content: center;
        flex-direction: column;
        padding-right: 15px;
    }

    .side__titles .title__name {
        margin-bottom: 27px;
        display: none;
    }

    .right-stepsbar ul {
        display: flex;
        align-items: center;
        gap: 20px;
        grid-gap: 20px;
        justify-content: center;
    }

    .progress__bar__container {
        padding-bottom: 15px;
    }

    .progress__bar__container ul li {
        margin-bottom: 0;
    }

    .needHelpSec .anchor {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .need-helpTitle {
        margin-top: 10px;
        text-align: center;
    }

    .custom-btn a {
        width: auto;
        padding: 10px 20px;
    }

    .needHelpSec {
        margin-top: 0;
    }

    .right-stepsbar::before {
        display: none;
    }

    .wrapper {
        padding: 0px 0 15px;
    }

    body {
        background: #cfecce;
    }

    /* Step2 */

    .right__container fieldset {
        overflow: hidden;
    }

    .tellus-about-shop .form {
        margin-top: 0;
    }

    .terms-prev-next-sec .nxt__btn,
    .tellus-about-shop .nxt__btn {
        width: auto;
    }

    /* Step2 */
    /* Step3 */
    .companyServicesSec {
        padding-bottom: 45px;
    }

    .stepimgUL {
        flex-wrap: wrap;
    }

    .stepimgUL li {
        flex-basis: 17.85%;
    }

    /* Step3 */
    /* step4 */
    .needHelpSec .anchor.thanks-custom-btn {
        gap: 5px;
        grid-gap: 5px;
    }

    /* step4 */
    /* 10-04-23 */
    .select_membership_plan_page .right-stepsbar ul {
        grid-gap: 0px;
        gap: 0;
    }

    .select_membership_plan_page .progress__bar__container ul li {
        margin: 0 10px;
    }

    .select_membership_plan_page .phoneInput div:first-child {
        width: 38%;
    }

    /* 10-04-23 */

}


@media screen and (max-width:730px) {
    .mobile-width-fix {
        width: 100%;
    }

    .mobile-col6 {
        width: 50%;
    }
}

@media screen and (max-width:651px) {
    .terms-conditions .form-check-label a {
        display: block;
    }

    .terms-conditions .form-check .form-check-input {
        margin-top: 0px;
    }

    .stepimgUL label {
        margin-bottom: 0;
    }

    .applicationSec img {
        width: 14%;
    }


}

@media screen and (max-width:575px) {
    .sub__title__container p {
        font-size: 12px;
    }

    .checkIconHeading {
        font-size: 12px;
    }

    .right__container fieldset {
        padding: 15px 10px;
    }

    .right-stepsbar ul {
        margin-top: 15px;
        gap: 10px;
        grid-gap: 10px;
    }

    .boxPricing {
        font-size: 22px;
    }

    .boxTitle {
        font-size: 15px;
    }

    .boxsbtn a {
        font-size: 12.5px;
        width: 90%;
    }

    .steps-next-button a {
        font-size: 13px;
        padding: 5px 25px;
    }

    .steps-next-button {
        margin-top: 15px;
    }

    .form1-d-flex {
        gap: 12px;
        grid-gap: 12px;
    }

    .select-plan-boxes {
        padding: 10px 5px;
    }

    .form1-d-flex .hydrated {
        font-size: 13px;
    }

    .checkIconHeading {
        padding-left: 2px;
    }

    .form1-d-flex {
        gap: 10px;
        grid-gap: 10px;
        flex-direction: column;
    }

    .boxsbtn a {
        width: 100%;
        padding: 7px 5px;
    }

    .boxTitle,
    .boxPricing {
        padding-bottom: 3px;
    }

    .boxPricing {
        font-size: 21px;
    }

    .boxTitle {
        font-size: 14px;
    }

    .boxsbtn {
        margin-top: 7px;
    }

    .select-plan-boxes {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .progress__bar__container ul li {
        font-size: 12px;
    }

    .custom-btn a {
        font-size: 12px;
    }

    .progress__bar__container .icon-checkmarkionicon.hydrated {
        font-size: 18px;
    }

    /*step2*/
    .tellus-about-shop .form-label {
        font-size: 12px;
    }

    .file-upload-warning {
        font-size: 11.5px;
    }

    /*step2*/
    /*step3*/
    .terms-prev-next-sec {
        flex-direction: column;
        align-items: start;
        gap: 10px;
        grid-gap: 10px;
    }

    .terms-conditions .form-check-label a {
        display: inline;
    }

    .terms-conditions .form-check .form-check-input {
        margin-top: 4px;
    }

    .terms-conditions,
    .buttons.steps-next-button {
        width: 100%;
    }

    /*step3*/

    /* 10-04-23 */
    .select_membership_plan_page .select-plan-boxes {
        border-radius: 0 50px 0 50px;
    }

    .select_membership_plan_page .select-plan-boxes:nth-child(2) {
        margin: 25px 0;
    }

    .select_membership_plan_page .right__container fieldset {
        padding: 25px;
    }

    .select_membership_plan_page .steps-main-sec .left-stepsbar .stepimgUL li {
        flex-basis: 22% !important;
    }

    .select_membership_plan_page .companyServicesSec .type-service-offer .mediaSec ul li {
        flex-basis: 100% !important;
    }

    .select_membership_plan_page #form3 .companyServicesSec {
        padding-bottom: 12px;
    }

    /* 10-04-23 */

}

@media screen and (max-width:540px) {
    .applicationSec .email-link br {
        display: none;
    }

}

@media screen and (max-width:480px) {
    .full-width-col12 {
        width: 100%;
    }

    /* 10-04-23 */
    .select_membership_plan_page .steps-main-sec .left-stepsbar .step-buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .select_membership_plan_page .step-buttons button.prev__btn {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .select_membership_plan_page .step-buttons button {
        width: 100%;
    }

    .select_membership_plan_page .steps-main-sec .left-stepsbar #form3 .step-buttons {
        margin-top: 20px;
        width: 100%;
    }

    .select_membership_plan_page #form3 .companyServicesSec {
        padding-bottom: 10px;
    }

    /* 10-04-23 */

}


@media screen and (max-width:418px) {
    .boxsbtn a {
        font-size: 11.5px;
    }

    .input__container {
        margin-top: 10px;
    }

    .custom-btn a {
        padding: 8px 10px;
    }

    .sub__title__container h2 {
        font-size: 16px;
        line-height: 8px;
    }

    .right__container fieldset {
        padding: 12px 10px;
    }

    .stepimgUL li {
        flex-basis: 21.93%;
    }

    .needHelpSec .anchor.thanks-custom-btn {
        flex-direction: column;
        margin-top: 10px;
    }

    .applicationSec .needHelpSec {
        margin-top: 30px;
    }


}

@media screen and (max-width:376px) {
    .sub__title__container p {
        font-size: 11.5px;
    }


    .stepimgUL .imgHeadingstep {
        font-size: 11px;
        line-height: 15px;
    }

    .stepimgUL li {
        flex-basis: 29.93%;
    }




}


@media screen and (max-width:370px) {
    .sub__title__container p {
        font-size: 11px;
    }

    .right-stepsbar ul {
        margin-top: 10px;
    }

    .applicationSec img {
        width: 20%;
    }

}


@media screen and (max-width:348px) {
    .custom-btn a {
        padding: 8px 8px;
        font-size: 11px;
    }

    .right__container,
    .container-custom {
        padding: 0 10px;
    }

    .right-stepsbar .left__container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .form1-d-flex {
        overflow-y: hidden;
        overflow-x: auto;
    }

    .mediaSec ul {
        gap: 5px;
        grid-gap: 5px;
    }

    .form1-d-flex {
        flex-direction: column;
    }

    .form1-d-flex {
        gap: 10px;
        grid-gap: 10px;
    }


}

@media screen and (max-width:308px) {
    .needHelpSec .anchor {
        gap: 5px;
        grid-gap: 5px;
    }

    .custom-btn a {
        padding: 8px 5px;
        flex: 1;
    }

    .tellus-about-shop .steps-next-button,
    .terms-prev-next-sec .steps-next-button {
        flex-direction: column;
    }

    .stepimgUL li {
        flex-basis: 29.93%;
    }
}

@media screen and (max-width:293px) {
    .custom-btnbtn-border {
        border-radius: 15px 0 15px 0;
    }

    .custom-btn a {
        padding: 8px 4px;
        font-size: 10.5px;
    }

    .crossSignAgentDash {
        right: 10px;
    }
}

/* Agent on boarding css 09-01-23 */
.headerSec {
    padding: 15px 0 10px;
}

.steps-main-sec .left-stepsbar .input__container {
    margin-top: 15px;
}

.steps-main-sec .left-stepsbar .select-plan-boxes {
    padding: 15px 20px;
}

.steps-main-sec .left-stepsbar .boxTitle {
    padding-bottom: 10px;
}

.steps-main-sec .left-stepsbar .boxPricing {
    padding-bottom: 15px;
}

.steps-main-sec .left-stepsbar .select-plan-boxes li:not(:last-child) {
    margin-bottom: 5px;
}

.steps-main-sec .left-stepsbar .radio-tile-group .input-container {
    margin-top: 20px;
}

.steps-main-sec .left-stepsbar .radio-tile-group .input-container .radio-tile {
    padding: 12px;
}

.right-stepsbar::before {
    top: -51px;
}

.steps-main-sec .left-stepsbar .step-buttons {
    margin-top: 15px;
}

.callChatANch:hover {
    color: #004963;
}

.select-plan-boxes li {
    align-items: flex-start;
}

.radio-tile-group .input-container .radio-button:checked+.radio-tile {
    transform: scale(1.05, 1.05);
}

.tellus-about-shop .form-label {
    margin-bottom: 7px;
}

.steps-main-sec .left-stepsbar .stepimgUL .plan-content {
    width: 108px;
}

.steps-main-sec .left-stepsbar .stepimgUL {
    flex-wrap: wrap;
}

.steps-main-sec .left-stepsbar .stepimgUL li {
    flex-basis: auto;
}

.phoneInput .form-select {
    width: 140px;
}

.form3Height .type-service-offer label {
    margin-bottom: 5px;
}

.form3Height .type-service-offer .mediaSec label {
    margin-bottom: 0px;
}

/*Responsive code */
@media screen and (min-width:1200px) and (max-width:1399px) {
    .form1-d-flex {
        gap: 30px;
        grid-gap: 30px;
    }

    .checkIconHeading {
        font-size: 13px;
    }

    .form1-d-flex .hydrated {
        vertical-align: text-top;
    }

    .callChatANch {
        font-size: 12.5px;
        line-height: inherit;
    }

    .right-stepsbar::before {
        height: inherit;
    }

    .bella-d-flex .icon-bella {
        width: 70px;
        height: 70px;
    }
}

@media screen and (max-width:1199px) {
    .needHelpSec {
        margin-top: 35px;
    }

    .bella-d-flex {
        flex-direction: column;
    }

    .steps-main-sec .left-stepsbar .select-plan-boxes {
        padding: 15px;
    }

    .callChatANch {
        font-size: 12px;
    }

    .form1-d-flex .hydrated {
        font-size: 12.5px;
        vertical-align: text-top;
    }

    .checkIconHeading {
        font-size: 11.5px;
    }

    .steps-main-sec .left-stepsbar .radio-tile-group .input-container .radio-tile {
        font-size: 13px;
    }

    .right-stepsbar::before {
        height: inherit;
    }

    .steps-main-sec .left-stepsbar .radio-tile-group .input-container .radio-tile {
        transform: none;
    }

    .tellus-about-shop .form-label {
        margin-bottom: 5px;
    }

    .file-upload-warning br {
        display: block;
    }

    .tellus-about-shop .mb-3 {
        margin-bottom: 7px !important;
    }

    .phoneInput .form-select {
        width: 85px;
        height: 35px;
    }

    .tellus-about-shop .input__container input {
        height: 35px;
    }

    .steps-main-sec .left-stepsbar .stepimgUL .plan-content {
        width: 90px;
    }

    .mediaSec ul li a .lableinputsc {
        font-size: 12px;
    }

    .step-buttons button {
        font-size: 15px;
    }
}

@media screen and (max-width:991px) {
    .phoneInput .form-select {
        width: 100%;
    }

    .phoneInput div {
        width: 50%;
    }

    .phoneInput .form-select {
        width: 100%;
    }

    .phoneInput div {
        width: 100%;
    }

    .phoneInput div:first-child {
        width: 23.5%;
    }

    .step-buttons button {
        font-size: 15px;
    }

    .companyServicesSec .type-service-offer .mediaSec label.error {
        text-align: left !important;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .terms-prev-next-sec {
        align-items: flex-end;
        flex-direction: column;
    }

    .terms-conditions {
        flex: auto;
        width: 100%;
    }

    .terms-conditions .form-check-label a {
        display: inline-block;
    }

    .terms-conditions .form-check .form-check-input {
        margin-top: 3px;
    }

    .steps-main-sec .left-stepsbar .step-buttons {
        margin-top: 10px;
    }

    .steps-main-sec .left-stepsbar .select-plan-boxes {
        padding: 9px;
    }

    .radio-tile-group .input-container {
        width: 85%;
        margin: auto;
    }

    .bella-d-flex .destination-expertCall img {
        margin-right: 0px;
        width: 16px;
    }

    .needHelpSec .callChatANch {
        padding: 10px 7px;
    }

    .title__name h3 {
        font-size: 13.5px;
    }

    .companyServicesSec .type-service-offer .mediaSec label {
        width: 100%;
        text-align: center;
    }

    .companyServicesSec .type-service-offer .mediaSec ul {
        gap: 7px;
        grid-gap: 7px;
    }


    .companyServicesSec .type-service-offer .mediaSec ul li {
        flex-basis: 32.33%;
    }

    .companyServicesSec .type-service-offer .mediaSec ul li a .lableinputsc {
        padding: 6px 6px;
    }

    .terms-prev-next-sec {
        gap: 0;
        grid-gap: 0;
    }

    /* 10-4-23 */
    .select_membership_plan_page .companyServicesSec .type-service-offer .mediaSec ul {
        gap: 0;
        grid-gap: 0;
    }

    .select_membership_plan_page .companyServicesSec .type-service-offer .mediaSec ul li {
        flex-basis: auto;
    }

    .select_membership_plan_page .type-service-offer .mediaSec ul li {
        margin: 0 5px 10px;
    }

    .select_membership_plan_page .steps-main-sec .left-stepsbar #form3 .step-buttons {
        margin-top: 15px;
    }

    /* 10-4-23 */
}

@media screen and (max-width:767px) {
    .callChatANch {
        font-size: 14px;
    }

    .tellus-about-shop .input__container .m-b-15 {
        width: 33.33%;
    }

    .steps-main-sec .left-stepsbar .stepimgUL .plan-content {
        width: 92px;
    }

    .steps-main-sec .left-stepsbar .stepimgUL li {
        flex-basis: 18.33%;
    }

    .companyServicesSec .type-service-offer .mediaSec label {
        width: 100%;
        text-align: center;
    }

    .companyServicesSec .type-service-offer .mediaSec ul {
        gap: 7px;
        grid-gap: 7px;
    }

    .companyServicesSec .type-service-offer .mediaSec ul li {
        flex-basis: 49.2%;
    }

    .companyServicesSec .type-service-offer .mediaSec ul li a .lableinputsc {
        padding: 6px 6px;
    }

    .tellus-about-shop .form-label {
        font-size: 12.5px;
    }

    .file-upload-warning {
        font-size: 11.5px;
    }

    .step-buttons button {
        font-size: 12px;
    }

    .step-buttons {
        column-gap: 10px;
        grid-column-gap: 10px;
    }

    .steps-main-sec .left-stepsbar .form3Height .step-buttons {
        margin-top: 7px;
    }

    .steps-main-sec .left-stepsbar .form3Height .terms-prev-next-sec {
        align-items: flex-start;
    }

    .steps-main-sec .left-stepsbar .form3Height .step-buttons button {
        padding: 7px 25px;
    }

    .steps-main-sec .left-stepsbar .form3Height .terms-conditions .form-check-label a {
        display: inline;
    }

    /* 10-04-23 */
    .select_membership_plan_page .steps-main-sec .left-stepsbar .stepimgUL li {
        flex-basis: auto;
    }

    .select_membership_plan_page .companyServicesSec .type-service-offer .mediaSec ul {
        gap: 0;
        grid-gap: 0;
    }

    .select_membership_plan_page .companyServicesSec .type-service-offer .mediaSec ul li {
        flex-basis: 47.5%;
    }

    /* 10-04-23 */
}

@media screen and (max-width:660px) {
    .terms-conditions .form-check-label a {
        display: block;
    }

    .steps-main-sec .left-stepsbar .form3Height .terms-conditions .form-check-label a {
        display: block;
    }
}

@media screen and (min-width:731px) and (max-width:767px) {
    .phoneInput div:first-child {
        width: 40%;
    }
}

@media screen and (max-width:730px) {
    .phoneInput div:first-child {
        width: 23%;
    }
}

@media screen and (max-width:575px) {
    .tellus-about-shop .input__container .m-b-15:not(:last-child) {
        margin-bottom: 15px;
    }

    .select-plan-boxes li {
        justify-content: center;
    }

    .tellus-about-shop .input__container .m-b-15,
    .mobile-col6 {
        width: 100%;
    }

    .phoneInput div:first-child {
        width: 40%;
    }

    .step-buttons button {
        padding: 7px 10px;
        font-size: 14px;
    }

    .step-buttons {
        column-gap: 5px;
        grid-column-gap: 5px;
    }

    .terms-prev-next-sec .nxt__btn,
    .tellus-about-shop .nxt__btn {
        width: 90px;
    }

    .steps-main-sec .left-stepsbar .stepimgUL .plan-content {
        width: inherit;
    }

    .steps-main-sec .left-stepsbar .stepimgUL li {
        flex-basis: 30.33%;
    }

    .companyServicesSec .type-service-offer .mediaSec ul li {
        flex-basis: 100%;
    }

    .steps-main-sec .left-stepsbar .step-buttons {
        justify-content: end;
    }

    .radio-tile-group .input-container {
        width: 80%;
        margin: auto;
    }

    .terms-prev-next-sec {
        align-items: end;
    }

    .terms-conditions .form-check-label a {
        display: inline;
    }

    .steps-main-sec .left-stepsbar .form3Height .terms-prev-next-sec {
        align-items: end;
    }

    .terms-conditions .form-check-label {
        font-size: 12px;
    }

    .steps-main-sec .left-stepsbar .form3Height .terms-conditions .form-check-label a {
        display: inline;
    }
}

@media screen and (max-width:480px) {
    .steps-main-sec .left-stepsbar .stepimgUL li {
        flex-basis: 47.33%;
    }

    .step-buttons button {
        padding: 7px 18px;
        font-size: 12.5px;
    }

    .phoneInput div:first-child {
        width: 50%;
    }

    .steps-main-sec .left-stepsbar .form3Height .step-buttons button {
        padding: 7px 18px;
    }

    /* 10-04-23 */
    .select_membership_plan_page .steps-main-sec .left-stepsbar .stepimgUL li {
        flex-basis: 45% !important;
    }

    /* 10-04-23 */

}