.iconWrap {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.iconWrap .tooltip {
    position: absolute;
    left: 10px;
    top: 30px;
    font-size: 15px;
    color: #004963;
    background-color: #FFF;
    border-radius: 4px;
    transform: translateX(-0.325rem);
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease-in-out 0s, transform 300ms ease-in-out 0s;
    padding: 15px 15px 0;
    font-weight: 500;
    width: 200px;
    box-shadow: 1px 5px 8px rgb(0 0 0 / 28%);
}

.iconWrap .tooltip::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #FFF;
    left: 75px;
    top: 0%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 1px;
}

.iconWrap:hover .tooltip,
.iconWrap:visited .tooltip,
.iconWrap:focus .tooltip,
.iconWrap:focus-within .tooltip {
    transform: translateX(0.325rem);
    opacity: 1;
}

.iconWrap .tooltip p {
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: left;
}