/**
 * Green >> #1ed5a4
 * Orange >> #ff8628
 * Light Green >> #d2f3ea
 * Blue Color >> #2baac9
 */

.sidebar {
    background: #FFF;
}

.sidebar span.logo-lg {
    color: #000;
}

.skin-blue .user-panel > .info, .skin-blue .user-panel > .info > a {
    color: #000;
}

.skin-blue .sidebar-menu > li.header {
    color: #000;
}

.nav-home > a {
    color: #000;
}

.fa-home:before {
    color: #000;
}

.skin-blue .sidebar a {
    color: #000;
}

.skin-blue .sidebar-menu > li > .treeview-menu {
    background: #FFF;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li.menu-open > a {
    color: #000;
}

.skin-blue .sidebar-menu .treeview-menu > li > a {
    color: #666;
}

.skin-blue .sidebar-menu .treeview-menu > li.active > a, .skin-blue .sidebar-menu .treeview-menu > li > a:hover {
    color: #000;
}

.skin-blue .sidebar a:hover {
    color: #333 !important;
}

.skin-blue .sidebar a {
    color: #000 !important;
}
.align-center tr > td{
    vertical-align: middle !important;
}
.d-flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.column-gap-15{
    column-gap: 15px;
}
.me-3{
    margin-right: 1.5rem!important;
}
.rounded-circle {
    border-radius: 50%!important;
}
.rounded {
    border-radius: 0.25rem !important;
}
.table-user img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: center center;
}
.mr-2{
    margin-right: 10px;
}

.custom_date_input {
    position: relative;
    padding-right: 30px !important;
}
.custom_date_input::-webkit-calendar-picker-indicator {
    background-position: right;
    background-size: auto;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 10px;
    top: 8px;
    width: auto;
}