.booking_vendor_steps_mainSec ul {
    padding: 0; margin: 0;
}
.booking_vendor_steps_mainSec li {
    list-style: none;
}
.booking_vendor_steps_mainSec a {
    text-decoration: none;
}

.booking_vendor_steps_mainSec h1,
.booking_vendor_steps_mainSec h2,
.booking_vendor_steps_mainSec h3,
.booking_vendor_steps_mainSec h4,
.booking_vendor_steps_mainSec h5,
.booking_vendor_steps_mainSec h6,
.booking_vendor_steps_mainSec span,
.booking_vendor_steps_mainSec strong,
.booking_vendor_steps_mainSec body,
.booking_vendor_steps_mainSec .form-label,
.booking_vendor_steps_mainSec p {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif !important;
}

.booking_vendor_steps_mainSec .wrapper {
    padding: 15px 0;
}
/*  jquery step common css */
.booking_vendor_steps_mainSec .wizSec  .ulWizard {
    width: 100%;
    padding: 0;
    height: 478px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.booking_vendor_steps_mainSec .step-footer{
    display: flex;
    align-items: center;
}

.booking_vendor_steps_mainSec .step-footer .stepssubTitle.backBtn{
    margin-right: 0;
}
.booking_vendor_steps_mainSec .plan-content {
    cursor: pointer;
}
.booking_vendor_steps_mainSec .divStep14  .stepPaddingbottom,
.booking_vendor_steps_mainSec .divStep15  .stepPaddingbottom {  
    margin-bottom: 30px;
}

/*  Search Select drop down css */
.booking_vendor_steps_mainSec .search_selectDropDown {
    width: 100%;
  }
  .booking_vendor_steps_mainSec .select2.select2-container,
  .booking_vendor_steps_mainSec .select2-selection__rendered{
    transition: 0.5s all ease-in-out;
    font-size: 18px;
    font-family: var(--opensans) !important;
    font-weight: var(--font-regular);
    color: var(--black);
    letter-spacing: 0.4px;
    background: transparent;
    border: 1px solid #005e33;
    border-radius: 10px;
    align-items: center;
    justify-content: start;
    vertical-align: middle;
    height: 60px;
    margin-bottom: 0px;
    line-height: 57px;
   width: 100%;
}
.booking_vendor_steps_mainSec  span.selection {
    display: block;
}

.booking_vendor_steps_mainSec .select2-selection__rendered {
    padding: 0;   
    border:0; position: relative;
}

.booking_vendor_steps_mainSec .select2-selection__rendered::after {
    padding: 0;
    border: 0;
    position: absolute;
    content: "";
    top: 28px;
    left: auto;
    right: 15px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: #000 transparent transparent transparent;
}

.booking_vendor_steps_mainSec  .select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: transparent; outline: none;
    border-radius: 4px;
}

.booking_vendor_steps_mainSec .select2-container--below.select2-container--open {
    border-radius: 4px 4px 0px 0px;
}

.booking_vendor_steps_mainSec .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 17px;
    line-height: 60px;
    font-family: var(--opensans) !important;
    font-weight: var(--font-regular);
    color: var(--black);

}


/*  Search Select drop down css */


/*  jquery step1 css start */
:root {
    --bg-color: #e0ffdf;
    --process-bg: #20c593;
    --process-gray: #cbcbcb;
    --light-color: #004963;
    --black: #000;
    --white: #FFF;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-32: 32px;
    --font-30: 30px;
    --font-28: 21px;
    --font-20: 20px;
    --font-19: 19px;
    --font-22: 18px;
    --opensans: 'Open Sans', sans-serif;
    --montserrat: 'Montserrat', sans-serif !important;
}

.booking_vendor_steps_mainSec .secTitle {
    display: block;
    position: relative;
    margin-top: 0px;
}

.booking_vendor_steps_mainSec .secTitle h2 {
    font-size: 23px;
    font-weight: var(--font-semibold);
    line-height: inherit;
    color: #004963;
    margin-top: 25px;
}

.booking_vendor_steps_mainSec .secTitle p {
    font-size: var(--font-19);
    font-weight: var(--font-regular);
    line-height: inherit;
    color: var(--black);
    margin-bottom: 50px;
}

.booking_vendor_steps_mainSec .process_heading {
    font-family: var(--opensans) !important;
    font-size: var(--font-22);
    font-weight: var(--font-semibold);
    line-height: inherit;
    color: #004963;
    letter-spacing: 0.4px;
    margin-bottom: 17px;
}

.booking_vendor_steps_mainSec .form-check {
    border: 1px solid #005e33;
    padding: 0px;
    border-radius: 10px;
    align-items: center;
    justify-content: start;
    vertical-align: middle;
    height: 60px;
    margin-bottom: 15px;
    width: 95%;
    display: flex;
    align-items: center;
}


.booking_vendor_steps_mainSec .form-check:visited {
    background: var(--light-color);
}

.booking_vendor_steps_mainSec .container-custom {
    width: 90%;
    margin: 0 auto;
    padding: 0 15px;
}

.booking_vendor_steps_mainSec .form_phsudoeffect, 
.booking_vendor_steps_mainSec .ulWizardBgAfter {
    position: relative;
}

.booking_vendor_steps_mainSec .ulWizardBgAfter::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../img/bg-after.png');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
}

.booking_vendor_steps_mainSec .mobile-progessbar {
    display: none;
}

.booking_vendor_steps_mainSec .desktop-progressbar {
    display: block;
}

/*  jquery step1 css end */


/*  jquery step2 css start */

.booking_vendor_steps_mainSec .create_acc_heading {
    margin-bottom: 20px;
}

.booking_vendor_steps_mainSec .wizardForm .form-label {
    font-size: 15px;
    font-weight: 500;
    line-height: inherit;
    color: #004963;
    letter-spacing: 0.1px;
}
/*  jquery step2 css end */





/* password icon css start*/
.booking_vendor_steps_mainSec .show-hideDiv {
    position: relative;
    cursor: pointer;
}

.booking_vendor_steps_mainSec .show-hideDiv .pass_icons {
    position: absolute;
    top: 20px;
    left: auto;
    right: 15px;
    font-size: 22px;
}

/* password icon css end*/




.booking_vendor_steps_mainSec .BPDetailiSec .form-check label.form-check-label {
    padding-right: 10px;
}



/* form design css*/
.booking_vendor_steps_mainSec .stepimgTitle {
    color: #004963;
    font-size: 16px;
    line-height: inherit;
    font-weight: 500;
    margin-bottom: 10px;
}
.booking_vendor_steps_mainSec .stepimgUL {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0px;
    row-gap: 15px;
}
.booking_vendor_steps_mainSec .stepimgUL li {
    text-align: center;
    list-style: none;
    flex-basis: 25%;
}

.booking_vendor_steps_mainSec .stepimgUL input[type="radio"], 
.booking_vendor_steps_mainSec .mediaSec input[type="radio"], 
.booking_vendor_steps_mainSec .stepplacesUL input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.booking_vendor_steps_mainSec .stepimgUL input[type="radio"]:checked + .plan-content img {
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
    border: 2px solid #ff4d47;
    border-radius: 50px 50px 0 0;
    outline: none;
    box-shadow: 0 3px 8px rgb(0 0 0 / 47%);
}
.booking_vendor_steps_mainSec .stepimgUL a.img-link {
    outline: none;
}
.booking_vendor_steps_mainSec .stepimgUL img.img-fluid {
    border-radius: 50px 50px 0 0;  border: 3px solid #e0ffdf;
}
.booking_vendor_steps_mainSec .mediaSec input[type="radio"]:checked + .lableinputsc , 
.booking_vendor_steps_mainSec .stepplacesUL input[type="radio"]:checked + .plan-content {
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
    border: 1px solid #ff4d47;
    box-shadow: 0 3px 8px rgb(0 0 0 / 47%);
}
.booking_vendor_steps_mainSec .imgHeadingstep {
    color: #004963;
    font-size: 13.5px;
    line-height: inherit;
    letter-spacing: 0.10px;
    font-weight: 600;
    transition: 0.5s all ease-in-out;
    padding: 5px 0 5px;
}
.booking_vendor_steps_mainSec .step3Sec .imgHeadingstep {
    padding: 10px 0 5px; font-weight: 500;
}
.booking_vendor_steps_mainSec .mediaSec ul {
    display: flex;
    flex-flow: wrap;
    gap: 12px;
}
.booking_vendor_steps_mainSec .mediaSec ul li a .lableinputsc{
    padding: 10px;
    border: 2px solid rgb(0 73 99 / 40%);
    border-radius: 10px;
    color: #004963;
    font-size: 15px;
    line-height: inherit;
    font-weight: 500;
    cursor: pointer;
}

.booking_vendor_steps_mainSec .stepSoloUL {
    display: flex;
    align-items: center;
    gap: 10px; position: relative;
    margin-top: 30px;     margin-bottom: 30px;
}
.booking_vendor_steps_mainSec .stepSoloUL input[type="radio"], 
.booking_vendor_steps_mainSec .stepTemparateUL input[type="radio"]{
    position: absolute; opacity: 0;
}

.booking_vendor_steps_mainSec .stepSoloUL input[type="radio"]:checked + .plan-content , 
.booking_vendor_steps_mainSec .stepTemparateUL input[type="radio"]:checked + .plan-content {
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
    border: 2px solid #ff4d47;
    box-shadow: 0 3px 8px rgb(0 0 0 / 47%);
}
.booking_vendor_steps_mainSec .stepSoloUL  .plan-content {
    border:2px solid rgb(0 73 99 / 50%);
    padding: 10px 10px;
    border-radius: 5px;
    text-align: center;     position: relative;
    width: 185px;
    cursor: pointer;
}
.booking_vendor_steps_mainSec .stepSoloUL .plan-content img {
    position: absolute;
    top: -21px;
    left: 75px;
    right: 0;
    bottom: 0;
    width: 35px;
    height: 35px;
}
.booking_vendor_steps_mainSec .counterBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.booking_vendor_steps_mainSec .titleCounter , 
.booking_vendor_steps_mainSec .subheadingCounter {
    color: #004963;
    font-size: 15px;
    line-height: inherit;
    font-weight: 600;
}
.booking_vendor_steps_mainSec .subheadingCounter {
    font-weight: 400;
}
.booking_vendor_steps_mainSec .counterIncDec button {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    outline: none;
    border: 2px solid #004963;
    background: var(--bg-color);
    font-size: 25px;
    line-height: 25px;
    font-weight: 500;
    color: #004963;
    position: relative;
}
.booking_vendor_steps_mainSec .counterIncDec input[type="text"] {
    background: transparent;
    border: 0;
    text-align: center;
    width: 40px;
    font-weight: 600;
    font-size: 16px;
    color: #004963;
}
.booking_vendor_steps_mainSec .counterIncDec {
    display: flex;
    align-items: center;
}
.booking_vendor_steps_mainSec .counterIncrementDecremnet {
    border: 1px solid #004963;
    padding:10px 20px;
    border-radius: 5px;
    transition: 0.5s all ease-in-out;
}
.booking_vendor_steps_mainSec .familyadultBox, 
.booking_vendor_steps_mainSec .groupAdultBox {
    display: none;
}
.booking_vendor_steps_mainSec .familyadultBox.open, 
.booking_vendor_steps_mainSec .groupAdultBox.open1 {
    display: block;
}

.booking_vendor_steps_mainSec .counterBox:not(:last-child) {
    border-bottom: 1px solid #004963; 
}
.booking_vendor_steps_mainSec .counterTitle {
    padding: 10px 0;
}
.booking_vendor_steps_mainSec .stepplacesUL, 
.booking_vendor_steps_mainSec .stepTemparateUL {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 30px;
}
.booking_vendor_steps_mainSec .stepplacesUL li , 
.booking_vendor_steps_mainSec .stepTemparateUL li {
    text-align: center;
}
.booking_vendor_steps_mainSec .stepplacesUL .plan-content {
    border: 1px solid #004963;
    padding: 15px;
    border-radius: 15px 0;
    width: 280px;
    cursor: pointer;
}
.booking_vendor_steps_mainSec .stepTemparateUL .plan-content {
    padding: 5px 55px;
    border-radius: 10px;
    cursor: pointer;
    border-color: transparent;
    border: 2px solid rgb(0 73 99 / 45%);
    height: 73px;
    place-content: center;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}
/* form design css*/



.booking_vendor_steps_mainSec .headerSec {
    margin-bottom: 0px;
}

.booking_vendor_steps_mainSec .callChatANch {
    background: var(--bg-color);
    padding: 10px 10px;
    border: 1px solid #004963;
    border-radius: 25px 0;
    color: #004963;
    font-size: 15px;
    line-height: inherit;
    font-weight: 600;    
    letter-spacing: 0.10px;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

.booking_vendor_steps_mainSec .callChatANch:hover {
    color: #20c593; border-color:#20c593; 
}
.booking_vendor_steps_mainSec .destination-expertCall {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0px;
}
.booking_vendor_steps_mainSec .destination-expertCall .chatIcon , 
.booking_vendor_steps_mainSec .destination-expertCall .callIcon  {
    vertical-align: middle; font-size: 17px;
}
.booking_vendor_steps_mainSec .step6form{
    margin-bottom: 15px;
}
.booking_vendor_steps_mainSec .step6form .textareaFld {
    height:100px;
}
.booking_vendor_steps_mainSec .locaiconsbox {
    display: flex;
    align-items: center;
    position: relative;
}
.booking_vendor_steps_mainSec .locationIOIcon {
    position: absolute;
    content: '';
    top: 15px;
    left: 10px;
    right: 0;
    bottom: 0;
    color: #004963;
}
.booking_vendor_steps_mainSec .locaInputfld {
    padding-left: 30px;
}
.booking_vendor_steps_mainSec .step6form label, 
.booking_vendor_steps_mainSec .step6form .separate-dial-code { 
    width: 100%;
}
.booking_vendor_steps_mainSec .step-footer {
    gap: 10px; margin-top: 30px;
}

.booking_vendor_steps_mainSec .wizardForm .step-footer > button.step-btn.stepssubTitle1 {
    background: transparent;
    color: #004963;
    width: auto;
    display: block;
}

.booking_vendor_steps_mainSec .counterIncDec1 .formInput {
    background: #e0ffdf;
    width: 100px;
    border-color: #004963;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    color: #004963;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
    border: 1px solid;
    padding: 7px 10px;
}

/* changes updated css 02-09-2022*/
.booking_vendor_steps_mainSec .stepimgUL input[type="checkbox"]:checked + .plan-content img {
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
    border: 3px solid #ff4d47;
    border-radius: 55px 55px 0 0;
    outline: none;
    box-shadow: 0 3px 8px rgb(0 0 0 / 47%);
}
.booking_vendor_steps_mainSec .stepimgUL input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}


.booking_vendor_steps_mainSec .mediaSec input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}


.booking_vendor_steps_mainSec .mediaSec input[type="checkbox"]:checked + .lableinputsc {
    border-radius:10px;
    outline: none;
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
    border: 2px solid #ff4d47;
    box-shadow: 0 3px 8px rgb(0 0 0 / 47%);
}


/* changes updated css 02-09-2022*/

/* 06-09-2022*/
.booking_vendor_steps_mainSec .crossSignPlanMyTrip {
    display: flex;
    justify-content: end;
    position: absolute;
    top: 16px;
    left: auto;
    right: 95px;
    width: 35px;
}
.booking_vendor_steps_mainSec .crossSignPlanMyTrip img {
    cursor: pointer;
}
/* 06-09-2022*/

/* 09-12-2022 */
.booking_vendor_steps_mainSec .icon-bella {
    width: 100px;
    height: 100px;
}
.booking_vendor_steps_mainSec .icon-bella   img {
    border-radius: 50%; border: 1px solid #004963;
}
.booking_vendor_steps_mainSec .wizardForm .step-steps > li span {
    position: absolute;
    top: 25px;
    bottom: auto;
    color: #004963;
    font-size: 14px;
    font-weight: 500;
}
.booking_vendor_steps_mainSec .bella-d-flex {
    display: flex;     gap: 10px;     align-items: center;
}
.booking_vendor_steps_mainSec .bella-d-flex .destination-expertCall img {
    width: 22px;     margin-right: 5px;
}
.booking_vendor_steps_mainSec .bella-d-flex .destination-expertCall {
    flex-direction: column;
    align-items: flex-start;
}
.booking_vendor_steps_mainSec .bella-d-flex .callChatANch {
    width: 100%;
}
.booking_vendor_steps_mainSec .wizardForm .step-steps {
    margin-top: 25px;
}
.booking_vendor_steps_mainSec .stepSoloUL input[type="radio"]:checked + .plan-content .imgHeadingstep {
    font-weight: 600;
}
.booking_vendor_steps_mainSec .error-msg {
    display: block;     margin-top: 10px;
}
.booking_vendor_steps_mainSec .stepTemparateUL {
    flex-wrap: wrap; gap: 20px;
}
.booking_vendor_steps_mainSec .stepTemparateUL .plan-content img {
    max-width: 30px;
}
.booking_vendor_steps_mainSec .stepTemparateUL .imgHeadingstep {
    padding: 5px 0 0px;
}
.booking_vendor_steps_mainSec .wizardForm .error-msg .error {
    color: #ff4c46;
    font-size: 13px;
    font-weight: 400;
}

.booking_vendor_steps_mainSec .step7frmInfo5 .stepTemparateUL {
     gap: 10px;     margin-top: 15px;     margin-bottom: 20px;
}
.booking_vendor_steps_mainSec .step7frmInfo5 .stepTemparateUL .plan-content {
    padding: 5px 50px; 
}
.booking_vendor_steps_mainSec .step7frmInfo5 .stepTemparateUL .plan-content img {
    max-width: 35px;
}
.booking_vendor_steps_mainSec .step7frmInfo5 .stepTemparateUL .plan-content {
    height: 80px;
}
.booking_vendor_steps_mainSec .step7frmInfo5  .stepTemparateUL.stepTemparateULstep6 .plan-content {    padding: 5px 17px; }
.booking_vendor_steps_mainSec .step7frmInfo5 .stepplacesUL, 
.booking_vendor_steps_mainSec .step6frmInfo5 .stepTemparateUL {
    margin-top: 10px;      margin-bottom: 25px;  
}
.booking_vendor_steps_mainSec .step6frmInfo5 .error-msg,
.booking_vendor_steps_mainSec .step7frmInfo5 .error-msg {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}
.booking_vendor_steps_mainSec .mediaSec.areyouSection input[type="radio"]:checked + .lableinputsc {
    border: 2px solid #ff4d47;
}
.booking_vendor_steps_mainSec .mediaSec.areyouSection .lableinputsc {
    padding: 10px;
    text-align: center;
}
.booking_vendor_steps_mainSec .mediaSec.areyouSection ul {
   flex-direction: column;
    gap: 12px;
}
.booking_vendor_steps_mainSec .mediaSec.areyouSection ul label {width: 100%;}
.booking_vendor_steps_mainSec .mediaSec.areyouSection ul li {
    width: 40%;
}
.booking_vendor_steps_mainSec .mediaSec .step10flexcolumn {
   gap: 25px; row-gap: 15px;
}
.booking_vendor_steps_mainSec .step10flexcolumn li {
    display: inline-flex;
    flex: 48%;
}
.booking_vendor_steps_mainSec .mediaSec .step10flexcolumn a, 
.booking_vendor_steps_mainSec .mediaSec .step10flexcolumn label { width: 100%; text-align: center; }
.booking_vendor_steps_mainSec .mediaSec .step10flexcolumn li a .lableinputsc {
    font-size: 13.5px;
}
.booking_vendor_steps_mainSec .dealsSec {
    text-align: center;
}
.booking_vendor_steps_mainSec .dealsSec .logo {
    margin:20px auto 0;
}
.booking_vendor_steps_mainSec .dealshead1 {
    font-size: var(--font-32);
    font-weight: 500;
    line-height: inherit;
    color: #004963;
    margin-top: 30px;
    margin-bottom: 25px; letter-spacing: 0.5px;
}
.booking_vendor_steps_mainSec .dealshead1 a {
    color:#004963; font-weight: 700;  border-bottom: 2px solid rgb(0 73 99 / 53%);
}
.booking_vendor_steps_mainSec .dealbutton a {
    color: var(--white);
    background: var(--light-color);
    font-weight: var(--font-semibold);
    border-radius: 8px;
    padding: 11px 23px;
    border: 0px;
    font-size: var(--font-19);
    text-transform: capitalize;
    width: 25%;
    letter-spacing: 0.4px;
    transition: all 0.5s ease-in-out 0s;
    --webkit-transition: 0.5s all ease-in-out;
    display: block;
    margin: 0px auto 30px;
    font-family: var(--opensans) !important;
}
.booking_vendor_steps_mainSec .deal-para {
    color: #004963;     font-size: 20px;     margin-top: 30px; margin-bottom: 30px;     font-weight: 400; letter-spacing: 0.5px;
}
.booking_vendor_steps_mainSec .answer-ques-deals {
    background: transparent;
    border: 1px solid rgb(0 73 99 / 82%);
    color: #004963;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 10px;
    display: block;
    width: max-content;
    text-align: center;
    margin: 0 auto;
}
.booking_vendor_steps_mainSec .dealchatSec .bella-d-flex {
    justify-content: center;
}
.booking_vendor_steps_mainSec .dealsSec .process_heading {
    letter-spacing: 0.2px;
}
.booking_vendor_steps_mainSec .dealbutton a:hover {
    background: var(--process-bg);
}
.booking_vendor_steps_mainSec .dealsSec a {
    transition: all 0.5s ease-in-out 0s;
    --webkit-transition: 0.5s all ease-in-out;
}
.booking_vendor_steps_mainSec .dealshead1 a:hover {
    color: var(--process-bg); border-color: var(--process-bg);
}
.booking_vendor_steps_mainSec .dealsSec .answer-ques-deals:hover {
    color: var(--white);
    background: var(--light-color);
}
.booking_vendor_steps_mainSec .dealsSec .bella-d-flex .callChatANch {
    text-align: left;
}
.booking_vendor_steps_mainSec .threeStepCounter span {
    font-weight: 600;
    font-size: 16px;
    color: #004963;
    padding-right: 10px;
}
.booking_vendor_steps_mainSec .threeStepCounter .para {
    color: #004963;
    font-size: 13.5px;
    font-weight: 400;
    letter-spacing: 0.1px; margin-bottom: 20px;
}
/* 09-12-2022 */
/*17-12-22*/
.booking_vendor_steps_mainSec .title-prefer {
    font-size: 15px;
    font-weight: 500;
    line-height: inherit;
    color: #004963;
    letter-spacing: 0.1px;
}
.booking_vendor_steps_mainSec .title-prefer-er {
    display: flex;
    align-items: center; gap:10px;
}
.booking_vendor_steps_mainSec .otherinputfiled {
    margin-top: 20px;
}
.booking_vendor_steps_mainSec .wizardForm .step-app .step-steps li:last-child {
    flex: 1;
}
.booking_vendor_steps_mainSec .wizardForm .step-steps > li span {
    text-align: center;
    left: 0;
    right: 0;
}
.booking_vendor_steps_mainSec .dealsSec .update-preflex {
    display: flex;
    gap: 10px; justify-content: center;
}
.booking_vendor_steps_mainSec .dealsSec.deal-preferences  .answer-ques-deals {
    width: auto;
    margin: 0;
}
/*17-12-22*/
/*21-12-22*/
.booking_vendor_steps_mainSec .reset_theme_step4 {
    font-size: 15px;
    font-weight: 500;
    line-height: inherit;
    color: #004963;
    letter-spacing: 0.1px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in-out;
}
.booking_vendor_steps_mainSec .reset_theme_step4:hover {
    color: #ff4d47;
}
.booking_vendor_steps_mainSec .wizardForm .step-footer > .step-btn.submitfooterbtn {
    background-color:#ff4d47 ;
}
.booking_vendor_steps_mainSec .wizardForm .step-footer > .step-btn:hover {
    background: var(--process-bg);
}
.booking_vendor_steps_mainSec .email-ver-link, 
.booking_vendor_steps_mainSec .mendartory_span {
    font-weight: 500;
    line-height: inherit;
    color: #ff4d47;
    letter-spacing: 0.1px;
}
.booking_vendor_steps_mainSec .email-ver-link {
    font-size: 13px; padding-left: 12px; padding-top: 5px;
}
/*21-12-22*/

/* 13-01-23*/
.travelers-room-new .room-bottom-space {margin-bottom: 18px;}
.travelers-room-new  .room-one-new {   padding: 5px 0 15px; }
.travelers-room-new  .titleRoom {font-size:18px;}
.travelers-room-new  .title-prefer-er {   padding-top: 10px; }
.travelers-room-new .stepTemparateUL {  margin-top: 10px;}
.travelers-room-new  .error-msg {   margin-top: 0;}
.travelers-room-new .stepTemparateUL {  gap: 12px; border-bottom: 1px solid #004963;  padding-bottom: 18px; }
.travelers-room-new ul li {  flex: 48%;}
.travelers-room-new ul li a , .travelers-room-new ul li label, .travelers-room-new ul li .plan-content {width: 100%;}
.travelers-room-new .stepTemparateUL  li .plan-content {flex-direction: row; justify-content: flex-start;  gap: 15px;  padding:15px; height:67px; }
.booking_vendor_steps_mainSec .travelers-room-new .stepTemparateUL .plan-content img { max-width: 35px; }
.booking_vendor_steps_mainSec .travelers-room-new .stepTemparateUL .plan-content .f-flex-img img { max-width:25px; }
.booking_vendor_steps_mainSec .travelers-room-new .f-flex-img {  gap: 5px;}
/* 13-01-23*/

/* Responsive media query */

@media screen and (max-width:1616px) {
    .booking_vendor_steps_mainSec .container-custom {
        width: 97%; padding: 0 10px;
    }
    .booking_vendor_steps_mainSec .mediaSec .step10flexcolumn {
        gap: 10px;
        row-gap: 10px;
    }
   
}
@media screen and (min-width:1500px) and (max-width:1650px) {
    .booking_vendor_steps_mainSec .secondform_CustomStyle .stepTemparateUL.step7Fistul .plan-content {
        padding: 5px 40px;
    }
    .booking_vendor_steps_mainSec .step7frmInfo5 .stepTemparateUL.step7Secondul.stepTemparateULstep6 .plan-content {
        padding: 5px 15px;
    }
}

@media screen and (max-width:1599px) {  

    .booking_vendor_steps_mainSec .destination-expertCall {
        gap: 10px;
        flex-wrap: wrap;
    }
    .booking_vendor_steps_mainSec .crossSignPlanMyTrip {
        right:78px; top: 16px;
    }
    

}

@media screen  and (max-width:1499px) { 
    .booking_vendor_steps_mainSec .secondform_CustomStyle .space_div_second_form {
        width: 0 !important;
    }
    .booking_vendor_steps_mainSec .secondform_CustomStyle .stepWizard {
        width: 64%;
    }
    .travelers-room-new .titleRoom {
        font-size: 17px !important;
    }
  
}

@media screen and (min-width:1300px) and (max-width:1499px) { 
    .booking_vendor_steps_mainSec .secondform_CustomStyle .stepTemparateUL.step7Fistul .plan-content {
        padding: 5px 30px;
    }
    .booking_vendor_steps_mainSec .step7frmInfo5 .stepTemparateUL.stepTemparateULstep6.step7Secondul .plan-content {
        padding: 5px 15px;
    }
}

@media screen and (max-width:1399px) {
    .booking_vendor_steps_mainSec .container-custom {
        width: 97%;
    }
    .booking_vendor_steps_mainSec .secondform_CustomStyle .mediaSec .step10flexcolumn {
        gap: 10px;
        row-gap: 10px;
    }
    .booking_vendor_steps_mainSec .mediaSec .step10flexcolumn li a .lableinputsc {
        font-size: 12.5px;
    }
   
 }

@media screen and (min-width:1200px) and (max-width:1299px) { 
    .booking_vendor_steps_mainSec .secondform_CustomStyle .space_div_second_form {
        padding: 0;
    }
    .booking_vendor_steps_mainSec .secondform_CustomStyle .stepWizard {
        width: 66%;
    }
    .booking_vendor_steps_mainSec .mediaSec .step10flexcolumn li a .lableinputsc {
        font-size: 12px; padding: 8px 5px;
    }
}

@media screen and (min-width:1025px) and (max-width:1299px) { 
    .booking_vendor_steps_mainSec .secondform_CustomStyle .stepTemparateUL.step7Fistul .plan-content {
        padding: 5px 30px;
    }
    .booking_vendor_steps_mainSec .step7frmInfo5 .stepTemparateUL.stepTemparateULstep6.step7Secondul .plan-content {
        padding: 5px 9px;
    }
    .booking_vendor_steps_mainSec .step7frmInfo5 .stepTemparateUL .plan-content img {
        max-width: inherit;
        height: 22px;
    }
    .booking_vendor_steps_mainSec .wizardForm .step-steps > li span {
    font-size: 12px;
}

}




@media screen and (min-width:1281px) and (max-width:1353px) {
    .booking_vendor_steps_mainSec .BPDetailiSec .form-check label.form-check-label { font-size: 16.5px; }
}

@media screen and (min-width:992px) and (max-width:1280px) {

    .booking_vendor_steps_mainSec #formwizard .ulWizard,
    .booking_vendor_steps_mainSec #formwizard1 .ulWizardPayment {
        padding: 0px;
    }
    .booking_vendor_steps_mainSec .wizSec .ulWizard {
        height: 434px;
    }

    .booking_vendor_steps_mainSec .container-custom {
        width: 97%;
    }

    .booking_vendor_steps_mainSec .secTitle p {
        font-size: 17.5px;
        margin-bottom: 40px;
    }

    .booking_vendor_steps_mainSec .form-check {
        height: auto;
        width: 100%;
    }

    .booking_vendor_steps_mainSec .BPDetailiSec .form-check label.form-check-label {
        font-size: 16px;
        line-height: inherit;
    }

    .booking_vendor_steps_mainSec .BPDetailiSec .form-check-input[type=radio] {
        margin-bottom: 13px;
        margin-top: 15px;
    }

    .booking_vendor_steps_mainSec .BPDetailiSec .form-check-input:checked[type=radio] {
        margin-top: 12px;
    }

    

    .booking_vendor_steps_mainSec .wizardForm .step-footer>.step-btn {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .booking_vendor_steps_mainSec .termConditionSubtext {
        font-size: 17px;
    }

     
    .booking_vendor_steps_mainSec .show-hideDiv .pass_icons {
        top: 15px;
    }
    .booking_vendor_steps_mainSec .lightPinkColor .form-check-input[type=checkbox] {
        width: 25px;
        height: 25px;
        margin-top: 3px;
    }
    /* select css*/   
    .booking_vendor_steps_mainSec .chosen-container-multi .chosen-choices li.search-choice {  margin: 15px 10px 0px 0; }
    .booking_vendor_steps_mainSec ul.chosen-choices::after {   top: 23px; }
    .booking_vendor_steps_mainSec .chosen-container .chosen-results li{ font-size: 15px;     padding: 10px 15px; }
    .booking_vendor_steps_mainSec .chosen-container-multi .chosen-choices li.search-field input[type="text"]{   height: auto; line-height: 48px;    line-height: inherit;        font-size: 16px;    }      
    .booking_vendor_steps_mainSec .custom-select .select-selected::after {   top: 25px !important;  }    
    .booking_vendor_steps_mainSec .chosen-container-multi .chosen-choices,
    .booking_vendor_steps_mainSec .select2.select2-container,  
    .booking_vendor_steps_mainSec .form-control , 
    .booking_vendor_steps_mainSec .custom-select .select-selected, 
    .booking_vendor_steps_mainSec .chosen-container-multi .chosen-choices li.search-field, 
    .booking_vendor_steps_mainSec .select2-selection__rendered, .select2-container--default .select2-selection--single .select2-selection__rendered
    {
        line-height: 50px;
        height: 50px !important;
    }

    .booking_vendor_steps_mainSec .step6form .textareaFld {
        height: 100px  !important;
    }


    .booking_vendor_steps_mainSec .select2-selection__rendered::after{   top:23px;  }  
    .booking_vendor_steps_mainSec .file-upload-wrapper , 
    .booking_vendor_steps_mainSec .file-upload-wrapper::before, 
    .booking_vendor_steps_mainSec .file-upload-wrapper::after { height: 50px;    }
    .booking_vendor_steps_mainSec .file-upload-wrapper::after {line-height: 50px;}
    .booking_vendor_steps_mainSec .file-upload-wrapper::before{  padding: 14px 15px; }
    .booking_vendor_steps_mainSec .divStep7 .stepPaddingbottom:last-child, 
    .booking_vendor_steps_mainSec .divStep8 .stepPaddingbottom:last-child {
        padding-bottom: 30px;
    }
    .booking_vendor_steps_mainSec .form_phsudoeffect::before {
        top: -45px;
        right: 30px;
        height: 95%;
    }
   


}



@media screen and (min-width:1200px) and (max-width:1279px) {
    .booking_vendor_steps_mainSec .form-control { height: 42px !important;}
    .booking_vendor_steps_mainSec .step6form .textareaFld {
        height: 95px !important;
    }

 }


 @media screen and (min-width:1025px) and (max-width:1199px) { 
    .booking_vendor_steps_mainSec .secondform_CustomStyle .space_div_second_form {
        padding: 0;
    }
    .booking_vendor_steps_mainSec .secondform_CustomStyle .stepWizard {
        width: 66%;
    }
    .booking_vendor_steps_mainSec .mediaSec .step10flexcolumn li a .lableinputsc {
        font-size: 10.5px; padding: 8px 5px;
    }
}

 @media screen and (max-width:1199px) {
    .booking_vendor_steps_mainSec .crossSignPlanMyTrip {
        right: 45px;
    }
    .travelers-room-new .stepTemparateUL li .plan-content {
        height: 60px;
    }
   
 }

 @media screen and (min-width:992px) and (max-width:1199px) {
    .booking_vendor_steps_mainSec .form-control { height: 35px !important;}
    .booking_vendor_steps_mainSec .step6form .textareaFld {      height: 55px !important;      line-height: 20px !important;   }
    .booking_vendor_steps_mainSec .wrapper {   padding: 30px 0;    }
    .booking_vendor_steps_mainSec .locationIOIcon {    top: 10px;    }
   
 }



@media screen and (min-width:992px) and (max-width:1199px) {
    .booking_vendor_steps_mainSec .wrapper {
     padding: 15px 0;
    }
    .booking_vendor_steps_mainSec .create_acc_heading {
        margin-bottom:15px;
    }
    
    .booking_vendor_steps_mainSec .destination-expertCall {
        flex-wrap: wrap;
    }
    .booking_vendor_steps_mainSec .form_phsudoeffect::before {
        top: 0px;
    right: 40px;
    height: 85%;
    }
   
}

@media screen and (max-width:1499px) { 
    .booking_vendor_steps_mainSec .secTitle h2 {
        font-size: 17px;
    }
    .booking_vendor_steps_mainSec .stepimgUL {
        row-gap: 10px; align-items: flex-start;
    }
    .booking_vendor_steps_mainSec .imgHeadingstep {
        font-size: 12.5px;
    }
    .booking_vendor_steps_mainSec .process_heading {
        font-size: 16px;
    }
    .booking_vendor_steps_mainSec .wizardForm .step-footer>.step-btn {
        font-size: 13.5px; padding: 7.5px 23px;
    }
    .booking_vendor_steps_mainSec .process_heading {
        margin-bottom: 10px; 
    }
    .booking_vendor_steps_mainSec .icon-bella {
        width: 80px;
        height: 80px;
    }
    .booking_vendor_steps_mainSec .bella-d-flex .destination-expertCall img {
        width: 20px; vertical-align: text-top;     margin-right: 2px;
    }
    .booking_vendor_steps_mainSec .callChatANch {
        font-size: 13.5px; text-align: left; line-height: inherit; padding: 11px 10px;
    } 
    .booking_vendor_steps_mainSec .stepSoloUL {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .booking_vendor_steps_mainSec .stepSoloUL .plan-content {
        width: 174px;
    }
    .booking_vendor_steps_mainSec .stepSoloUL .plan-content img {
        top: -17px;
        left: 72px;
        width: 30px;
        height: 30px;
    }
    .booking_vendor_steps_mainSec .titleCounter {
        font-size: 14px;
    }
    .booking_vendor_steps_mainSec .subheadingCounter {
        font-size: 13px;
    }
    .booking_vendor_steps_mainSec .step3Sec .imgHeadingstep {
        font-size: 13.2px;
    }
    .booking_vendor_steps_mainSec .counterIncDec button {
        width: 25px;
        height: 25px;
        border: 1px solid #004963;
        font-size: 20px;
        line-height: 20px;
    }
    .booking_vendor_steps_mainSec .counterIncDec input[type="text"] {
        width: 35px;
    }
    .booking_vendor_steps_mainSec .step-btn.stepssubTitle.nextfooterbtn,
    .booking_vendor_steps_mainSec .wizardForm .step-footer>.step-btn.submitfooterbtn {
        margin-bottom: 10px;
    }
    
    .booking_vendor_steps_mainSec .counterIncDec1 .formInput {
        font-weight: 600;
        font-size: 15px;
    }
    .booking_vendor_steps_mainSec .threeStepCounter .cal-day__month--current, 
    .booking_vendor_steps_mainSec .mediaSec ul li a .lableinputsc, 
    .booking_vendor_steps_mainSec .wizardForm .form-label, 
    .booking_vendor_steps_mainSec .reset_theme_step4  {
        font-size: 13.5px;
    }
    .booking_vendor_steps_mainSec .email-ver-link {    font-size: 10.5px; }
    .booking_vendor_steps_mainSec .threeStepCounter .cal-body__day, 
    .booking_vendor_steps_mainSec .threeStepCounter .cal-head__day, 
    .booking_vendor_steps_mainSec .threeStepCounter .cal-body__day, 
    .booking_vendor_steps_mainSec .threeStepCounter .para {
        font-size: 12.5px;
    }
    .booking_vendor_steps_mainSec .threeStepCounter .cal-body__week, 
    .booking_vendor_steps_mainSec .threeStepCounter .calendar__head {
        height: 30px;
        width: 275px;
    }
    .booking_vendor_steps_mainSec .threeStepCounter .calendar {
        width: 280px;
    }
    .booking_vendor_steps_mainSec .threeStepCounter .cal-month__current {
        font-size: 14px;
    }
    .booking_vendor_steps_mainSec .threeStepCounter .cal-head__day, 
    .booking_vendor_steps_mainSec .threeStepCounter .cal-body__day {
        width: 30px;
        height: 30px; line-height: 30px;
    }
    .booking_vendor_steps_mainSec .dateflexibleDIv .form-check-input {
        margin-top: 10px;
    }
    .booking_vendor_steps_mainSec .threeStepCounter .create_acc_heading {
        margin-bottom: 10px;      margin-top: 15px;
    }
    .booking_vendor_steps_mainSec .threeStepCounter .para {
        margin-bottom: 10px;
    }
    .booking_vendor_steps_mainSec .counterIncDec input[type="text"], 
    .booking_vendor_steps_mainSec .threeStepCounter span {
        font-size: 15px;
    }
    .booking_vendor_steps_mainSec .wizardForm .step-footer > .step-btn.backBtn.prevfooterbtn {
        padding: 6.5px 23px;
    }
    .booking_vendor_steps_mainSec .step-footer {
        margin-top: 22px;
    }
    .booking_vendor_steps_mainSec .mediaSec ul li a .lableinputsc {
        padding: 8px 10px;
    }
    .booking_vendor_steps_mainSec .step6form {
        margin-bottom: 10px;
    }
    .booking_vendor_steps_mainSec .form-control {
        height: 37px;  font-size: 12px;
    }
    .booking_vendor_steps_mainSec .wizardForm .form-control::placeholder ,  
    .booking_vendor_steps_mainSec .wizardForm span.error, 
    .booking_vendor_steps_mainSec label.error {
        font-size: 12px;
    }
    .booking_vendor_steps_mainSec .logo {
        width: 150px;
    }
    .booking_vendor_steps_mainSec .crossSignPlanMyTrip {
        width: 30px; 
    }
    /* second form */
    .booking_vendor_steps_mainSec .secondform_CustomStyle .stepTemparateUL {
        gap: 10px;
    }
    .booking_vendor_steps_mainSec .secondform_CustomStyle .stepTemparateUL .plan-content {
        padding: 5px 40px;
    }
 
    /* second form */
    /* deal page css */
    .booking_vendor_steps_mainSec .dealsSec .logo {
        margin: 0px auto 0;
    }
    .booking_vendor_steps_mainSec .dealshead1 {
        font-size: 23px;
    }
    .booking_vendor_steps_mainSec .dealbutton a {
        padding: 9px 50px;
        width: max-content;
        font-size: 16px;
    }
    .booking_vendor_steps_mainSec .deal-para {
        font-size: 14px;
    }
    .booking_vendor_steps_mainSec .answer-ques-deals {
        font-size: 15px;
        width: max-content;
        padding: 9px 20px;
    }
    
     /* deal page css */

}



@media screen and (min-width:992px) and (max-width:1024px) { 
    .booking_vendor_steps_mainSec .form_phsudoeffect::before {
        top: 0;
        right: 30px;
        height: 85%;
    }
    .booking_vendor_steps_mainSec .secondform_CustomStyle .mediaSec.areyouSection ul li {
        width: 50%;
    }
    .booking_vendor_steps_mainSec .secondform_CustomStyle .step10flexcolumn li {
        flex: 45%;
    }

    .booking_vendor_steps_mainSec .secondform_CustomStyle .stepTemparateUL.step7Fistul .plan-content {
        padding: 5px 25px;
    }
    .booking_vendor_steps_mainSec .step7frmInfo5 .stepTemparateUL.stepTemparateULstep6.step7Secondul .plan-content {
        padding: 5px 9px;
    }
    .booking_vendor_steps_mainSec .secondform_CustomStyle .stepWizard {
        width: 66%;
    }
    .booking_vendor_steps_mainSec .mediaSec ul li a .lableinputsc {
        padding: 8px 5px;
    }
    .booking_vendor_steps_mainSec .mediaSec .step10flexcolumn li a .lableinputsc {
        font-size: 10.3px;
    }
    .booking_vendor_steps_mainSec .threeStepCounter .calendar {
        width: 230px;
    }
    .booking_vendor_steps_mainSec .threeStepCounter .cal-body__week, 
    .booking_vendor_steps_mainSec .threeStepCounter .calendar__head {
        height: 25px;
        width: 225px;
    }
    .booking_vendor_steps_mainSec .counterIncrementDecremnet {
        padding: 5px 20px;
    }
    .booking_vendor_steps_mainSec .wizardForm .step-steps > li span {
    font-size: 12px;
}

}

@media screen and (max-width:991px) {
    /* 10-12-2022 */
    .booking_vendor_steps_mainSec .bella-d-flex {
        flex-direction: column;
        align-items: flex-start;
    }
    .booking_vendor_steps_mainSec .stepimgUL li {
        flex-basis: 33.33%;
    }
    .booking_vendor_steps_mainSec .bella-d-flex .destination-expertCall {
        width: 100%;
    }
    .booking_vendor_steps_mainSec .icon-bella {
        margin: auto;
    }
    .booking_vendor_steps_mainSec .bella-d-flex .callChatANch {
        display: inline-flex;
        justify-content: center;
    }
    .booking_vendor_steps_mainSec .bella-d-flex .destination-expertCall img {
        margin-right: 7px; width: 21px;
    }
    .booking_vendor_steps_mainSec .stepSoloUL .plan-content {
        width: 145px; padding: 5px 10px;
    }
    .booking_vendor_steps_mainSec .stepSoloUL .plan-content img {
        left: 57px;
    }
    .booking_vendor_steps_mainSec .counterIncDec1 .formInput {
        padding: 5px 10px;
    }
    .booking_vendor_steps_mainSec .wizardForm .step-footer > .step-btn.backBtn.prevfooterbtn {
        margin-top: 0;
    }
    .booking_vendor_steps_mainSec .locationIOIcon {
        top: 11px;
    }
    /* 10-12-2022 */
    
    .booking_vendor_steps_mainSec .wizSec .ulWizard {
    padding: 0px 0px;     height: 400px;
} 

}

@media screen and (min-width:768px) and (max-width:991px) {
    .booking_vendor_steps_mainSec .stepSoloUL .plan-content {
        width: 145px;
        height: 40px;
        padding: 7px 10px;
    }
    .booking_vendor_steps_mainSec .stepSoloUL {
        align-items: flex-start;
    }
    .booking_vendor_steps_mainSec .stepSoloUL .plan-content img {
        left: 60px;
    }
    .booking_vendor_steps_mainSec .counterIncrementDecremnet {
        padding: 5px 15px;
    }
    .booking_vendor_steps_mainSec .crossSignPlanMyTrip {
        right: 51px;
    }
    .booking_vendor_steps_mainSec .secondform_CustomStyle .stepTemparateUL .plan-content {
        padding: 6px 30px; 
    }
    .booking_vendor_steps_mainSec .secondform_CustomStyle  .mediaSec.areyouSection ul li {
        width: 60%;
    }
    .booking_vendor_steps_mainSec .secondform_CustomStyle .step7frmInfo5 .stepTemparateUL.stepTemparateULstep6 .plan-content {
        padding: 5px 17px;
    }
    .booking_vendor_steps_mainSec .secondform_CustomStyle .step10flexcolumn li {
        flex: 45%;
    }
    .booking_vendor_steps_mainSec .deal-para {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .booking_vendor_steps_mainSec .step6frmInfo5 .stepTemparateUL,
    .booking_vendor_steps_mainSec .step7frmInfo5 .stepTemparateUL  {
        margin-bottom: 15px;
    }
    
    .booking_vendor_steps_mainSec .step7frmInfo5 .stepTemparateUL.stepTemparateULstep6.step7Secondul .plan-content {
        padding: 5px 10px;
    }
    
    .booking_vendor_steps_mainSec .step7frmInfo5 .stepTemparateUL.step7Secondul .plan-content img {
        max-width: inherit;
        height: 30px;
    }
    .booking_vendor_steps_mainSec .step7frmInfo5 .imgHeadingstep {
        font-size: 11.5px;
    }
    .booking_vendor_steps_mainSec .container-custom {
        width: 97%;
    }
    .booking_vendor_steps_mainSec .secondform_CustomStyle .bella-d-flex .callChatANch {
        display: inline; text-align: center;
    }
    .booking_vendor_steps_mainSec .secondform_CustomStyle .bella-d-flex .destination-expertCall img {
        margin-right: 2px;     width: 15px;
    }
    .booking_vendor_steps_mainSec .secondform_CustomStyle .stepWizard {
        width: 75%;
    }
    .booking_vendor_steps_mainSec .secondform_CustomStyle .mediaSec .step10flexcolumn {
        gap: 5px;
        row-gap: 12px;
    }
    .booking_vendor_steps_mainSec .mediaSec ul li a .lableinputsc {
        padding: 8px 5px;
    }
    .booking_vendor_steps_mainSec .mediaSec .step10flexcolumn li a .lableinputsc {
        font-size: 9.1px;
    }
    .booking_vendor_steps_mainSec .wizSec  .secondform_CustomStyle  .ulWizard {
        padding: 90px 0px;
    }
    .booking_vendor_steps_mainSec .stepimgUL li {
        flex-basis: 15.8%;
    }
    .booking_vendor_steps_mainSec .stepimgUL {
        gap: 5px;
    }
    .booking_vendor_steps_mainSec .imgHeadingstep {
        font-size: 10.5px;
    }
    .booking_vendor_steps_mainSec .secTitle h2 {
        font-size: 12px;     margin-top: 15px;
    }
    .booking_vendor_steps_mainSec .create_acc_heading {
        margin-bottom: 10px;
    }
    .booking_vendor_steps_mainSec .wizardForm .step-footer>.step-btn {
        font-size: 12.5px;
    }
    .booking_vendor_steps_mainSec .wizSec .ulWizard {
        height: 335px;
    }
    .booking_vendor_steps_mainSec .wizardForm .step-steps > li span {
        font-size:9px;
    }
    .booking_vendor_steps_mainSec .step3Sec .imgHeadingstep {
        font-size: 10.5px;
    }
    .booking_vendor_steps_mainSec .stepSoloUL .plan-content img {
        top: -15px;
        width: 24px;
        height: 24px;
    }
    .booking_vendor_steps_mainSec .step3Sec .imgHeadingstep {
        padding: 5px 0 5px;
    }
    .booking_vendor_steps_mainSec .stepSoloUL {
        margin-top: 15px;
        margin-bottom: 12px;
    }
    .booking_vendor_steps_mainSec .titleCounter {
        font-size: 11px;
    }
    .booking_vendor_steps_mainSec .subheadingCounter {
        font-size: 9px;
    }
    .booking_vendor_steps_mainSec .counterTitle {
        padding: 5px 0;
    }
    .booking_vendor_steps_mainSec .counterIncDec input[type="text"], 
    .booking_vendor_steps_mainSec .threeStepCounter span {
        font-size: 12px;
    }
    .booking_vendor_steps_mainSec .counterIncDec button {
        width: 16px;
        height: 16px;
        font-size: 10px;
        line-height: 10px;
    }
    .booking_vendor_steps_mainSec .counterIncDec input[type="text"] {
        width: 22px;
    }
    .booking_vendor_steps_mainSec .counterIncDec1 .formInput {
        font-size: 11px;     width: 90px;
    }
    .booking_vendor_steps_mainSec .threeStepCounter .calendar__month {
        padding: 5px;
    }
    .booking_vendor_steps_mainSec .threeStepCounter .cal-month__current {
        font-size: 11px;
    }
    .booking_vendor_steps_mainSec .threeStepCounter .cal-body__day, 
    .booking_vendor_steps_mainSec .threeStepCounter .cal-head__day, 
    .booking_vendor_steps_mainSec .threeStepCounter .cal-body__day, 
    .booking_vendor_steps_mainSec .threeStepCounter .para {
        font-size: 9.5px;
    }
    .booking_vendor_steps_mainSec .threeStepCounter .cal-body__week, 
    .booking_vendor_steps_mainSec .threeStepCounter .calendar__head {
        height: 20px;     width: 208px;
    }
    .booking_vendor_steps_mainSec .threeStepCounter .calendar {
        width: 210px;
    }
    .booking_vendor_steps_mainSec .threeStepCounter .cal-head__day, 
    .booking_vendor_steps_mainSec .threeStepCounter .cal-body__day {
        width: 17px;
        height: 17px;
        line-height: 17px;
    }
    .booking_vendor_steps_mainSec .dateflexibleDIv .form-check-input {
        margin-top: 8px; width: 14px;
        height: 14px;
    }
    .booking_vendor_steps_mainSec .threeStepCounter span {
        padding-right: 5px;
    }
    .booking_vendor_steps_mainSec .step-btn.stepssubTitle.nextfooterbtn, 
    .booking_vendor_steps_mainSec .wizardForm .step-footer>.step-btn.submitfooterbtn {
        margin-bottom: 8px;
    }
    .booking_vendor_steps_mainSec .threeStepCounter .create_acc_heading {
        margin-bottom: 5px;
        margin-top: 10px;
    }
    .booking_vendor_steps_mainSec .logo {
        width: 105px;
    }
    .booking_vendor_steps_mainSec .crossSignPlanMyTrip {
        width: 24px;
    }
    .booking_vendor_steps_mainSec .threeStepCounter .cal-month__previous {
        margin-left: -5px;
    }
    .booking_vendor_steps_mainSec .threeStepCounter .cal-month__next {
        padding-right: 5px;
    }
    .booking_vendor_steps_mainSec .threeStepCounter .dateflexibleDIv .para {
        margin-top: 8.5px;
    }
    .booking_vendor_steps_mainSec .threeStepCounter .para {
        margin-bottom: 5px;
    }
    .booking_vendor_steps_mainSec .process_heading {
        font-size: 12px;
    }
    .booking_vendor_steps_mainSec .mediaSec ul {
        gap: 5px;
    }
    .booking_vendor_steps_mainSec .threeStepCounter .cal-day__month--current, 
    .booking_vendor_steps_mainSec .mediaSec ul li a .lableinputsc, 
    .booking_vendor_steps_mainSec .wizardForm .form-label,
    .booking_vendor_steps_mainSec .reset_theme_step4   {
        font-size: 9px;
    }
    .booking_vendor_steps_mainSec .email-ver-link {
        font-size: 7.5px;
    }
    .booking_vendor_steps_mainSec .mediaSec ul li a .lableinputsc {
        padding: 5px 7px;
    }
    .booking_vendor_steps_mainSec .otherinputfiled {
        margin-top: 5px;
    }   
    .booking_vendor_steps_mainSec .wizardForm .form-control::placeholder ,  
    .booking_vendor_steps_mainSec .wizardForm span.error, 
    .booking_vendor_steps_mainSec label.error {
        font-size: 10px;
    }
    .booking_vendor_steps_mainSec .form-control ,  
    .booking_vendor_steps_mainSec .otherinputfiled .form-control  {
        height: 32px !important;
    }
    .booking_vendor_steps_mainSec .step6form {
        margin-bottom: 5px;
    }
    .booking_vendor_steps_mainSec .title-prefer {
        font-size: 10px;
    }
    .booking_vendor_steps_mainSec .wizardForm .error-msg .error {
        font-size: 9px;
        line-height: inherit;
    }
    .booking_vendor_steps_mainSec .step7frmInfo5 .stepplacesUL, 
    .booking_vendor_steps_mainSec .step6frmInfo5 .stepTemparateUL {
        margin-top: 5px;
    }
    .booking_vendor_steps_mainSec .stepTemparateUL .plan-content {  height: auto; }
    .booking_vendor_steps_mainSec .stepTemparateUL .plan-content img {
        max-width: 15px;
    }
    .booking_vendor_steps_mainSec .step7frmInfo5 .imgHeadingstep ,
    .booking_vendor_steps_mainSec .step6frmInfo5 .imgHeadingstep   {
        font-size: 9px;
    }
    .booking_vendor_steps_mainSec .step6frmInfo5 .error-msg, 
    .booking_vendor_steps_mainSec .step7frmInfo5 .error-msg {
        margin-top: -5px;
    }
    .booking_vendor_steps_mainSec .step7frmInfo5 .stepTemparateUL .plan-content img {
        max-width: 20px;
    }
    .booking_vendor_steps_mainSec .step7frmInfo5 .stepTemparateUL .plan-content {
        height: 55px;
    }
    .booking_vendor_steps_mainSec .step7frmInfo5 .stepTemparateUL.step7Secondul .plan-content img {
        height: 20px;
    }
    .booking_vendor_steps_mainSec .step7frmInfo5 .stepTemparateUL {
        margin-top: 5px;
    }
    .booking_vendor_steps_mainSec .secondform_CustomStyle .process_heading {
        text-align: center;
    }
    .booking_vendor_steps_mainSec .secondform_CustomStyle .secondform_CustomStyle .ulWizard  .bella-d-flex {
        justify-content: center;
    }
    .booking_vendor_steps_mainSec .secondform_CustomStyle .callChatANch {
        font-size: 10.5px;
    }
    .booking_vendor_steps_mainSec .dealshead1 {
        font-size: 22px;   
    }
    .booking_vendor_steps_mainSec .dealbutton a {
        margin: 0px auto 20px; font-size:13.5px;
    } 
    .booking_vendor_steps_mainSec .dealsSec .bella-d-flex {
        flex-direction: row;
        align-items: center;
    }
    .booking_vendor_steps_mainSec .dealsSec .bella-d-flex .destination-expertCall {
        width: auto; gap: 8px;
    }
    .booking_vendor_steps_mainSec .dealsSec .icon-bella {
        margin: 0;
    }
    .booking_vendor_steps_mainSec .dealsSec .bella-d-flex .callChatANch {
        display: inherit;
        justify-content: flex-start;
    }
    .travelers-room-new .titleRoom {
        font-size: 14px !important;
    }
    .booking_vendor_steps_mainSec .travelers-room-new .stepTemparateUL .plan-content img {
        max-width: 30px;
    }
    .booking_vendor_steps_mainSec .travelers-room-new .stepTemparateUL .plan-content .f-flex-img img {
        max-width: 17px;
    }
    .travelers-room-new .stepTemparateUL li .plan-content {
        height: 50px;
    }


 }



@media screen and (max-width:767px) {
    .booking_vendor_steps_mainSec .wizardForm .step-footer>.step-btn {
        width: 100%;
    }
    .booking_vendor_steps_mainSec .stepimgUL li {
        flex-basis:25%;
    }
    .booking_vendor_steps_mainSec .stepplacesUL .plan-content {
        width: auto;
    }
    .booking_vendor_steps_mainSec .mobile_lastName { margin-top: 15px;}
    /* 10-12-22*/
    .booking_vendor_steps_mainSec .wizSec .ulWizard {
        padding: 30px 0px 60px 0;
    }
    .booking_vendor_steps_mainSec .process_heading {
        text-align: center;
    }
    .booking_vendor_steps_mainSec .stepSoloUL .plan-content {
        width: 160px;
    }
    .booking_vendor_steps_mainSec .stepSoloUL .plan-content img {
        left: 65px;
        top: -20px;
        width: 33px;
        height: 33px;
    }
    .booking_vendor_steps_mainSec .crossSignPlanMyTrip {
        right: 30px;
    }
    .booking_vendor_steps_mainSec .secondform_CustomStyle .stepTemparateUL .plan-content {
        padding: 5px 20px;
    }
    .booking_vendor_steps_mainSec .secondform_CustomStyle  .mediaSec.areyouSection ul li {
        width: 100%;
    }
    .booking_vendor_steps_mainSec .dealshead1 {
        font-size: 20px;
    }
    .booking_vendor_steps_mainSec .deal-para {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .booking_vendor_steps_mainSec .dealbutton a {
        font-size: 15px;
    }
    .booking_vendor_steps_mainSec .step6frmInfo5 .stepTemparateUL li ,
    .booking_vendor_steps_mainSec .step7frmInfo5 .stepTemparateUL li {
    width: 47%;
   }
   .booking_vendor_steps_mainSec .step6frmInfo5 .stepTemparateUL li a, 
   .booking_vendor_steps_mainSec .step7frmInfo5 .stepTemparateUL li a, 
   .booking_vendor_steps_mainSec .step6frmInfo5 .stepTemparateUL li label, 
   .booking_vendor_steps_mainSec .step7frmInfo5 .stepTemparateUL li label, 
   .booking_vendor_steps_mainSec .step6frmInfo5 .stepTemparateUL li label .plan-content ,
   .booking_vendor_steps_mainSec .step7frmInfo5 .stepTemparateUL li label .plan-content {
        width: 100%;
   }
   .booking_vendor_steps_mainSec .step6frmInfo5 .stepTemparateUL,
   .booking_vendor_steps_mainSec .step7frmInfo5 .stepTemparateUL  {
        margin-bottom: 30px;
    }
    .booking_vendor_steps_mainSec .step7frmInfo5 .stepTemparateUL .plan-content img {
        max-width: initial;
    }
    .booking_vendor_steps_mainSec .secondform_CustomStyle .stepWizard {
        width: 100%;
    }
    .booking_vendor_steps_mainSec .step10flexcolumn li {
        flex: 100%;
    }
    .booking_vendor_steps_mainSec .firstform_stepArt .mediaSec ul li { 
        width:48%;
    }  
    .booking_vendor_steps_mainSec .firstform_stepArt .mediaSec ul li a ,
    .booking_vendor_steps_mainSec .firstform_stepArt .mediaSec ul li a label {
    width: 100%;
    }
    .booking_vendor_steps_mainSec .wizSec .ulWizard {
    height: auto;
    }
    .booking_vendor_steps_mainSec .title-prefer {
        font-size: 13.5px; font-weight: 600;
    }
    
    /* 10-12-22*/
    .booking_vendor_steps_mainSec .dealsSec .update-preflex {
        flex-direction: column;
    }
    .booking_vendor_steps_mainSec .dealsSec .answer-ques-deals {
        width: 100%;     font-size: 13.5px;
    }
    .booking_vendor_steps_mainSec .travelers-room-new .stepTemparateUL .plan-content img {
        max-width: 30px;
    }
    .booking_vendor_steps_mainSec .travelers-room-new .stepTemparateUL .plan-content .f-flex-img img {
        max-width: 17px;
    }
    .travelers-room-new .stepTemparateUL li .plan-content {
        height: 50px;
    }
    .travelers-room-new .title-prefer-er {    flex-direction: column;     gap: 5px; align-items: flex-start;    }
    

}

@media screen and (max-width:613px) {
    .booking_vendor_steps_mainSec .lightPinkColor .form-check-input[type=checkbox] {
        margin-right: 10px;
    }

    .booking_vendor_steps_mainSec .termConditionSubtext {
        display: inline;
    }

    .booking_vendor_steps_mainSec .stepSoloUL {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }

}



@media screen and (max-width:575px) {
    .booking_vendor_steps_mainSec .stepimgUL {
        gap: 10px;
    }
    .booking_vendor_steps_mainSec .stepimgUL li {
        flex-basis: 31.33%;
    }
    .booking_vendor_steps_mainSec .secondform_CustomStyle .stepTemparateUL .plan-content {
        padding: 5px 15px;
    }
   
    .booking_vendor_steps_mainSec .mediaSec ul li label, 
    .booking_vendor_steps_mainSec .stepTemparateUL li label  {
        text-align: center; width: 100%;
    }
    .booking_vendor_steps_mainSec .step6frmInfo5 .stepTemparateUL, 
    .booking_vendor_steps_mainSec .step7frmInfo5 .stepTemparateUL {
        margin-bottom: 40px;
    }
    .booking_vendor_steps_mainSec .step6frmInfo5 .stepTemparateUL li,
    .booking_vendor_steps_mainSec .step7frmInfo5 .stepTemparateUL li  {
        width:100%;
    }
    .booking_vendor_steps_mainSec .step6frmInfo5 .stepTemparateUL li a, 
    .booking_vendor_steps_mainSec .step7frmInfo5 .stepTemparateUL li a, 
    .booking_vendor_steps_mainSec .step6frmInfo5 .stepTemparateUL li label, 
    .booking_vendor_steps_mainSec .step6frmInfo7 .stepTemparateUL li label, 
    .booking_vendor_steps_mainSec .step7frmInfo5 .stepTemparateUL li label .plan-content ,
    .booking_vendor_steps_mainSec .step6frmInfo5 .stepTemparateUL li label .plan-content {
        width: 100%;
    }

    .booking_vendor_steps_mainSec .firstform_stepArt .mediaSec ul li { 
        width: 100%;
    }    
    .booking_vendor_steps_mainSec .reset_theme_step4 {
        width: 100%;
        justify-content: center;
}

}


@media screen and (max-width:410px) {
    .booking_vendor_steps_mainSec .stepimgUL li {
        flex-basis: 47%;
    }
    .booking_vendor_steps_mainSec .threeStepCounter .calendar, 
    .booking_vendor_steps_mainSec .threeStepCounter .cal-body__week,
    .booking_vendor_steps_mainSec .threeStepCounter .calendar__head {
        width: 100%;     padding: 5px;
    }
    .booking_vendor_steps_mainSec .logo {
        width: 130px;
    }
    .booking_vendor_steps_mainSec .crossSignPlanMyTrip {
        width: 27px;
    }
    .booking_vendor_steps_mainSec .dateflexibleDIv {
        text-align: center;
    }
    .booking_vendor_steps_mainSec .secondform_CustomStyle .stepTemparateUL .plan-content {
        padding: 5px 12px;
    }  
}