    .threeStepCounter  .calendar {
        width: 375px; border: 1px solid #004963;
        border-radius: 7px;
    }
  
  .threeStepCounter .calendar__month {
    font-size: 15px;
    font-weight: 800;
    padding: 10px;
    width: 100%;
    position: relative;
  }
  
  .threeStepCounter  .cal-month__previous,
  .threeStepCounter  .cal-month__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 25px;
    height: 25px;
    text-align: center; color: #004963; font-weight: 400;
  }
  .threeStepCounter .cal-month__previous:hover,
  .threeStepCounter .cal-month__next:hover {
    background-color: transparent;
    box-shadow: none;
    border-radius: 50%;
    font-weight: 800;
    color: #004963;
  }
  
  .threeStepCounter .cal-month__next {
    right: 0;
  }
  
  .threeStepCounter .cal-month__current {
    text-align: center;
    color: #004963;
    font-weight: 500;
    font-size: 16px;
  }
  
  .threeStepCounter .cal-head__day,
  .threeStepCounter .cal-body__day {
    display: inline-block;
    width: 35px;
    height: 35px;
    color: #004963;
    font-size: 15px;
    font-weight: 500;
  }
  
  .threeStepCounter .cal-body__week,
  .threeStepCounter .calendar__head {
    display: block;
    height: 35px;
    width: 375px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
  
  .threeStepCounter .calendar__head {
    line-height: 35px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
  
  .threeStepCounter .cal-body__day {
    color: #b2b2b2;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
  }
  
  .threeStepCounter .cal-day__month--current {
    color: #004963;
    font-weight: 500;
    font-size: 15px;
  }
  
  .threeStepCounter .cal-day__day--today {
    font-weight: 800;
    color: #004963;
  }
  
  .threeStepCounter .cal-day__day--selected {
    background-color: #004963;
    box-shadow: none;
    color: #e0ffdf;
    font-weight: 700;
    border-radius:8px;
    line-height: 35px;
  }
  
  

.threeStepCounter .cal-month__previous {padding-left: 5px;     margin-left: -10px; }
.threeStepCounter .cal-month__next {
    padding-right: 15px;
}

.dateflexibleDIv .form-check-input { background-color: transparent;   border: 1px solid #004963; margin-top: 11px; }
.threeStepCounter .dateflexibleDIv .para  { margin-bottom: 0;  cursor: pointer; margin-top: 10px; }



.threeStepCounter .create_acc_heading {
  margin-bottom: 15px;
}